---
import Background from "@components/blogs/background.astro";
import Layout from "@layouts/LayoutBlog.astro";
import Content from "@components/blogs/content.astro";
import Doctorialia from "@components/icons/Doctoralia.astro";
import Facebook from "@components/icons/Facebook.astro";
import Instagram from "@components/icons/Instagram.astro";
import Tiktok from "@components/icons/Tiktok.astro";
import { slide } from "astro:transitions";
import Menu from "@components/blogs/Menu";

export function getStaticPaths() {
  return [
    { params: { blog: "tibia-and-fibula-fracture" } },
    { params: { blog: "pseudoarthrosis-and-delayed-union" } },
    { params: { blog: "anterior-cruciate-ligament-injury" } },
    {
      params: {
        blog: "osteoporosis-a-silent-condition-affecting-half-the-population-over-50",
      },
    },
    {
      params: {
        blog: "knee-injections-with-hyaluronic-acid-for-knee-osteoarthritis-treatment",
      },
    },
    {
      params: {
        blog: "conservative-treatment-vs-surgery-when-conservative-treatment-fails-and-requires-surgical-intervention-for-cervical-disc-herniation",
      },
    },
    {
      params: {
        blog: "why-is-it-said-that-the-body-rejects-material-factors-associated-with-failure-in-fracture-osteosynthesis",
      },
    },
    {
      params: {
        blog: "bunions-symptoms-detection-and-types-of-surgery-to-remove-them",
      },
    },
    {
      params: {
        blog: "knee-injections-options-and-benefits-for-osteoarthritis",
      },
    },
    {
      params: {
        blog: "tendinitis-and-tendinosis-causes-differences-and-treatment",
      },
    },
    {
      params: {
        blog: "how-to-tell-if-its-arthritis-or-osteoarthritis",
      },
    },
    {
      params: {
        blog: "low-back-pain-types-risk-factors-and-treatments",
      },
    },
    {
      params: {
        blog: "proximal-humerus-fracture-in-older-adults",
      },
    },
    {
      params: {
        blog: "is-a-second-surgery-necessary-to-treat-pseudoarthrosis",
      },
    },
    {
      params: {
        blog: "hidden-fractures-diagnosis-tijuana",
      },
    },
    {
      params: {
        blog: "knee-pain-arthroscopy-to-treat-joint-wear",
      },
    },
    {
      params: {
        blog: "the-best-orthopedic-duo-in-tijuana",
      },
    },
    {
      params: {
        blog: "dr-ricardo-monge-resolves-all-your-questions-about-meniscus-injuries",
      },
    },
    {
      params: {
        blog: "traumatology-assessment-clear-your-doubts-and-design-your-pain-free-path",
      },
    },
    {
      params: {
        blog: "broken-ankle-symptoms-surgery-or-no-surgery-and-recovery",
      },
    },
    {
      params: {
        blog: "you-fractured-phases-symptoms-and-what-to-expect-in-your-recovery",
      },
    },
    {
      params: {
        blog: "back-pain-differences-between-spondylosis-spondylitis-spondylolysis-and-spondylolisthesis",
      },
    },
    {
      params: {
        blog: "hormonal-imbalance-and-your-bone-health-how-they-influence",
      },
    },
    {
      params: {
        blog: "elbow-arthroscopy-the-minimally-invasive-technique-that-relieves-pain-and-restores-mobility",
      },
    },
    {
      params: {
        blog: "dislocation-complete-guide-when-it-is-an-emergency-symptoms-treatment-and-recovery",
      },
    },
    {
      params: {
        blog: "pain-and-stiffness-in-the-neck-it-could-be-cervical-osteoarthritis",
      },
    },
  ];
}

const blogs = [
  {
    titulo: "tibia-and-fibula-fracture",
    ruta: "/en/blogs/tibia-and-fibula-fracture",
    date: "April 2024",
    blogTitle: "Tibia and Fibula Fracture",
    title: "Tibia and Fibula Fractures: Treatment and Recovery Guide",
    description:
      "Learn all about tibia and fibula fractures: causes, symptoms, conservative and surgical treatments, tips, and effective rehabilitation.",
    keywords:
      "tibia and fibula fractures, fracture treatment and rehabilitation",
    id: 1,
  },
  {
    titulo: "pseudoarthrosis-and-delayed-union",
    ruta: "/en/blogs/pseudoarthrosis-and-delayed-union",
    blogTitle: "Pseudoarthrosis and Delayed Union",
    date: "May 2024",
    title: "Fracture Complications: Pseudoarthrosis and Union",
    description:
      "Explore the causes and treatments for fracture complications, pseudoarthrosis, and delayed union. Learn how to optimize recovery.",
    keywords: "fracture complications pseudoarthrosis treatment",
    id: 2,
  },
  {
    titulo: "anterior-cruciate-ligament-injury",
    ruta: "/en/blogs/anterior-cruciate-ligament-injury",
    blogTitle: "Anterior Cruciate Ligament Injury",
    date: "June 2024",
    title: "Recovery from Anterior Cruciate Ligament Injury in Women",
    description:
      "Discover why women are more prone to ACL injuries and how arthroscopy can help in fast and effective recovery.",
    keywords: "anterior cruciate ligament injury, ACL recovery, arthroscopy",
    id: 3,
  },
  {
    titulo:
      "osteoporosis-a-silent-condition-affecting-half-the-population-over-50",
    ruta: "/en/blogs/osteoporosis-a-silent-condition-affecting-half-the-population-over-50",
    blogTitle: "Osteoporosis: A Silent Condition",
    date: "July 2024",
    title:
      "Osteoporosis: A Silent Condition Affecting Half the Population Over 50",
    description:
      "Learn more about osteoporosis, a disease affecting millions of people over 50. Discover its causes, symptoms, and treatments.",
    keywords: "osteoporosis, silent disease, osteoporosis treatment",
    id: 4,
  },
  {
    titulo:
      "knee-injections-with-hyaluronic-acid-for-knee-osteoarthritis-treatment",
    ruta: "/en/blogs/knee-injections-with-hyaluronic-acid-for-knee-osteoarthritis-treatment",
    blogTitle: "Knee Injections with Hyaluronic Acid",
    date: "August 2024",
    title:
      "Knee Injections with Hyaluronic Acid for Knee Osteoarthritis Treatment",
    description:
      "Discover how hyaluronic acid injections can help in treating knee osteoarthritis, relieving pain and improving mobility.",
    keywords: "knee injections, hyaluronic acid, knee osteoarthritis treatment",
    id: 5,
  },
  {
    titulo:
      "conservative-treatment-vs-surgery-when-conservative-treatment-fails-and-requires-surgical-intervention-for-cervical-disc-herniation",
    ruta: "/en/blogs/conservative-treatment-vs-surgery-when-conservative-treatment-fails-and-requires-surgical-intervention-for-cervical-disc-herniation",
    date: "September 2024",
    blogTitle: "Conservative Treatment vs Surgery",
    title:
      "Conservative Treatment vs Surgery: When Conservative Treatment Fails and Requires Surgical Intervention for Cervical Disc Herniation",
    description:
      "Explore the differences between conservative treatment and surgery for cervical disc herniation, and when surgical intervention is necessary.",
    keywords:
      "conservative treatment, surgery, cervical disc herniation, surgical intervention",
    id: 6,
  },
  {
    titulo:
      "why-is-it-said-that-the-body-rejects-material-factors-associated-with-failure-in-fracture-osteosynthesis",
    ruta: "/en/blogs/why-is-it-said-that-the-body-rejects-material-factors-associated-with-failure-in-fracture-osteosynthesis",
    blogTitle: "Material Rejection in Osteosynthesis",
    title:
      "Why is it Said That the Body Rejects Material? Factors Associated with Failure in Fracture Osteosynthesis",
    date: "October 2024",
    description:
      "Learn about the factors that can lead to failure in fracture osteosynthesis and why it's sometimes said that the body rejected the material.",
    keywords:
      "material rejection, osteosynthesis failure, fractures, associated factors",
    id: 7,
  },
  {
    titulo: "bunions-symptoms-detection-and-types-of-surgery-to-remove-them",
    ruta: "/en/blogs/bunions-symptoms-detection-and-types-of-surgery-to-remove-them",
    blogTitle:
      "Bunions: Symptoms, Detection and Types of Surgery to Remove Them",
    title: "Bunions: Symptoms, Detection and Types of Surgery to Remove Them",
    date: "November 2024",
    description:
      "Learn all about bunions: symptoms, detection, and types of surgery to remove them. Discover how to treat and prevent this foot condition.",
    keywords: "bunions, bunion surgery, bunion treatment",
    id: 8,
  },
  {
    titulo: "knee-injections-options-and-benefits-for-osteoarthritis",
    ruta: "/en/blogs/knee-injections-options-and-benefits-for-osteoarthritis",
    blogTitle: "Knee Injections: Options and Benefits for Osteoarthritis",
    title: "Knee Injections: Options and Benefits for Osteoarthritis",
    date: "December 2024",
    description:
      "Discover the options and benefits of knee injections for osteoarthritis treatment. Learn how to relieve pain and improve mobility.",
    keywords: "Tendinitis and tendinosis causes, differences and treatment",
    id: 9,
  },
  {
    titulo: "tendinitis-and-tendinosis-causes-differences-and-treatment",
    ruta: "/en/blogs/tendinitis-and-tendinosis-causes-differences-and-treatment",
    blogTitle: "Tendinitis and Tendinosis: Causes, Differences and Treatment",
    date: "January 2025",
    title:
      "Tendinitis and Tendinosis: Causes, Differences and Treatment for Effective Recovery",
    description:
      "Discover the causes, differences and treatments for tendinitis and tendinosis. Learn how to recover from these tendon injuries effectively.",
    keywords: "Tendinitis and tendinosis causes, differences and treatment",
    id: 10,
  },
  {
    titulo: "how-to-tell-if-its-arthritis-or-osteoarthritis",
    ruta: "/en/blogs/how-to-tell-if-its-arthritis-or-osteoarthritis",
    blogTitle: "How to Tell if It's Arthritis or Osteoarthritis?",
    date: "February 2025",
    title:
      "How to Tell if It's Arthritis or Osteoarthritis? Symptoms and Key Differences",
    description:
      "Dr. Ricardo Monge explains the key difference between arthritis, an autoimmune disease, and osteoarthritis, a degenerative joint condition.",
    keywords: "Arthritis, Osteoarthritis, Symptoms",
    id: 11,
  },
  {
    titulo: "low-back-pain-types-risk-factors-and-treatments",
    ruta: "/en/blogs/low-back-pain-types-risk-factors-and-treatments",
    blogTitle: "How to Tell if It's Arthritis or Osteoarthritis?",
    date: "February 2025",
    title: "Low Back Pain: Types, Risk Factors and Treatments",
    description:
      "It's very likely you'll experience it at some point in your life. This pain is located in the lumbar region, that is, in the lower back and waist, and can radiate to the buttocks and thighs.",
    keywords: "Low back pain, postural hygiene, healthy back",
    id: 12,
  },
  {
    titulo: "proximal-humerus-fracture-in-older-adults",
    ruta: "/en/blogs/proximal-humerus-fracture-in-older-adults",
    blogTitle: "Proximal Humerus Fracture in Older Adults",
    date: "March 2025",
    title: "Proximal Humerus Fracture in Older Adults",
    description:
      "Causes, types of fractures, recovery time, explained by Dr. Ricardo Monge, specialist in musculoskeletal injuries in older adults.",
    keywords: "Proximal humerus fracture, older adults, recovery",
    id: 13,
  },
  {
    titulo: "is-a-second-surgery-necessary-to-treat-pseudoarthrosis",
    ruta: "/en/blogs/is-a-second-surgery-necessary-to-treat-pseudoarthrosis",
    blogTitle: "Is a Second Surgery Necessary to Treat Pseudoarthrosis?",
    date: "March 2025",
    title: "Is a Second Surgery Necessary to Treat Pseudoarthrosis?",
    description:
      "Learn about orthopedics and traumatology with Dr. Ricardo Monge. Discover how pseudoarthrosis surgery is more than just surgery - it's a bone rescue.",
    keywords: "pseudoarthrosis, surgery, treatment",
    id: 14,
  },
  {
    titulo: "hidden-fractures-diagnosis-tijuana",
    ruta: "/en/blogs/hidden-fractures-diagnosis-tijuana",
    blogTitle: "Hidden Fractures: Diagnosis and Treatment",
    date: "April 2025",
    title: "Hidden Fractures: Why They Don't Always Show Up on X-rays",
    description:
      "Join us to learn about the main causes and risk factors of hidden fractures with Ricardo Monge, orthopedic trauma surgeon in Tijuana.",
    keywords: "hidden fractures, diagnosis, treatment",
    id: 15,
  },
  {
    titulo: "knee-pain-arthroscopy-to-treat-joint-wear",
    ruta: "/en/blogs/knee-pain-arthroscopy-to-treat-joint-wear",
    blogTitle: "Knee Pain? Arthroscopy to Treat Joint Wear",
    date: "April 2025",
    title: "Knee Pain? Arthroscopy to Treat Joint Wear",
    description:
      "Dr. Ricardo Monge, expert in knee arthroscopy in Tijuana, answers your questions about minimally invasive surgery with maximum results.",
    keywords: "knee arthroscopy, joint wear, treatment",
    id: 16,
  },
  {
    titulo: "the-best-orthopedic-duo-in-tijuana",
    ruta: "/en/blogs/the-best-orthopedic-duo-in-tijuana",
    blogTitle: "The Best Orthopedic Duo in Tijuana",
    date: "May 2025",
    title: "The Best Orthopedic Duo in Tijuana",
    description:
      "Discover the best orthopedic duo in Tijuana, Dr. Ricardo Monge and Dr. Luis Monge, and how they can help you with your orthopedic needs.",
    keywords: "orthopedic duo, Tijuana, orthopedic care",
    id: 17,
  },
  {
    titulo:
      "dr-ricardo-monge-resolves-all-your-questions-about-meniscus-injuries",
    ruta: "/en/blogs/dr-ricardo-monge-resolves-all-your-questions-about-meniscus-injuries",
    blogTitle: "Meniscal Tears: Types, Rehabilitation, and When to Operate",
    date: "May 2025",
    title: "Meniscal Tears: Types, Rehabilitation, and When to Operate",
    description:
      "Knee pain? Dr. Ricardo Monge explains the classification, symptoms, diagnoses, conservative treatment and arthroscopy, postoperative care, and more.",
    keywords: "Meniscus, meniscus tear, arthroscopy in Tijuana",
    id: 18,
  },
  {
    titulo:
      "traumatology-assessment-clear-your-doubts-and-design-your-pain-free-path",
    ruta: "/en/blogs/traumatology-assessment-clear-your-doubts-and-design-your-pain-free-path",
    blogTitle: "Traumatology Assessment",
    date: "June 2025",
    title:
      "What Happens During an Orthopedic Evaluation? | Regain Your Mobility",
    description:
      "Dr. Ricardo Monge guides you step by step to get the most out of your consultation, with a personalized approach to your bone and muscle health.",
    keywords: "Orthopedic Consultation, Orthopedic Evaluation in Tijuana",
    id: 19,
  },
  {
    titulo: "broken-ankle-symptoms-surgery-or-no-surgery-and-recovery",
    ruta: "/en/blogs/broken-ankle-symptoms-surgery-or-no-surgery-and-recovery",
    blogTitle: "Broken Ankle: Symptoms, Surgery or No Surgery, and Recovery",
    date: "Junio 2025",
    title: "Broken Ankle: Symptoms, Surgery or No Surgery, and Recovery",
    description:
      "Learn about broken ankle symptoms, when surgery is necessary, and how to recover effectively with Dr. Ricardo Monge.",
    keywords: "broken ankle, symptoms, surgery, recovery",
    id: 20,
  },
  {
    titulo: "you-fractured-phases-symptoms-and-what-to-expect-in-your-recovery",
    ruta: "/en/blogs/you-fractured-phases-symptoms-and-what-to-expect-in-your-recovery",
    blogTitle:
      "Which Phase of Recovery Are You In? Complete Guide for Fracture Patients in Tijuana",
    date: "June 2025",
    title:
      "Did You Fracture Something? Phases, Symptoms, and What to Expect in Your Recovery",
    description:
      "Find out which stage of recovery your fracture is in and identify early signs of improvement or warning with Dr. Ricardo Monge in Tijuana.",
    keywords: "fracture, recovery, fracture phases, Tijuana",
    id: 21,
  },
  {
    titulo:
      "back-pain-differences-between-spondylosis-spondylitis-spondylolysis-and-spondylolisthesis",
    ruta: "/en/blogs/back-pain-differences-between-spondylosis-spondylitis-spondylolysis-and-spondylolisthesis",
    blogTitle: "Diseases of the Spine: Causes, Symptoms and Treatment",
    date: "July 2025",
    title: "Diseases of the Spine: Causes, Symptoms and Treatment",
    description:
      "Spondylosis, Spondylosis, Spondylolisthesis and Spondylolisthesis: Symptoms and treatment options, what causes them and how they affect your back.",
    keywords: "spine diseases, spine treatment, spine symptoms",
    id: 22,
  },
  {
    titulo: "hormonal-imbalance-and-your-bone-health-how-they-influence",
    ruta: "/en/blogs/hormonal-imbalance-and-your-bone-health-how-they-influence",
    blogTitle: "Hormonal Imbalance and Your Bone Health: How They Influence",
    date: "August 2025",
    title: "Hormonal Imbalance and Your Bone Health: How They Influence",
    description:
      "Learn about the hormonal imbalance and its influence on your bone health. Discover how hormones affect your body and how to maintain a healthy balance.",
    keywords: "hormonal imbalance, bone health, hormones",
    id: 23,
  },
  {
    titulo:
      "elbow-arthroscopy-the-minimally-invasive-technique-that-relieves-pain-and-restores-mobility",
    ruta: "/en/blogs/elbow-arthroscopy-the-minimally-invasive-technique-that-relieves-pain-and-restores-mobility",
    blogTitle:
      "Elbow Arthroscopy: The Minimally Invasive Technique That Relieves Pain and Restores Mobility",
    date: "September 2025",
    title:
      "Elbow Arthroscopy: The Minimally Invasive Technique That Relieves Pain and Restores Mobility",
    description:
      "Does your elbow hurt or is it difficult to move? Dr. Ricardo Monge shows you how minimally invasive surgery can restore your mobility and eliminate pain.",
    keywords:
      "elbow arthroscopy, minimally invasive technique, elbow treatment",
    id: 24,
  },
  {
    titulo:
      "dislocation-complete-guide-when-it-is-an-emergency-symptoms-treatment-and-recovery",
    ruta: "/en/blogs/dislocation-complete-guide-when-it-is-an-emergency-symptoms-treatment-and-recovery",
    blogTitle:
      "Dislocation? Types, complications, treatment, and rehabilitation",
    date: "September 2025",
    title: "Dislocation? Types, complications, treatment, and rehabilitation",
    description:
      "Identify the symptoms, learn when it is an emergency, and explore treatment options to recover successfully with injury expert Dr. Ricardo Monge.",
    keywords: "Dislocation emergency, trauma treatment in Tijuana",
    id: 25,
  },
  {
    titulo:
      "pain-and-stiffness-in-the-neck-it-could-be-cervical-osteoarthritis",
    ruta: "/en/blogs/pain-and-stiffness-in-the-neck-it-could-be-cervical-osteoarthritis",
    blogTitle:
      "Pain and Stiffness in the Neck: Could It Be Cervical Osteoarthritis?",
    date: "October 2025",
    title:
      "Pain and Stiffness in the Neck: Could It Be Cervical Osteoarthritis?",
    description:
      "Discover the causes, symptoms, and treatments for cervical osteoarthritis with Dr. Ricardo Monge, an expert in musculoskeletal health.",
    keywords: "cervical osteoarthritis, neck pain, neck stiffness",
    id: 26,
  },
];

const { blog } = Astro.params;
const blogActual = blogs.find((b) => b.titulo === blog);
const asideTitulo = blogActual?.titulo;

let image;
let date;
let content;
let blogTitle;
if (blog === "anterior-cruciate-ligament-injury") {
  image = "/El Dr. Monge tiene experiencia en artroscopia.png";
  date = "June 2024";
  content = "Blog3";
  blogTitle = "Anterior Cruciate Ligament Injury";
} else if (blog === "pseudoarthrosis-and-delayed-union") {
  image =
    "/Tu decides junto con el Dr. Monge cual es el tratamiento mas adecuado para ti.png";
  date = "May 2024";
  content = "Blog2";
  blogTitle = "Pseudoarthrosis and Delayed Union";
} else if (blog === "tibia-and-fibula-fracture") {
  image =
    "/El Dr. Monge ayuda a los pacientes a conocer sus malestares y tratarnos.png";
  date = "April 2024";
  content = "Blog1";
  blogTitle = "Tibia and Fibula Fracture";
} else if (
  blog ===
  "osteoporosis-a-silent-condition-affecting-half-the-population-over-50"
) {
  image = "/El Dr. Monge se juntara en tu diagnostico y tratamiento.webp";
  date = "July 2024";
  content = "Blog4";
  blogTitle =
    "Osteoporosis: A Silent Condition Affecting Half the Population Over 50";
} else if (
  blog ===
  "knee-injections-with-hyaluronic-acid-for-knee-osteoarthritis-treatment"
) {
  image =
    "/Aplicacion de Acido Hialuronico por Doctor Traumatologo Ortopedista.webp";
  date = "August 2024";
  content = "Blog5";
  blogTitle = "Knee Injections with Hyaluronic Acid";
} else if (
  blog ===
  "conservative-treatment-vs-surgery-when-conservative-treatment-fails-and-requires-surgical-intervention-for-cervical-disc-herniation"
) {
  image =
    "/Doctor Ortopedista explicando a paciente sobre el Tratamiento Conservador vs Cirugia.webp";
  date = "September 2024";
  content = "Blog6";
  blogTitle = "Conservative Treatment vs Surgery";
} else if (
  blog ===
  "why-is-it-said-that-the-body-rejects-material-factors-associated-with-failure-in-fracture-osteosynthesis"
) {
  image =
    "/Doctor Traumatologo Ortopedista Explicando a paciente el por que del Rechazo de Material.webp";
  date = "October 2024";
  content = "Blog7";
  blogTitle = "Material Rejection in Osteosynthesis";
} else if (
  blog === "bunions-symptoms-detection-and-types-of-surgery-to-remove-them"
) {
  image =
    "/Los juanetes es una deformidad que pasa en el primer dedo donde se va angulando.webp";
  date = "November 2024";
  content = "Blog8";
  blogTitle =
    "Bunions: Symptoms, Detection, and Types of Surgery to Remove Them";
} else if (blog === "knee-injections-options-and-benefits-for-osteoarthritis") {
  image =
    "/Aplicacion de Infiltraciones en rodilla por doctor Traumatologo Ortopedista.webp";
  date = "December 2024";
  content = "Blog9";
  blogTitle = "Knee Injections: Options and Benefits for Osteoarthritis";
} else if (
  blog === "tendinitis-and-tendinosis-causes-differences-and-treatment"
) {
  image =
    "/La tendinosis y tendinitis son a menudo confundidos el DR Monge te explicara.webp";
  date = "January 2025";
  content = "Blog10";
  blogTitle = "Tendinitis and Tendinosis: Causes, Differences, and Treatment";
} else if (blog === "how-to-tell-if-its-arthritis-or-osteoarthritis") {
  image =
    "/El traumatologo ortopedista Ricardo Monge explica los aspectos claves entre artritis y artrosis.webp";
  date = "February 2025";
  content = "Blog11";
  blogTitle =
    "How to Tell if It's Arthritis or Osteoarthritis? Symptoms and Key Differences";
} else if (blog === "low-back-pain-types-risk-factors-and-treatments") {
  image =
    "/Doctor Traumatelogo Ortopedista haciendo un examen para detectar  Lumbalgia en paciente.webp";
  date = "February 2025";
  content = "Blog12";
  blogTitle = "Low Back Pain: Types, Risk Factors, and Treatments";
} else if (blog === "proximal-humerus-fracture-in-older-adults") {
  image =
    "/Doctor Ortopedista haciendo un examen para confirmar una posible Fractura de Humero.webp";
  date = "March 2025";
  content = "Blog13";
  blogTitle = "Proximal Humerus Fracture in Older Adults";
} else if (blog === "is-a-second-surgery-necessary-to-treat-pseudoarthrosis") {
  image =
    "/Doctor Ortopedista detectando una Pseudoartrosis en radiografia.webp";
  date = "March 2025";
  content = "Blog14";
  blogTitle = "Is a Second Surgery Necessary to Treat Pseudoarthrosis?";
} else if (blog === "hidden-fractures-diagnosis-tijuana") {
  image = "/Doctor Ortopedista examina una Fractura Oculta.webp";
  date = "April 2025";
  content = "Blog15";
  blogTitle = "Hidden Fractures: What X-rays Don't Always Reveal";
} else if (blog === "knee-pain-arthroscopy-to-treat-joint-wear") {
  image = "/Artroscopia de Rodilla Solucion Rapida Desgaste Articular.webp";
  date = "April 2025";
  content = "Blog16";
  blogTitle = "Knee Arthroscopy: The Quick Solution for Joint Wear";
} else if (blog === "the-best-orthopedic-duo-in-tijuana") {
  image =
    "/La mejor dupla ortopedica en Tijuana Dr Monge Orotpedista Traumatologo.webp";
  date = "April 2025";
  content = "Blog17";
  blogTitle = "The Best Orthopedic Duo in Tijuana";
} else if (
  blog ===
  "dr-ricardo-monge-resolves-all-your-questions-about-meniscus-injuries"
) {
  image =
    "/Desgarros Meniscales Tipos rehabilitacion y cuando operar articulo por el ortopedista y traumatologo en Tijuana.webp";
  date = "May 2025";
  content = "Blog18";
  blogTitle = "Meniscal Tears: Conservative vs. Surgical Treatment";
} else if (
  blog ===
  "traumatology-assessment-clear-your-doubts-and-design-your-pain-free-path"
) {
  image =
    "/como prepararte para tu evaluacion con el dr monge especialista en traumatologia.webp";
  date = "June 2025";
  content = "Blog19";
  blogTitle = "Assessment Consultation: What to Expect and How to Prepare";
} else if (
  blog === "broken-ankle-symptoms-surgery-or-no-surgery-and-recovery"
) {
  image =
    "/Blog de Tobillo Roto por el Doctor Ricardo Monge Romero traumatologo Ortopedista.webp";
  date = "June 2025";
  content = "Blog20";
  blogTitle = "Ankle Fracture: When to Operate and When It Is Not Necessary";
} else if (
  blog === "you-fractured-phases-symptoms-and-what-to-expect-in-your-recovery"
) {
  (image =
    "/Dr Monge Te fracturaste sintomas y que esperar en tu recuperacion.webp"),
    (date = "June 2025"),
    (content = "Blog21"),
    (blogTitle =
      "What stage of recovery are you in? Complete guide for fracture patients in Tijuana");
} else if (
  blog ===
  "back-pain-differences-between-spondylosis-spondylitis-spondylolysis-and-spondylolisthesis"
) {
  (image =
    "/Te fracturaste Fases sintomas y que esperar en tu recuperacion.webp"),
    (date = "July 2025"),
    (content = "Blog22"),
    (blogTitle =
      "Back pain: The ABC of your spine and the diseases that affect it.");
} else if (
  blog === "hormonal-imbalance-and-your-bone-health-how-they-influence"
) {
  (image =
    "/Desequilibrio Hormonal  y Articulaciones Dr Ricardo Monge R traumatologia y Ortopedia en Tijuana.webp"),
    (date = "August 2025"),
    (content = "Blog23"),
    (blogTitle = "Hormonal Imbalance and Your Bone Health: How They Influence");
} else if (
  blog ===
  "elbow-arthroscopy-the-minimally-invasive-technique-that-relieves-pain-and-restores-mobility"
) {
  (image =
    "/Artroscopia de Codo Dr Ricardo Monge traumatologia y Ortopedia en Tijuana.webp"),
    (date = "September 2025"),
    (content = "Blog24"),
    (blogTitle =
      "Arthroscopy: the definitive solution to cure elbow pain and regain mobility, a minimally invasive procedure with great results");
} else if (
  blog ===
  "dislocation-complete-guide-when-it-is-an-emergency-symptoms-treatment-and-recovery"
) {
  (image =
    "/Dr Ricardo Monge explica la luxacion los tipos y complicaciones.webp"),
    (date = "September 2025"),
    (content = "Blog25"),
    (blogTitle =
      "Complete Guide to Dislocations: when it is an emergency, symptoms, treatment, and recovery.");
} else if (
  blog === "pain-and-stiffness-in-the-neck-it-could-be-cervical-osteoarthritis"
) {
  (image =
    "/Dolor y Rigidez en el Cuello podria ser Artrosis Cervical Dr Ricardo Monge.webp"),
    (date = "October 2025"),
    (content = "Blog26"),
    (blogTitle =
      "Pain and Stiffness in the Neck: Could It Be Cervical Osteoarthritis?");
} else {
  image = "/fondoDefault.png";
}
---

<Layout
  title={blogActual?.title ?? "Título predeterminado"}
  description={blogActual?.description ?? "Descripción predeterminada"}
  keywords={blogActual?.keywords ?? "palabras, clave, predeterminadas"}
>
  <main
    transition:animate={slide({
      duration: "0.8s",
    })}
  >
    <div
      class="fixed flex flex-col items-center justify-center h-screen gap-4 px-14 z-20"
    >
      <div class="border-r border-gray-200 h-48 lg:block hidden z-10"></div>
      <a
        href="https://www.facebook.com/drmonge.ortho/?locale=ms_MY"
        target="_blank"
        class="lg:block hidden mb-2"
      >
        <Facebook class="cursor-pointer" />
      </a>
      <a
        href="https://www.tiktok.com/@elmongedelaortopedia"
        target="_blank"
        class="lg:block hidden mb-2"
      >
        <Tiktok class="cursor-pointer" />
      </a>
      <a
        href="https://www.instagram.com/drmonge.ortho/?hl=es"
        target="_blank"
        class="lg:block hidden mb-2"
      >
        <Instagram class="cursor-pointer" />
      </a>
      <a
        href="https://www.doctoralia.com.mx/ricardo-luis-monge-romero/ortopedista-traumatologo/tijuana"
        target="_blank"
        class="lg:block hidden mb-2"
      >
        <Doctorialia class="cursor-pointer" />
      </a>

      <div class="border-r border-gray-200 h-48 lg:block hidden z-10"></div>
    </div>

    <Menu client:only="react" titulo={asideTitulo} blogs={blogs} />

    <Background image={image} title={blogTitle} date={date} />

    <div class="flex flex-col md:flex-row px-0 md:px-8">
      <Content content={content} />
      <!-- <Aside client:visible titulo={asideTitulo} blogs={blogs} /> -->
    </div>
  </main>
</Layout>

<style>
  main {
    color: white;
    overflow-y: auto;
    height: 100vh;
    position: relative;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scrollbar-width: none;
    overflow-x: hidden;
  }
</style>
