---
const { image, title, date } = Astro.props;
---

<div>
  <img
    src={image}
    alt="fondo"
    class="w-full
        h-screen
        object-cover
        
        object-center"
  />
  <div class="md:w-[60%]">
    <h2
      class="text-[40px] hidden md:block absolute font-semibold text-white bottom-72 left-48"
    >
      {date}
    </h2>
    <h1
      class="text-[60px] hidden md:block absolute font-semibold text-white bottom-48 left-48"
    >
      {title}
    </h1>
  </div>
  <div class="px-8 py-4">
    <h2 class="text-[20px] md:hidden font-semibold text-white text-start">
      {date}
    </h2>
    <h1 class="text-[40px] md:hidden font-semibold text-white text-start">
      {title}
    </h1>
  </div>
</div>
