---
import { Image } from "astro:assets";
import Comments from "@components/blogs/Comment";
import Form from "@components/blogs/CommentForm";
import Image1 from "@public/Una de las zonas mas afectadas por la osteoporosis es la cadera.webp";
import Image2 from "@public/La osteoporosis  provoca que los  huesos del pie se fracturen con más facilidad.webp";
import Observer from "@components/blogs/Observer";
import ObserverImage from "@components/blogs/ObserverImage";

let author = "YVLB";
let comment =
  "Excelente atención, tomo el tiempo necesario para explicar detalladamente así como la exploración física. Me sentí realmente atendida y con buen pronóstico de resolución.";
let business = "Paciente";

const blogsRutas = [
  {
    blog: "Fractura-de-tibia-y-Perone",
  },
  {
    blog: "Pseudoartrosis-y-Retraso-de-Consolidacion",
  },
  {
    blog: "Lesion-de-Ligamento-cruzado-anterior",
  },
  {
    blog: "Osteoporosis-Una-condicion-silenciosa-que-afecta-a-la-mitad-de-la-poblacion-mayor",
  },
  {
    blog: "infiltraciones-en-la-rodilla-con-acido-hialuronico-para-tratamiento-de-artrosis-de-rodilla",
  },
];

const blogActual =
  "Osteoporosis-Una-condicion-silenciosa-que-afecta-a-la-mitad-de-la-poblacion-mayor";

const id = 4;
---

<article
  class="prose lg:prose-xl mx-auto py-4 [&>h1]:text-white text-start md:w-[80%] [&>h2]:text-white text-[#9e9e9e]"
>
  <Observer client:visible>
    <h1 class="text-2xl md:text-5xl text-white font-semibold mb-24 md:mt-32">
      ¿Qué es la osteoporosis y como afecta al cuerpo?
    </h1>
  </Observer>

  <Observer client:visible>
    <h4 class="fade-up text-xl mb-24 mt-12">
      La osteoporosis es una condición en la que los huesos se vuelven más
      frágiles y propensos a fracturas debido a un desequilibrio en el proceso
      de remodelación ósea. En lugar de mantener el calcio y el fosfato
      necesarios para su densidad y fortaleza, el hueso reabsorbe estos
      minerales en exceso, debilitando su estructura.
      <br />
      <br />

       Esta condición afecta tanto a hombres como a mujeres, donde el alto
      índice de casos se da pasando la mediana edad, sin embargo, las mujeres
      son 4 veces más propensas debido a condicionales hormonales de la
      menopausia.
      <br />
      <br />
       Es una condición que no genera síntomas visibles por ello se le conoce como
      silenciosa, uno puede enterarse hasta que el hueso se fracture, que usualmente
      suelen ser fracturas de cadera, vertebras de la columna y la muñeca.
    </h4>
  </Observer>

  <Observer client:visible>
    <h2 class="fade-up text-white text-4xl mb-24 mt-12 font-semibold">
      Causas de la osteoporosis
    </h2>
  </Observer>

  <Observer client:visible>
    <h4 class="fade-up text-xl mb-24 mt-12">
      Bajo peso corporal y huesos delgados: Las personas con estas
      características tienen riesgo de padecer esta afección <br />
      <br /> Herencia: Si algún familiar tiene antecedentes o padecen de osteoporosis
      aumenta el riesgo. <br />
      <br /> Cambios hormonales: La disminución de estrógeno después de la menopausia.
      <br />
      <br />
      Alimentación: Una alimentación deficiente de calcio, proteínas y vitaminas
      entre ellas la D aumenta el riesgo de pérdida ósea y osteoporosis <br />
      <br /> Medicamentos: Cierto uso de medicamentos por tiempo prolongado tiene
      efectos secundarios en la salud ósea <br />
      <br /> Estilo de vida: Los malos hábitos como fumar, beber alcohol, ser sedentario
      puede afectar en la salud de los huesos.
    </h4>
  </Observer>

  <ObserverImage client:visible>
    <div class="flex justify-center items-center">
      <Image src={Image1} alt="Osteoporosis" class="fade-up object-cover" />
    </div>
  </ObserverImage>

  <Observer client:visible>
    <h2 class="fade-up text-white text-4xl mb-24 mt-12 font-semibold">
      ¿Cómo se diagnostica y mide la osteoporosis?
    </h2>
  </Observer>

  <Observer client:visible>
    <h4 class="fade-up text-xl mb-24 mt-12">
      El estudio para valorar la densidad ósea se llama densitometría ósea. La
      densidad mineral ósea es la cantidad de masa por unidad de volumen o por
      unidad de área. El objetivo del DMO brindar un diagnóstico o pronostico.  
      <br />
      <br />
      De acuerdo con el contenido mineral óseo podemos dividir los estados clínicos
      de la Osteoporosis en etapas: 
      <br />
      <br />
       Normal: densidad mineral ósea -1 desviación estándar. 
      <br />
      <br />
       Osteopenia o DMO baja: densidad mineral óseo entre -1 y -2.5 desviación estándar. 
      <br />
      <br />
       Osteoporosis: densidad mineral ósea -2.5 desviación estándar. 
      <br />
      <br />
       Osteoporosis Establecida o con fractura: densidad mineral óseo por debajo
      de 2.5  
      <br />
      <br />
      Los resultados se obtienen por medio del cálculo de FRAX una herramienta que
      permie calcular el riesgo de fractura a partir de la densitometría y el historial
      clínico.
    </h4>
  </Observer>

  <ObserverImage client:visible>
    <div class="flex justify-center items-center">
      <Image src={Image2} alt="Osteoporosis" class="fade-up object-cover" />
    </div>
  </ObserverImage>

  <Observer client:visible>
    <h2 class="fade-up text-white text-4xl mb-24 mt-12 font-semibold">
      Tipos de osteoporosis
    </h2>
  </Observer>

  <Observer client:visible>
    <h4 class="fade-up text-xl mb-24 mt-12">
      Osteoporosis juvenil idiopática: Aparece una desmineralización del hueso
      entre los 8 y 12 años se caracterizada por dolor de espalda, pies y
      extremosidades, dificultares para caminar, suele resolverse con
      tratamiento y una vez pasada la pubertad. <br />
      <br /> Osteoporosis tipo I: Se da en una etapa postmenopáusica en mujeres debido
      a la falta de estrógenos.
      <br />
      <br />Osteoporosis tipo II: Es producida por el envejecimiento.
    </h4>
  </Observer>

  <Observer client:visible>
    <h2 class="fade-up text-white text-4xl mb-24 mt-12 font-semibold">
      Tratamiento
    </h2>
  </Observer>
  <Observer client:visible>
    <h4 class="fade-up text-xl mb-24 mt-12">
      Depende de cada caso será el abordaje, los medicamentos más recetados son
      los bisfosfonatos que inhiben la reabsorción ósea, a su vez están las
      inyecciones de denosumab, claro todos complementados con un plan
      nutricional rico en calcio, vitamina D, Omega 3 y suplementos. Otro
      abordaje a esta condición es la terapia de reemplazo hormonal que será un
      tratamiento que llevará a cabo un endocrinólogo para administrar el
      medicamento más adecuado.
    </h4>
  </Observer>

  <Observer client:visible>
    <h2 class="fade-up text-white text-4xl mb-24 mt-12 font-semibold">
      Recomendaciones
    </h2>
  </Observer>

  <Observer client:visible>
    <h4 class="fade-up text-xl mb-24 mt-12">
      Alimentación y suplementación  <br />
      <br />

      Evitar fumar  <br />
      <br />

      Realizar ejercicios de resistencia y fuerza <br />
      <br />

      Evitar el consumo de alcohol  <br />
      <br />

      Utilizar zapatos adecuados, para disminuir el riesgo de caídas e impactos
      que puedan generar una lesión o fractura grave <br />
      <br />

      Adaptar espacios: Con iluminación adecuada, barras de agarre en las
      regaderas, escaleras y suelas antideslizantes.
    </h4>
  </Observer>
</article>

<section class="flex justify-center items-center flex-col md:w-[80%] mx-auto">
  <!-- <Comments
    client:visible
    author={author}
    comment={comment}
    business={business}
  /> -->

  <Form client:visible blogs={blogsRutas} blogActual={blogActual} idForm={id} />
</section>
