---
import { Image } from "astro:assets";
import Comments from "@components/blogs/Comment";
import Form from "@components/blogs/CommentForm";
import Image1 from "@public/blog16.webp";
import Image2 from "@public/blog16-2.webp";
import Observer from "@components/blogs/Observer";
import ObserverImage from "@components/blogs/ObserverImage";
import Footer from "./Footer.astro";
let author = "YVLB";
let comment =
  "Excelente atención, tomo el tiempo necesario para explicar detalladamente así como la exploración física. Me sentí realmente atendida y con buen pronóstico de resolución.";
let business = "Paciente";

const blogsRutas = [
  {
    blog: "Fractura-de-tibia-y-Perone",
  },
  {
    blog: "Pseudoartrosis-y-Retraso-de-Consolidacion",
  },
  {
    blog: "Lesion-de-Ligamento-cruzado-anterior",
  },
  {
    blog: "Osteoporosis-Una-condicion-silenciosa-que-afecta-a-la-mitad-de-la-poblacion-mayor",
  },
  {
    blog: "infiltraciones-en-la-rodilla-con-acido-hialuronico-para-tratamiento-de-artrosis-de-rodilla",
  },
  {
    blog: "Tratamiento-conservador-vs-cirugia-Cuando-un-tratamiento-conservador-falla-y-requiere-intervencion-quirurgica-en-hernia-discal-cervical",
  },
  {
    blog: "Porque-se-dice-que-el-cuerpo-rechazo-de-material-Factores-asociados-al-fallo-en-la-osteosintesis-de-fracturas",
  },
  {
    blog: "Juanetes-sintomas-deteccion-y-tipos-de-cirugia-para-eliminarlos",
  },
  {
    blog: "Infiltraciones-de-rodilla-Opciones-y-beneficios-para-la-osteoartritis",
  },
  {
    blog: "Tendinitis-y-tendinosis-causas-diferencias-y-tratamiento",
  },
  {
    blog: "Como-saber-si-es-artritis-o-artrosis",
  },
  {
    blog: "lumbalgia-tipos-factores-de-riesgos-y-tratamientos",
  },
  {
    blog: "fractura-de-humero-proximal-en-adultos-mayores",
  },
  {
    blog: "Es-necesaria-una-segunda-cirugia-para-tratar-la-pseudoartrosis",
  },
  {
    blog: "fracturas-ocultas-diagnostico-tijuana",
  },
  {
    blog: "dolor-de-rodilla-artroscopia-para-tratar-el-desgaste-articular",
  },
];

const blogActual =
  "dolor-de-rodilla-artroscopia-para-tratar-el-desgaste-articular";

const id = 16;

const isEnglish = Astro.url.pathname.startsWith("/en/");
---

<article
  class="prose lg:prose-xl mx-auto py-4 [&>h1]:text-white text-start md:w-[80%] [&>h2]:text-white text-[#9e9e9e]"
>
  <Observer client:visible>
    <h2 class="text-white text-4xl mb-16 font-semibold">
      {
        isEnglish
          ? "Knee Pain? Arthroscopy Could Be Your Best Ally"
          : "¿Dolor de Rodilla? La Artroscopia Puede Ser Tu Mejor Aliada"
      }
    </h2>
  </Observer>

  <Observer client:visible>
    <h3 class="text-xl mb-16">
      {
        isEnglish
          ? "The knee is one of the most complex joints, as it has many structures that need to work in harmony to stay balanced and function efficiently."
          : "La rodilla es una de las articulaciones más complejas, ya que tiene muchas estructuras que necesitan trabajar en armonía para estar balanceadas y hagan su trabajo de una manera eficiente."
      }
      <br />
      <br />
      {
        isEnglish
          ? "Muscles, ligaments and tendons function synchronously so every movement remains balanced and in place. When there's imbalance or wear in these structures, certain discomforts may appear due to overloading these parts."
          : "Los músculos, ligamentos y tendones van a funcionar de una manera sincrónica para que cada rango que des se mantenga balanceados y en su lugar. Cuando hay un desbalance o desgaste de estas estructuras, puede haber ciertas molestias debido a que se sobrecargan estas partes."
      }
    </h3>
  </Observer>

  <Observer client:visible>
    <h2 class="text-white text-4xl mb-4 font-semibold">
      {
        isEnglish
          ? "What happens in a knee with wear?"
          : "¿Qué ocurre en una Rodilla con desgaste?"
      }
    </h2>
  </Observer>

  <Observer client:visible>
    <h3 class="text-xl mb-4">
      {
        isEnglish
          ? "The cartilage wears down and bones may rub against each other, becoming rough and irregular. This may be due to:"
          : "El cartílago se desgasta y los huesos pueden rozar entre sí, volviéndose ásperos e irregulares. Esto puede deberse a:"
      }
    </h3>
    <ol class="text-xl list-decimal px-6 space-y-2 mb-8">
      <li>
        {
          isEnglish
            ? "Degenerative osteoarthritis (wear from age or overuse)"
            : "Artrosis degenerativa (desgaste por edad o uso excesivo)"
        }
      </li>
      <li>
        {
          isEnglish
            ? "Trauma (fractures or sports injuries)"
            : "Traumatismos (fracturas o lesiones deportivas)"
        }
      </li>
      <li>
        {
          isEnglish
            ? "Inflammatory diseases (rheumatoid arthritis, gout)"
            : "Enfermedades inflamatorias (artritis reumatoide, gota)"
        }
      </li>
    </ol>
  </Observer>

  <ObserverImage client:visible>
    <div class="flex justify-center items-center">
      <Image
        src={Image1}
        alt={isEnglish
          ? "Image of knee anatomy showing wear"
          : "Imagen de fractura de tibia y peroné"}
        class="object-cover mb-16"
      />
    </div>
  </ObserverImage>

  <Observer client:visible>
    <h2 class="text-white text-4xl mb-8 font-semibold">
      {isEnglish ? "Common symptoms:" : "Síntomas comunes:"}
    </h2>
  </Observer>
  <Observer client:visible>
    <h3 class="text-xl mb-16">
      {
        isEnglish
          ? "When the articular surface deteriorates, it becomes irregular and begins to manifest with pain, decreased mobility and difficulty walking. Joint effusions or blockages may also appear that further increase pain."
          : "Cuando la superficie articular se deteriora, se hace irregular y empieza a manifestarse con dolor, disminución de la movilidad y dificultad para caminar. Pueden también aparecer derrames o bloqueos articulares que incrementan todavía más el dolor."
      }
    </h3>
  </Observer>

  <Observer client:visible>
    <h2 class="text-white text-4xl mb-8 font-semibold">
      {
        isEnglish
          ? "A minimally invasive and brief solution - What does it consist of?"
          : "Una solución Mínimamente Invasiva y breve ¿En qué consiste?"
      }
    </h2>
  </Observer>

  <Observer client:visible>
    <h3 class="text-xl mb-16">
      {
        isEnglish
          ? "It's a minimally invasive surgical procedure that allows addressing internal damage through small incisions called portals and an arthroscope, which is a millimeter-sized camera, without needing open surgery, making it a quite brief technique."
          : "Es un procedimiento quirúrgico mínimamente invasivo que permite abordar, mediante pequeñas incisiones llamadas portales y un artroscopio, que es una camarita milimétrica, que permite reparar daños internos sin necesidad de hacer una cirugía abierta, lo que la hace ser una técnica bastante breve."
      }
    </h3>
  </Observer>

  <Observer client:visible>
    <h2 class="text-white text-4xl mb-8 font-semibold">
      {
        isEnglish
          ? "Surgical process of knee arthroscopy"
          : "Proceso quirúrgico de una artroscopia de rodilla"
      }
    </h2>
  </Observer>

  <Observer client:visible>
    <h3 class="text-xl mb-16">
      1. {
        isEnglish
          ? "During this operation, the patient is usually placed supine on the operating table with the knee flexed or semi-flexed, with a tourniquet around the thigh for compression to reduce bleeding."
          : "Durante esta operación, el paciente usualmente se coloca boca arriba en la mesa de intervención con la rodilla flexionada o semiflexionada, con un manguito de isquemia alrededor del muslo para compresión y así reducir el sangrado."
      }
      <br />
      <br />
      2. {
        isEnglish
          ? "Two to three incisions are made through which the arthroscope and specialized instruments are introduced, allowing detailed examination of the joint. The affected area is repaired, then joint fluid is drained, portals are sutured and a sterile dressing is applied."
          : "Se realizan de dos a 3 incisiones por las que se introduce el artroscopio y los instrumentos especializados, lo que le permite examinar la articulación con gran detalle. Ahí se repara la zona afectada, después se drena el líquido articular, se suturan los portales y se aplica un vendaje estéril."
      }
    </h3>
  </Observer>

  <ObserverImage client:visible>
    <div class="flex justify-center items-center">
      <Image
        src={Image2}
        alt={isEnglish
          ? "DR. Ricardo Monge explains knee arthroscopy procedure"
          : "El DR. Ricardo Monge explica de forma sencilla los principales sintomas de la tendinitis que es un proceso agudo inflamatorio"}
        title={isEnglish
          ? "DR. Ricardo Monge explains knee arthroscopy procedure"
          : "El DR. Ricardo Monge explica de forma sencilla los principales sintomas de la tendinitis que es un proceso agudo inflamatorio"}
        class="fade-up object-cover mb-16"
      />
    </div>
  </ObserverImage>

  <Observer client:visible>
    <h2 class="text-white text-4xl mb-8 font-semibold">
      {isEnglish ? "Candidates for arthroscopy" : "Candidatos para artroscopia"}
    </h2>
  </Observer>
  <Observer client:visible>
    <h3 class="text-xl mb-8">
      {
        isEnglish
          ? "Each case has its particularities, however, the following can be treated with arthroscopy:"
          : "Cada caso tiene sus particularidades, sin embargo, se pueden tratar con artroscopia:"
      }
    </h3>
    <ol class="text-xl list-decimal px-6 space-y-2 mb-16">
      <li>
        {
          isEnglish
            ? "Meniscus tears (common injury in athletes)"
            : "Rotura de meniscos (lesión común en deportistas)"
        }
      </li>
      <li>
        {
          isEnglish
            ? "Cartilage damage (cleaning or microfractures to stimulate regeneration)"
            : "Daño en el cartílago (limpieza o microfracturas para estimular regeneración)"
        }
      </li>
      <li>
        {
          isEnglish
            ? "Cruciate ligament reconstruction (after tears from sudden twists)"
            : "Reconstrucción de ligamentos cruzados (tras roturas por giros bruscos)"
        }
      </li>
      <li>
        {
          isEnglish
            ? "Removal of loose bodies (bone or cartilage fragments floating in the joint)"
            : "Extracción de cuerpos libres (fragmentos de hueso o cartílago que flotan en la articulación)"
        }
      </li>
    </ol>
  </Observer>

  <Observer client:visible>
    <h2 class="text-white text-4xl mb-8 font-semibold">
      {
        isEnglish
          ? "Postoperative Recovery and Rehabilitation"
          : "Recuperación Postoperatoria y Rehabilitación"
      }
    </h2>
  </Observer>

  <Observer client:visible>
    <h3 class="text-xl mb-8">
      {isEnglish ? "First 24-48 hours:" : "Primeras 24-48 horas:"}
    </h3>
    <ol class="text-xl list-decimal px-6 space-y-2 mb-16">
      <li>
        {
          isEnglish
            ? "Partial weight-bearing with crutches (avoid full support)"
            : "Carga parcial con ayuda de muletas (evitar apoyo total)"
        }
      </li>
      <li>
        {
          isEnglish
            ? "Ice use to reduce inflammation"
            : "Uso de hielo para reducir inflamación"
        }
      </li>
      <li>
        {
          isEnglish
            ? "Analgesic and anti-inflammatory medication"
            : "Medicación analgésica y antiinflamatoria"
        }
      </li>
    </ol>
    <h3 class="text-xl mb-8">
      {isEnglish ? "First Weeks:" : "Primeras Semanas:"}
    </h3>
    <ol class="text-xl list-decimal px-6 space-y-2 mb-16">
      <li>
        {
          isEnglish
            ? "Dressing removal and wound care"
            : "Retiro del vendaje y cuidados de las heridas"
        }
      </li>
      <li>
        {
          isEnglish
            ? "Gentle mobilization exercises (flexion/extension)"
            : "Ejercicios suaves de movilización (flexión/extensión)"
        }
      </li>
      <li>
        {
          isEnglish
            ? "Guided physiotherapy to regain strength and flexibility"
            : "Fisioterapia guiada para recuperar fuerza y flexibilidad"
        }
      </li>
    </ol>
  </Observer>
  <Observer client:visible>
    <h2 class="text-white text-4xl mb-8 font-semibold">
      {
        isEnglish
          ? "Keys for Good Recovery:"
          : "Claves para una Buena Recuperación:"
      }
    </h2>
  </Observer>

  <Observer client:visible>
    <ol class="text-xl list-decimal px-6 space-y-2 mb-16">
      <li>
        {
          isEnglish
            ? "Follow physiotherapist's instructions: Prevents fibrous scars and stiffness"
            : "Seguir las indicaciones del fisioterapeuta: Evita cicatrices fibrosas y rigidez"
        }
      </li>
      <li>
        {
          isEnglish
            ? "Inflammation is a universal response to tissue damage regardless of whether it has been corrected or repaired. If it continues and causes pain, it's important to seek evaluation"
            : "La inflamación es una respuesta universal al daño del tejido independientemente que este se haya corregido o arreglado, si continua y genera dolor es importante acudir a valoración"
        }
      </li>
      <li>
        {
          isEnglish
            ? "Patience: Complete recovery may take weeks or months, depending on the injury"
            : "Paciencia: La recuperación total puede tardar semanas o meses, dependiendo de la lesión"
        }
      </li>
    </ol>
  </Observer>

  <Observer client:visible>
    <h3 class="text-2xl mb-4">
      {
        isEnglish ? (
          <>
            The <strong class="text-white font-bold">success</strong> depends
            not only on surgery, but on a multidisciplinary team and a{" "}
            <strong class="text-white font-bold">
              personalized rehabilitation
            </strong>{" "}
            plan. That's why choosing an{" "}
            <strong class="text-white font-bold">experienced specialist</strong>{" "}
            is key.
            <>
              <br />
              <br />
            </>
            If you're looking for an{" "}
            <strong class="text-white font-bold">
              orthopedic trauma surgeon
            </strong>{" "}
            specialized in{" "}
            <strong class="text-white font-bold">knee arthroscopy</strong> in
            Tijuana, you're one step away from recovering your{" "}
            <strong class="text-white font-bold">mobility</strong> and{" "}
            <strong class="text-white font-bold">quality of life</strong>.
            <>
              <br />
              <br />
            </>
            <strong class="text-white font-bold">Arthroscopy</strong> is the
            most advanced and{" "}
            <strong class="text-white font-bold">minimally invasive</strong>{" "}
            solution to treat{" "}
            <strong class="text-white font-bold">knee injuries</strong>, with
            less time in the operating room and{" "}
            <strong class="text-white font-bold">faster recovery</strong>.
            <>
              <br />
              <br />
            </>
            If you'd like to schedule an{" "}
            <strong class="text-white font-bold">
              evaluation consultation
            </strong>{" "}
            in Tijuana, I invite you to my office at{" "}
            <strong class="text-white font-bold">Torre Norte 2</strong>, 10
            minutes from the{" "}
            <strong class="text-white font-bold">San Ysidro-Tijuana</strong>{" "}
            border.
            <>
              <br />
              <br />
            </>
            It would be a pleasure to accompany you toward a{" "}
            <strong class="text-white font-bold">pain-free knee</strong> and{" "}
            <strong class="text-white font-bold">
              independence in your mobility
            </strong>
            .
          </>
        ) : (
          <>
            El <strong class="text-white font-bold">éxito</strong> no solo
            depende de la cirugía, sino de un equipo multidisciplinario y un
            plan de{" "}
            <strong class="text-white font-bold">
              rehabilitación personalizado
            </strong>
            . Por eso, elegir a un{" "}
            <strong class="text-white font-bold">
              especialista con experiencia
            </strong>
            , es clave.
            <>
              <br />
              <br />
            </>
            Si buscas un{" "}
            <strong class="text-white font-bold">
              cirujano traumatólogo ortopedista
            </strong>{" "}
            especializado en{" "}
            <strong class="text-white font-bold">artroscopia de rodilla</strong>{" "}
            en Tijuana, estás a un paso de recuperar tu{" "}
            <strong class="text-white font-bold">movilidad</strong> y{" "}
            <strong class="text-white font-bold">calidad de vida</strong>.
            <>
              <br />
              <br />
            </>
            La <strong class="text-white font-bold">artroscopia</strong> es la
            solución más avanzada y{" "}
            <strong class="text-white font-bold">mínimamente invasiva</strong>{" "}
            para tratar{" "}
            <strong class="text-white font-bold">lesiones de rodilla</strong>,
            con menor tiempo en el quirófano,{" "}
            <strong class="text-white font-bold">
              recuperación más rápida
            </strong>
            .
            <>
              <br />
              <br />
            </>
            Si te gustaría agendar una{" "}
            <strong class="text-white font-bold">consulta de valoración</strong>{" "}
            en Tijuana, te invito a mi consultorio{" "}
            <strong class="text-white font-bold">Torre Norte 2</strong>, a 10
            minutos de la línea{" "}
            <strong class="text-white font-bold">San Ysidro- Tijuana</strong>.
            <>
              <br />
              <br />
            </>
            Será un placer poder acompañarte hacia una{" "}
            <strong class="text-white font-bold">rodilla sin dolor</strong> y
            una{" "}
            <strong class="text-white font-bold">
              independencia hacia tu movilidad
            </strong>
            .
          </>
        )
      }
    </h3>
  </Observer>
</article>
<section class="flex justify-center items-center flex-col md:w-[80%] mx-auto">
  <!-- <Comments
    client:visible
    author={author}
    comment={comment}
    business={business}
  /> -->

  <Form client:visible blogs={blogsRutas} blogActual={blogActual} idForm={id} />
</section>
<Footer
  URL={isEnglish}
  NextLink={isEnglish
    ? "hidden-fractures-diagnosis-tijuana"
    : "fracturas-ocultas-diagnostico-tijuana"}
  NextName={isEnglish
    ? "Hidden fractures diagnosis tijuana"
    : "Fracturas ocultas diagnóstico tijuana"}
/>
