---
import { Image } from "astro:assets";
import Comments from "@components/blogs/Comment";
import Form from "@components/blogs/CommentForm";
import Image1 from "@public/La columna lumbar contiene 5 discos intervertebrales que amortiguan impactos.webp";
import Image2 from "@public/La parte posterior y laterales de los discos lumbares son mas debiles y susceptibles a lastimarse.webp";
import Observer from "@components/blogs/Observer";
import ObserverImage from "@components/blogs/ObserverImage";
import Footer from "./Footer.astro";
let author = "YVLB";
let comment =
  "Excelente atención, tomo el tiempo necesario para explicar detalladamente así como la exploración física. Me sentí realmente atendida y con buen pronóstico de resolución.";
let business = "Paciente";

const blogsRutas = [
  {
    blog: "Fractura-de-tibia-y-Perone",
  },
  {
    blog: "Pseudoartrosis-y-Retraso-de-Consolidacion",
  },
  {
    blog: "Lesion-de-Ligamento-cruzado-anterior",
  },
  {
    blog: "Osteoporosis-Una-condicion-silenciosa-que-afecta-a-la-mitad-de-la-poblacion-mayor",
  },
  {
    blog: "infiltraciones-en-la-rodilla-con-acido-hialuronico-para-tratamiento-de-artrosis-de-rodilla",
  },
  {
    blog: "Tratamiento-conservador-vs-cirugia-Cuando-un-tratamiento-conservador-falla-y-requiere-intervencion-quirurgica-en-hernia-discal-cervical",
  },
  {
    blog: "Porque-se-dice-que-el-cuerpo-rechazo-de-material-Factores-asociados-al-fallo-en-la-osteosintesis-de-fracturas",
  },
  {
    blog: "Juanetes-sintomas-deteccion-y-tipos-de-cirugia-para-eliminarlos",
  },
  {
    blog: "Infiltraciones-de-rodilla-Opciones-y-beneficios-para-la-osteoartritis",
  },
  {
    blog: "Tendinitis-y-tendinosis-causas-diferencias-y-tratamiento",
  },
  {
    blog: "Como-saber-si-es-artritis-o-artrosis",
  },
  {
    blog: "lumbalgia-tipos-factores-de-riesgos-y-tratamientos",
  },
];

const blogActual = "lumbalgia-tipos-factores-de-riesgos-y-tratamientos";

const id = 12;

const isEnglish = Astro.url.pathname.startsWith("/en/");
---

<article
  class="prose lg:prose-xl mx-auto py-4 [&>h1]:text-white text-start md:w-[80%] [&>h2]:text-white text-[#9e9e9e]"
>
  <Observer client:visible>
    <h2 class="text-white text-4xl mb-8 font-semibold">
      {
        isEnglish
          ? "Low back pain: types, risk factors and effective habits"
          : "Lumbalgia: tipos, factores de riesgo y hábitos efectivos"
      }
    </h2>
  </Observer>

  <Observer client:visible>
    <h3 class="text-xl mb-16">
      {
        isEnglish
          ? "Back pain is one of the most common diagnoses in orthopedic consultations, affecting approximately 80 out of 100 people. It's very likely you'll experience it at some point in your life. This pain is located in the lumbar region, that is, in the lower back and waist, and can radiate to the buttocks and thighs."
          : "El dolor de espalda es uno de los diagnósticos más comunes en la consulta de ortopedia, afectando aproximadamente a 80 de cada 100 personas. Es muy probable que en algún momento de tu vida lo experimentes.Este dolor se localiza en la región lumbar, es decir, en la parte baja de la espalda y la cintura, y puede irradiarse hacia los glúteos y muslos."
      }
      <br />
      <br />
      {
        isEnglish
          ? "In most cases, low back pain is of mechanical-postural origin, meaning it's not always related to a hernia or specific injury. Many people with low back pain have postural alterations, causing the body to adopt positions that may seem comfortable at the moment but generate more pain in the long term."
          : "En la mayoría de los casos, la lumbalgia es de origen mecano-postural, lo que significa que no siempre está relacionada con una hernia o una lesión específica. Muchas personas con lumbalgia presentan alteraciones posturales, lo que hace que el cuerpo adopte posiciones que pueden parecer cómodas en el momento, pero que a largo plazo generan más dolor."
      }
      <br />
      <br />
    </h3>
  </Observer>

  <Observer client:visible>
    <h2 class="text-white text-4xl mb-16 font-semibold">
      {
        isEnglish
          ? "What happens in the lumbar discs?"
          : "¿Qué sucede en los discos lumbares?"
      }
    </h2>
  </Observer>

  <Observer client:visible>
    <h3 class="text-xl mb-16">
      {
        isEnglish
          ? "The intervertebral discs are divided into five and play a fundamental role in distributing compression loads on the spine. They act as shock absorbers, absorbing impacts and maintaining space between vertebral bodies, providing flexibility to the spine. Their main source of nutrition comes from the endplates, through fluid absorption during spinal movements. However, exposure to excessive forces and prolonged high-pressure postures, such as standing or sitting for long periods, can hinder this nutrition process. Although their functions are protective, they are very susceptible to hernias and other disc disorders."
          : "Los discos intervertebrales se dividen en cinco y desempeñan un papel fundamental en la distribución de las cargas de compresión sobre la columna vertebral. Actúan como amortiguadores, absorbiendo impactos y manteniendo el espacio entre los cuerpos vertebrales, lo que aporta flexibilidad a la columna. Su principal fuente de nutrición proviene de las placas terminales, a través de la absorción de fluidos durante los movimientos de la columna. Sin embargo, la exposición a fuerzas excesivas y posturas prolongadas de alta presión, como estar mucho tiempo de pie o sentado, puede dificultar este proceso de nutrición, aunque sus funciones sean protectoras son muy susceptibles a sufrir hernias y otros trastornos discales"
      }
      <br />
      <br />
    </h3>
  </Observer>

  <ObserverImage client:visible>
    <div class="flex justify-center items-center">
      <Image
        src={Image1}
        alt={isEnglish
          ? "Image of lumbar vertebrae and intervertebral discs"
          : "Imagen de fractura de tibia y peroné"}
        class="object-cover mb-16"
      />
    </div>
  </ObserverImage>

  <Observer client:visible>
    <h2 class="text-white text-4xl mb-4 font-semibold">
      {
        isEnglish
          ? "Acute, subacute or chronic low back pain? Main differences"
          : "¿Lumbalgia aguda, subaguda o crónica? Principales diferencias"
      }
    </h2>
  </Observer>

  <Observer client:visible>
    <h2 class="text-white text-4xl mb-4 font-semibold">
      {isEnglish ? "Acute low back pain" : "Lumbalgia aguda"}
    </h2>
  </Observer>

  <Observer client:visible>
    <h3 class="text-xl mb-16">
      {
        isEnglish
          ? "This is a sudden pain in the lower back, which may manifest as a pop followed by intense pain lasting less than 6 weeks. It's usually associated with intense physical efforts, poor posture or sudden movements."
          : "Se trata de un dolor repentino en la parte baja de la espalda, que puede manifestarse como un chasquido seguido de dolor intenso y que dura menos de 6 semanas. Suele estar asociado con esfuerzos físicos intensos, malas posturas o movimientos bruscos."
      }
      <br />
      <br />
      <strong class="text-white text-2xl"
        >{isEnglish ? "Treatment: " : "Tratamiento: "}</strong
      >
      <br />
      <br />

      {
        isEnglish
          ? "Relative rest: Avoid activities involving heavy efforts."
          : "Reposo relativo: Evitar actividades que impliquen esfuerzos pesados."
      }
      <br />
      <br />

      {
        isEnglish
          ? "Medication: Anti-inflammatories."
          : "Medicamentos: Antiinflamatorios."
      }
      <br />
      <br />

      {
        isEnglish
          ? "Physical therapy: Gentle exercises to strengthen back muscles."
          : "Fisioterapia: Ejercicios suaves para fortalecer los músculos de la espalda."
      }
      <br />
      <br />
      {
        isEnglish
          ? "Alternative therapies: Cold or hot compresses, massages and acupuncture."
          : "Terapias alternativas: Compresas frías o calientes, masajes y acupuntura."
      }
    </h3>
  </Observer>

  <Observer client:visible>
    <h2 class="text-white text-4xl mb-16 font-semibold">
      {isEnglish ? "Subacute low back pain" : "Lumbalgia subaguda"}
    </h2>
  </Observer>
  <Observer client:visible>
    <h3 class="text-xl mb-16">
      {
        isEnglish
          ? "Occurs after the acute phase and is characterized by persistent discomfort in the lower back for a period of 6 weeks to 3 months."
          : "Ocurre después de la fase aguda y se caracteriza por molestias persistentes en la parte baja de la espalda durante un período de 6 semanas a 3 meses."
      }
      <br />
      <br />
      <strong class="text-white text-2xl"
        >{isEnglish ? "Treatment: " : "Tratamiento: "}</strong
      >
      <br />
      <br />
      {
        isEnglish
          ? "Strengthening exercises: Specific rehabilitation programs. Medication: Non-steroidal anti-inflammatories and pain relievers. Complementary therapies: Electrotherapy, manual therapy and Lumbar Radiofrequency: Technique that uses electromagnetic waves to generate heat in body tissues, aiming to relieve pain, improve blood circulation and reduce inflammation."
          : "Ejercicios de fortalecimiento: Programas de rehabilitación específicos. Medicamentos: Antiinflamatorios no esteroideos y analgésicos. Terapias complementarias: Electroterapia, terapia manual y Radiofrecuencia lumbar: Técnica que utiliza ondas electromagnéticas para generar calor en los tejidos del cuerpo, con el objetivo de aliviar el dolor, mejorar la circulación sanguínea y reducir la inflamación."
      }
    </h3>
  </Observer>

  <Observer client:visible>
    <h2 class="text-white text-4xl mb-16 font-semibold">
      {
        isEnglish
          ? "Chronic or severe low back pain"
          : "Lumbalgia crónica o severa"
      }
    </h2>
  </Observer>
  <Observer client:visible>
    <h3 class="text-xl mb-16">
      {
        isEnglish
          ? "It's a persistent pain lasting more than 3 months that can become disabling. This type of pain can be debilitating and requires a more intensive treatment approach."
          : "Es un dolor persistente que dura más de 3 meses y puede llegar a causar incapacidad. Este tipo de dolor puede ser debilitante y requiere un enfoque de tratamiento más intensivo."
      }
      <br />
      <br />
      <strong class="text-white text-2xl"
        >{isEnglish ? "Treatment: " : "Tratamiento: "}</strong
      >
      <br />
      <br />
      {
        isEnglish
          ? "Multidisciplinary program: Coordination between specialist doctor and physiotherapist. Medication: Strong pain relievers and muscle relaxants. Interventional procedures: Lumbar radiofrequency for chronic pain relief."
          : "Programa multidisciplinario: Coordinación entre médico especialista y fisioterapeuta. Medicamentos: Analgésicos fuertes y relajantes musculares. Procedimientos intervencionistas: Radiofrecuencia lumbar para el alivio del dolor crónico."
      }
    </h3>
  </Observer>

  <ObserverImage client:visible>
    <div class="flex justify-center items-center">
      <Image
        src={Image2}
        alt={isEnglish
          ? "DR. Ricardo Monge simply explains the main symptoms of tendinitis which is an acute inflammatory process"
          : "El DR. Ricardo Monge explica de forma sencilla los principales sintomas de la tendinitis que es un proceso agudo inflamatorio"}
        title={isEnglish
          ? "DR. Ricardo Monge simply explains the main symptoms of tendinitis which is an acute inflammatory process"
          : "El DR. Ricardo Monge explica de forma sencilla los principales sintomas de la tendinitis que es un proceso agudo inflamatorio"}
        class="fade-up object-cover mb-16"
      />
    </div>
  </ObserverImage>

  <Observer client:visible>
    <h2 class="text-white text-4xl mb-16 font-semibold">
      {isEnglish ? "Neuropathic low back pain" : "Lumbalgia neuropática"}
    </h2>
  </Observer>
  <Observer client:visible>
    <h3 class="text-xl mb-16">
      {
        isEnglish
          ? "It occurs due to compression or damage to nerves from disc herniations or spinal stenosis. It's characterized by intense pain in the lower back that may radiate to the legs and buttocks, accompanied by hypersensitivity to touch."
          : "Se produce por la compresión o daño de los nervios debido a hernias discales o estenosis espinal. Se caracteriza por un dolor intenso en la parte baja de la espalda, que puede irradiarse hacia las piernas y los glúteos, acompañado de hipersensibilidad al tacto."
      }
      <br />
      <br />
      <strong class="text-white text-2xl"
        >{isEnglish ? "Treatment: " : "Tratamiento: "}</strong
      >
      <br />
      <br />
      {
        isEnglish
          ? "Injections: Anti-inflammatory to reduce nerve inflammation."
          : "Inyecciones: Antiinflamatorias para reducir la inflamación de los nervios."
      }
      <br />
      <br />
      {
        isEnglish
          ? "Medication: Neuropathic pain relievers."
          : "Medicamentos: Analgésicos neuropáticos."
      }
      <br />
      <br />
      {
        isEnglish
          ? "Physical therapy: Exercises to decompress affected nerves."
          : "Fisioterapia: Ejercicios para descomprimir los nervios afectados."
      }
      <br />
      <br />
      {
        isEnglish
          ? "Lumbar radiofrequency: Procedure to relieve neuropathic pain."
          : "Radiofrecuencia lumbar: Procedimiento para aliviar el dolor neuropático."
      }
    </h3>
  </Observer>

  <Observer client:visible>
    <h2 class="text-white text-4xl mb-16 font-semibold">
      {
        isEnglish
          ? "Factors that contribute to low back pain"
          : "Factores que propician la lumbalgia"
      }
    </h2>
  </Observer>
  <Observer client:visible>
    <h3 class="text-xl mb-16">
      {
        isEnglish
          ? "Height and weight: Overweight increases the load on the fifth lumbar vertebra and sacrum, increasing the risk of low back pain."
          : "Talla y peso: El sobrepeso aumenta la carga sobre la quinta vértebra lumbar y el sacro, incrementando el riesgo de lumbalgia."
      }
      <br />
      <br />
      {isEnglish ? "Smoking." : "Tabaquismo."}
      <br />
      <br />

      {isEnglish ? "Physically heavy work." : "Trabajo físicamente pesado."}
      <br />
      <br />

      {isEnglish ? "Static work postures." : "Posturas de trabajo estáticas."}
      <br />
      <br />

      {
        isEnglish
          ? "Repetitive movements without rest."
          : "Movimientos repetitivos sin descanso."
      }
      <br />
      <br />

      {
        isEnglish
          ? "Frequent bending and twisting of the trunk."
          : "Flexiones y giros frecuentes del tronco."
      }
      <br />
      <br />

      {
        isEnglish
          ? "Sudden lifting and movements."
          : "Levantamientos y movimientos bruscos."
      }
    </h3>
  </Observer>

  <Observer client:visible>
    <h2 class="text-white text-4xl mb-16 font-semibold">
      {
        isEnglish
          ? "How to maintain a healthy back"
          : "Cómo mantener una espalda sana"
      }
    </h2>
  </Observer>
  <Observer client:visible>
    <h3 class="text-xl mb-16">
      {
        isEnglish
          ? "Having a healthy back doesn't just mean maintaining an upright posture, but also being aware of our movements and habits."
          : "Tener una espalda saludable no significa solo mantener una postura erguida, sino también ser consciente de nuestros movimientos y hábitos."
      }
    </h3>
  </Observer>

  <Observer client:visible>
    <h2 class="text-white text-4xl mb-16 font-semibold">
      {
        isEnglish
          ? "Postural hygiene measures:"
          : "Medidas de higiene postural:"
      }
    </h2>
  </Observer>
  <Observer client:visible>
    <h3 class="text-xl mb-16">
      {
        isEnglish
          ? "Every 45 minutes, stand up and stretch if you spend long periods in the same position. Sleep on a firm mattress, with a pillow between your knees if you sleep on your side, or on your back."
          : "Cada 45 minutos, levántate y estira si pasas largos periodos en la misma posición. Duerme sobre un colchón firme, con un cojín entre las rodillas si duermes de lado, o boca arriba."
      }
      <br />
      <br />
      {
        isEnglish
          ? "When sitting, support your back against the chair backrest."
          : "Al sentarte, apoya la espalda en el respaldo de la silla."
      }
      <br />
      <br />

      {
        isEnglish
          ? "To lift an object from the floor, bend your hips and knees instead of bending your back."
          : "Para levantar un objeto del suelo, flexiona las caderas y las rodillas en lugar de doblar la espalda."
      }
      <br />
      <br />

      {
        isEnglish
          ? "If you need to move something heavy, hold it close to your chest."
          : "Si necesitas mover algo pesado, sujétalo cerca del pecho."
      }
      <br />
      <br />

      {
        isEnglish
          ? "If possible, divide the load into smaller parts."
          : "Si es posible, divide la carga en partes más pequeñas."
      }
      <br />
      <br />

      {
        isEnglish
          ? "At work, use ergonomic chairs and maintain proper posture."
          : "En el trabajo, usa sillas ergonómicas y mantén una postura adecuada."
      }
      <br />
      <br />

      {
        isEnglish
          ? "If you spend a lot of time standing, place one foot on a bench and alternate posture frequently."
          : "Si pasas mucho tiempo de pie, apoya un pie sobre un banco y alterna la postura con frecuencia."
      }
      <br />
      <br />

      {
        isEnglish
          ? "Avoid sudden twists of the trunk, better turn with your whole body."
          : "Evita giros bruscos del tronco, mejor gira con todo el cuerpo."
      }
      <br />
      <br />

      {
        isEnglish
          ? "Don't make excessive efforts or forced movements of the trunk."
          : "No hagas esfuerzos excesivos ni movimientos forzados del tronco."
      }
      <br />
      <br />

      {
        isEnglish
          ? "Consult your specialist doctor if the pain doesn't decrease, if you experience loss of strength or sensitivity in your legs and urinary incontinence"
          : "Consulta a tu médico especialista si el dolor no disminuye, si presentas pérdida de fuerza o sensibilidad en las piernas e incontinencia urinaria"
      }
    </h3>
  </Observer>

  <Observer client:visible>
    <h2 class="text-white text-4xl mb-16 font-semibold">
      {
        isEnglish
          ? "I invite you to write to me if you have any questions, I'm in Tijuana, if you want an orthopedic consultation it will be a pleasure to accompany you, send me a message to schedule one"
          : "Te invito a escribirme si tienes alguna duda, me encuentro en Tijuana, si deseas una asesoría ortopédica será un placer poderte acompañar, mandarme mensaje para agendar una"
      }
    </h2>
  </Observer>
</article>
<section class="flex justify-center items-center flex-col md:w-[80%] mx-auto">
  <!-- <Comments
    client:visible
    author={author}
    comment={comment}
    business={business}
  /> -->

  <Form client:visible blogs={blogsRutas} blogActual={blogActual} idForm={id} />
</section>
<Footer
  URL={isEnglish}
  PreviousLink={isEnglish
    ? "how-to-tell-if-its-arthritis-or-osteoarthritis"
    : "Como-saber-si-es-artritis-o-artrosis"}
  PreviousName={isEnglish
    ? "Arthritis or Osteoarthritis?"
    : "¿Artritis o Artrosis?"}
  NextLink={isEnglish
    ? "proximal-humerus-fracture-in-older-adults"
    : "fractura-de-humero-proximal-en-adultos-mayores"}
  NextName={isEnglish
    ? "Proximal Humerus Fracture"
    : "Fractura de Húmero Proximal"}
/>
