---
import Observer from "@components/blogs/Observer";
import Comments from "@components/blogs/Comment";
import Form from "@components/blogs/CommentForm";
let author = "YVLB";
let comment =
  "Excelente atención, tomo el tiempo necesario para explicar detalladamente así como la exploración física. Me sentí realmente atendida y con buen pronóstico de resolución.";
let business = "Paciente";

const blogsRutas = [
  {
    blog: "Fractura-de-tibia-y-Perone",
  },
  {
    blog: "Pseudoartrosis-y-Retraso-de-Consolidacion",
  },
  {
    blog: "Lesion-de-Ligamento-cruzado-anterior",
  },
  {
    blog: "Osteoporosis-Una-condicion-silenciosa-que-afecta-a-la-mitad-de-la-poblacion-mayor",
  },
  {
    blog: "infiltraciones-en-la-rodilla-con-acido-hialuronico-para-tratamiento-de-artrosis-de-rodilla",
  },
];

const blogActual = "Pseudoartrosis-y-Retraso-de-Consolidacion";

const id = 2;
---

<article
  class="prose lg:prose-xl mx-auto py-4 [&>h1]:text-white text-start md:w-[80%] [&>h2]:text-white text-[#9e9e9e]"
>
  <Observer client:visible>
    <h1 class="text-2xl md:text-5xl text-white font-semibold mb-24 md:mt-32">
      Complicaciones en procedimientos médicos: pseudoartrosis y retraso de
      consolidación ósea
    </h1>
  </Observer>

  <Observer client:visible>
    <h3 class="fade-up text-2xl font-bold mb-24 text-white">
      ¿Porque algunas fracturas se comportan bien y otras mal?
    </h3>
  </Observer>

  <Observer client:visible>
    <h4 class="fade-up text-xl mb-16">
      Nuestro cuerpo y cada estructura se nutren de la sangre y el oxígeno.
      cuando hay una fractura lo afectado no solo es el hueso sino todos los
      tejidos alrededor el hueso, para que sane requiere de sangre y oxígeno y
      al quebrarse se interrumpe, es un proceso complicado y tiene muchos
      factores a considerar, pero la meta final es optimizar las condiciones de
      tu lesión y cuerpo para que logre recuperarse.
    </h4>
  </Observer>

  <Observer client:visible>
    <h3 class="fade-up text-2xl font-bold mb-24 text-white">
      ¿Qué sucede durante la consolidación ósea?
    </h3>
  </Observer>

  <Observer client:visible>
    <h3 class="fade-up text-xl mb-16">
      Existen dos tipos la primaria y secundaria
    </h3>
  </Observer>

  <Observer client:visible>
    <h4 class="fade-up text-xl mb-16">
      Entendemos como consolidación primaria del hueso a la curación de la
      fractura sin la formación del callo y apoyo de material como placas,
      tornillos, clavos para fijar y estabilizar la posición de la fractura.
    </h4>
  </Observer>

  <Observer client:visible>
    <h4 class="fade-up text-xl mb-16">
      Por otra parte, en la consolidación secundaria todas las fracturas
      sometidas a un proceso de inmovilización con material que este puede ser,
      por ejemplo: yeso que no requieren ser estabilizada quirúrgicamente,
      tienen tendencia a la curación por deformación de un callo.
    </h4>
  </Observer>

  <Observer client:visible>
    <h3 class="fade-up text-2xl mb-16 font-bold text-white">
      Se desarrolla en tres fases:
    </h3>
  </Observer>

  <Observer client:visible>
    <h4 class="fade-up text-xl mb-16">
      Inflamatoria, reparadora y la de remodelación. La primera ocurre en las
      primeras 24 a 48 hrs iniciando un proceso inflamatorio donde sucede una
      activación y migración de células al sitio de la lesión formándose un
      coagulo entre los tejidos y hueso afectado.
    </h4>
  </Observer>

  <Observer client:visible>
    <h4 class="fade-up text-xl mb-16">
      En la fase reparadora o callo blando se empieza a formar el callo que hace
      unos puentes desde ambas puntas del hueso quebrado, resultando en la
      restauración de la circulación medular. Esto transcurre en un lapso de dos
      semanas este proceso esta influenciado por causas mecánicas y humorales.
      Posterior a esto está la formación del callo duro que es donde se puede
      apreciar ya con radiografías la presencia de calcificación y osificación
      progresiva.
    </h4>
  </Observer>

  <Observer client:visible>
    <h4 class="fade-up text-xl mb-16">
      En la última fase, la fase de remodelación ocurre en un periodo de 3 a 5
      meses, consiste en que se forma un hueso inmaduro como cartílago que se
      remodela gradualmente gracias a los osteoclastos, que son las células
      encargadas de reparar los huesos devolviéndolos a su estado original.
    </h4>
  </Observer>

  <Observer client:visible>
    <h3 class="fade-up text-2xl font-bold mb-16 py-4 text-white">
      Los trastornos de la consolidación
    </h3>
  </Observer>

  <Observer client:visible>
    <h4 class="fade-up text-xl mb-16">
      <strong class="text-white font-bold text-2xl">
        Retardo de consolidación:
      </strong>
      <br />
      En la que existe una alteración evolutiva de la fractura que está bien reducida
      e inmovilizada, sin embargo, después de un tiempo para de consolidar y no se
      percibe una unión ósea completa y se sigue percibiendo la fractura en las radiografías
      <br /><br />
      <strong class="text-white font-bold text-2xl"> Pseudoartrosis: </strong>
      <br />
      Que es la ausencia absoluta de consolidación de una fractura apareciendo una
      falsa articulación en la parte de la epífisis, metáfisis o diáfisis siendo
      esta ultima la más frecuente. La pseudoartrosis presenta además esclerosis
      de los bordes de la fractura y pseudocápsula periostal y particularmente una
      movilidad extraña, pero sin dolor en la zona de la fractura.
    </h4>
  </Observer>

  <Observer client:visible>
    <h3 class="fade-up text-2xl font-bold mb-16 text-white">Causas</h3>
  </Observer>

  <Observer client:visible>
    <h4 class="fade-up text-xl mb-16">
      Existen diferentes factores, entre ellos pueden ser:
    </h4>
  </Observer>

  <Observer client:visible>
    <ul class="fade-up list-decimal px-4 mb-16 text-white">
      <li class="fade-up font-bold text-xl">
        Traumatismos de alto impacto, contracturas mutisegmentadas, fracturas
        abiertas que se hayan infectado.
      </li>
      <li class="fade-up font-bold
      text-xl">Edad</li>
      <li class="fade-up font-bold text-xl">
        Malos hábitos como fumar en abundancia.
      </li>
      <li class="fade-up font-bold
      text-xl">
        Enfermedades sistémicas como diabetes, lupus, hipotiroidismo y
        osteopatía descalificante.
      </li>
      <li class="fade-up font-bold
    text-xl">
        Consolidación viciosa, que ocurre por una mala técnica de reducción de
        la fractura.
      </li>
    </ul>
  </Observer>

  <Observer client:visible>
    <h3 class="fade-up text-2xl font-bold mb-16 text-white">
      Tratamiento para retraso de consolidación ósea
    </h3>
  </Observer>

  <Observer client:visible>
    <h4 class="fade-up text-xl mb-16">
      Para ello será indispensable corregir la causa que lo provoca o mantiene,
      por ejemplo, corregir la mala inmovilización, tratar la infección,
      estimular la extremidad y retirar cuerpos extraños.
    </h4>
  </Observer>

  <Observer client:visible>
    <h3 class="fade-up text-2xl font-bold mb-16 text-white">
      Tratamiento para Pseudoartrosis
    </h3>
  </Observer>

  <Observer client:visible>
    <h4 class="fade-up text-xl mb-16">
      El abordaje dependerá de los tipos de pseudoartrosis por ejemplo la
      hipertrófica donde se debe asegurar la estabilidad, una pseudoartrosis
      infectada será necesaria tratarla con antibióticos y una pseudoartrosis
      atrófica se deberá eliminar el tejido fibroso desde la altura de la
      fractura hasta el hueso sano algunos abordajes pueden ser con:
    </h4>
  </Observer>

  <Observer client:visible>
    <h3 class="fade-up text-2xl font-bold mb-16 text-white">Injertos</h3>
  </Observer>

  <Observer client:visible>
    <h4 class="fade-up text-xl mb-16">
      Los injertos son la opción más adecuada por no presentar reacciones de
      inmunológicas o infecciones. Estos pueden ser un autoinjerto de cresta
      iliaca: es la zona donde se presenta mayor capacidad osteoinductiva
      Vascularizados: brindan soporte mecánico y vascular se utiliza para casos
      complejos
    </h4>
  </Observer>

  <Observer client:visible>
    <h3 class="fade-up text-2xl font-bold mb-16 text-white">Osteosíntesis</h3>
  </Observer>

  <Observer client:visible>
    <h4 class="fade-up text-xl mb-8">
      Una de las ventajas de la fijación en el caso de pseudoartrosis es la
      vascularización del hueso y los tejidos permitiendo que se regeneren con
      más rapidez.
      <br />
      <br />
      <strong class="text-white"> Clavos intramedulares: </strong>
      Permiten estabilidad de carga y micromovilidad ideal en pseudoartrosis de huesos
      largos.
    </h4>
  </Observer>

  <Observer client:visible>
    <h4 class="fade-up text-xl mb-16">
      Existen múltiples abordajes individualizados que toman en cuenta todos los
      factores presentes de los trastornos de consolidación y pseudoartrosis
      para lograr el objetivo e incorporar al paciente a su calidad y vida digna
      nuevamente. Hablar de las complicaciones en procedimientos es un tema que
      a veces no se habla mucho, una complicación es un evento no deseado que
      puede ocurrir a pesar de un tratamiento adecuado, puede ser desde
      infecciones, efectos secundarios con medicamentos y como vimos hoy un
      retraso en consolidación y una pseudoartrosis. Cualquier procedimiento por
      más mínimo que sea puede traer una complicación, pese a que el porcentaje
      del evento puede ser muy bajo nunca es un cero, lo que hacemos como
      médicos especialistas en traumatología y ortopedia para minimizar el
      porcentaje de alguna complicación, es optimizarte como paciente y tomar
      medidas específicas para lo que pueda aumentar el riesgo y tratarlo de
      disminuir lo mejor posible
    </h4>
  </Observer>

  <Observer client:visible>
    <h3 class="fade-up text-2xl font-bold mb-24 text-white">
      Es importantísimo como tu médico especialista, ser siempre justos con tu
      condición médica y no brindar expectativas que no corresponde, preguntar,
      platicar y conoce todo sobre tu padecimiento, es tu derecho como paciente.
      <br />
      <br />
      Si tienes una duda mándame mensaje o agenda tu cita para comenzar, estoy cerca
      de ti en Tijuana
    </h3>
  </Observer>
</article>

<section class="flex justify-center items-center flex-col md:w-[80%] mx-auto">
  <!-- <Comments
    client:visible
    author={author}
    comment={comment}
    business={business}
  /> -->

  <Form client:visible blogs={blogsRutas} blogActual={blogActual} idForm={id} />
</section>
