---
import { Image } from "astro:assets";
import Comments from "@components/blogs/Comment";
import Form from "@components/blogs/CommentForm";
import Image1 from "@public/Las infiltraciones son un complemento perfecto para rehabilitacion.webp";
import Image2 from "@public/Las infiltraciones pueden ser de corticosteroides PRP Y Acido hialuronico.webp";
import Observer from "@components/blogs/Observer";
import ObserverImage from "@components/blogs/ObserverImage";
let author = "YVLB";
let comment =
  "Excelente atención, tomo el tiempo necesario para explicar detalladamente así como la exploración física. Me sentí realmente atendida y con buen pronóstico de resolución.";
let business = "Paciente";

const blogsRutas = [
  {
    blog: "Fractura-de-tibia-y-Perone",
  },
  {
    blog: "Pseudoartrosis-y-Retraso-de-Consolidacion",
  },
  {
    blog: "Lesion-de-Ligamento-cruzado-anterior",
  },
  {
    blog: "Osteoporosis-Una-condicion-silenciosa-que-afecta-a-la-mitad-de-la-poblacion-mayor",
  },
  {
    blog: "infiltraciones-en-la-rodilla-con-acido-hialuronico-para-tratamiento-de-artrosis-de-rodilla",
  },
  {
    blog: "Tratamiento-conservador-vs-cirugia-Cuando-un-tratamiento-conservador-falla-y-requiere-intervencion-quirurgica-en-hernia-discal-cervical",
  },
  {
    blog: "Porque-se-dice-que-el-cuerpo-rechazo-de-material-Factores-asociados-al-fallo-en-la-osteosintesis-de-fracturas",
  },
  {
    blog: "Juanetes-sintomas-deteccion-y-tipos-de-cirugia-para-eliminarlos",
  },
  {
    blog: "Infiltraciones-de-rodilla-Opciones-y-beneficios-para-la-osteoartritis",
  },
];

const blogActual =
  "Infiltraciones-de-rodilla-Opciones-y-beneficios-para-la-osteoartritis";

const id = 9;

const isEnglish = Astro.url.pathname.startsWith("/en/");
---

<article
  class="prose lg:prose-xl mx-auto py-4 [&>h1]:text-white text-start md:w-[80%] [&>h2]:text-white text-[#9e9e9e]"
>
  <Observer client:visible>
    <h3 class="text-xl mb-16">
      <strong class="text-white font-bold">
        {isEnglish ? "Osteoarthritis (OA)" : "La osteoartritis (OA)"}
      </strong>
      {
        isEnglish
          ? "is a chronic disease that develops when the cartilage that protects and cushions the ends of the bones and cushions the ends of the bones begins to wear down due to various factors, such as aging factors, such as aging, repetitive injuries, mechanical overload, among others, among others. This wear and tear alters the structure of the joint, which triggers inflammatory processes and inflammatory processes and progressive deterioration of the tissue."
          : "es una enfermedad crónica que se desarrolla cuando el cartílago que protege y amortigua los extremos de los huesos comienza a desgastarse debido a diversos factores, como el envejecimiento, lesiones repetitivas, sobrecarga mecánica, entre otros. Este desgaste altera la estructura de la articulación, lo que desencadena procesos inflamatorios y deterioro progresivo del tejido."
      }
      <br />
      <br />
      {
        isEnglish
          ? "OA can cause disability and is one of the most common disorders in the population, with a frequency of 30% in people aged 45 to 60 years, and a higher frequency of 80% in people aged 80 years. This occurs when the dynamic balance between tissue injury and repair is disrupted. Damage to cartilage causes bones to rub directly against each other, generating friction, pain, inflammation, and stiffness, especially when moving and in more severe cases, at rest."
          : "La OA puede causar discapacidad y es uno de los trastornos más frecuentes en la población, con una frecuencia del 30% en personas de 45 a 60 años, y una más alta, del 80%, en personas de 80 años. Esta ocurre cuando se rompe el equilibrio dinámico entre la lesión y la reparación de los tejidos. El daño al cartílago provoca que los huesos se rocen directamente, generando fricción, dolor, inflamación y rigidez, especialmente al realizar movimientos y en casos más graves, al estar en reposo."
      }
      <br />
      <br />
      {
        isEnglish
          ? "The mobile parts of the joint are the first to suffer, as there is a progressive loss of bone in the articular cartilage, making it rough and eroding it little by little. In most cases, due to the relationship between the articular cartilage and the synovial membrane, OA affects the joint as a whole."
          : "Las partes móviles de la articulación son las que comienzan a sufrir primero, ya que se produce una pérdida ósea progresiva en el cartílago articular, haciéndolo rugoso y erosionándolo poco a poco. En la mayoría de los casos, debido a la relación entre el cartílago articular y la membrana sinovial, la OA afecta a la articulación en su totalidad."
      }
      <br />
      <br />
      {
        isEnglish
          ? "This is a very common problem, very disabling and reluctant to treatment, because, once the process of joint wear begins, nothing stops it, and it is a matter of time before it progresses to the point of requiring surgery. However, there are conservative treatments that allow prolonging this procedure. We speak then of physical therapies and infiltrations with anti-inflammatory drugs, hyaluronic acid and biological therapies such as platelet-rich plasma. Each of these has its own specific indications, as it may be useful for some patients and not for others. Let me explain:"
          : "Este es un problema bastante común, muy incapacitante y renuente al tratamiento, debido a que, una vez que inicia el proceso de desgaste de una articulación, nada lo detiene, y es cuestión de tiempo que progrese hasta requerir una cirugía. Sin embargo, existen tratamientos conservadores que permiten prolongar este procedimiento. Hablamos entonces de terapias físicas e infiltraciones con antiinflamatorios, ácido hialurónico y terapias biológicas como el plasma rico en plaquetas. Cada uno de estos tiene sus propias indicaciones específicas, ya que puede ser útil para algunos pacientes y para otros no. Te explico: "
      }
      <br />
      <br />
    </h3>
  </Observer>

  <Observer client:visible>
    <h2 class="text-white text-4xl mb-16 font-semibold">
      {
        isEnglish
          ? "Infiltrations with corticosteroids or cortisone"
          : "Infiltraciones con glucocorticoides o cortisona"
      }
    </h2>
  </Observer>

  <Observer client:visible>
    <h3 class="text-xl mb-16">
      {
        isEnglish
          ? "This type of infiltration is very effective for very short-term pain relief. They are usually applied with anesthesia to minimize discomfort when they take effect. Another important reason to combine it is to confirm that the medication is in the injured tissue. Subsequently, an evaluation visit is required after two weeks. It should be noted that this type of infiltration is not recommended more than three times in a year."
          : "Este tipo de infiltraciones es muy eficaz para el alivio del dolor a muy corto plazo. Normalmente, se aplican con anestesia para minimizar las molestias al momento de hacer efecto. Otra razón importante para combinarla es que permite confirmar que el medicamento se encuentra en el tejido lesionado. Posteriormente, se requiere una visita de valoración después de dos semanas. Cabe recalcar que este tipo de infiltraciones no se recomiendan más de tres veces en un año."
      }
      <br />
      <br />
      {
        isEnglish
          ? "To perform the procedure it is necessary to pause the intake of anticoagulant medications or supplements with anticoagulant effect to avoid bruising or bleeding. During the application, the knee area is cleaned and with the help of an ultrasound scanner, the advancement of the needle in the knee can be visualized for greater precision. Some people have redness and a feeling of warmth in the chest and face. It is normal to experience knee pain and swelling during the first 24 to 48 hours. Relative rest is recommended."
          : "Para llevar a cabo es necesario pausar la ingesta de medicamentos anticoagulantes o suplementos con efecto anticoagulante para evitar moretones o algún sangrado. Durante la aplicación, se limpia la zona de la rodilla y con ayuda de un ecógrafo, se puede visualizar el avance de la aguja en la rodilla para mayor precisión. Algunas personas presentan enrojecimiento y una sensación de calor en el pecho y el rostro. Es normal experimentar dolor en la rodilla e hinchazón durante las primeras 24 a 48 horas. Se recomienda reposo relativo."
      }
    </h3>
  </Observer>

  <ObserverImage client:visible>
    <div class="flex justify-center items-center">
      <Image
        src={Image1}
        alt="Imagen de fractura de tibia y peroné"
        class="object-cover mb-16"
      />
    </div>
  </ObserverImage>

  <Observer client:visible>
    <h2 class="text-white text-4xl mb-4 font-semibold">
      {
        isEnglish
          ? "Infiltrations with platelet-rich plasma (PRP)"
          : "Infiltraciones de plasma rico en plaquetas (PRP)"
      }
    </h2>
  </Observer>

  <Observer client:visible>
    <h3 class="text-xl mb-16">
      {
        isEnglish
          ? "Plasma is a natural component of blood, rich in proteins, among other properties. While platelet-rich plasma is a concentrate with a higher number of platelets than those usually found in the blood. Among its properties are the platelet growth factors, which are indispensable for injuries to heal properly."
          : "El plasma es un componente natural de la sangre, rico en proteínas, entre otras propiedades. Mientras que el plasma rico en plaquetas es un concentrado con un número mayor de plaquetas que las que se encuentran en la sangre usualmente. Entre sus propiedades se encuentran los factores de crecimiento de las plaquetas, que son indispensables para que las lesiones sanen adecuadamente."
      }
      <br />
      <br />
      {
        isEnglish
          ? "In order to carry out the infiltration, the patient's blood must first be drawn and centrifuged. This process allows the isolation of the PRP, which may contain 3 to 5 times more platelets than normal. Often these platelets are activated by means of substances such as thrombin, calcium chloride, calcium gluconate, which stimulates the growth factors essential for tissue regeneration. Finally, plasma reinjection is performed, which is carried out with the aid of an ultrasound scanner to precisely locate the lesion."
          : "Para llevar a cabo la infiltración, primero se requiere la extracción de sangre del paciente para ser centrifugada este proceso permite aislar el PRP, que puede contener 3 a 5 veces más plaquetas de lo normal. Con frecuencia estas plaquetas son activadas por medio de sustancias como trombina, cloruro de calcio, gluconato de calcio, lo que estimula los factores de crecimiento esenciales para que se regeneren los tejidos. Finalmente, se realiza la reinyección del plasma, la cual se lleva a cabo con ayuda de un ecógrafo para localizar con precisión la lesión."
      }
      <br />
      <br />
      {
        isEnglish
          ? "In the case of this infiltration, anesthesia cannot be applied previously, since it modifies the structure and function of the substance, which would make it less effective. Relative rest is recommended once applied."
          : "En el caso de esta infiltración, no se puede aplicar anestesia previamente, ya que modifica la estructura y la función de la sustancia, lo que la haría menos efectiva. Se recomienda reposo relativo una vez aplicada."
      }
      <br />
      <br />
    </h3>
  </Observer>

  <Observer client:visible>
    <h2 class="text-white text-4xl mb-16 font-semibold">
      {
        isEnglish
          ? "Infiltrations with hyaluronic acid"
          : "Infiltraciones con ácido hialurónico"
      }
    </h2>
  </Observer>

  <Observer client:visible>
    <h3 class="text-xl mb-16">
      {
        isEnglish
          ? "Hyaluronic acid is a natural substance found in the synovial fluid of the joints, providing lubrication and cushioning. However, joint conditions such as osteoarthritis lead to a decrease in this substance and consequently to wear, friction and pain."
          : "El ácido hialurónico es una sustancia natural que se encuentra en el líquido sinovial de las articulaciones, brindando lubricación y amortiguación. Sin embargo, las afecciones articulares como la osteoartritis generan una disminución de esta sustancia y por consiguiente, un desgaste, fricción y dolor."
      }
      <br />
      <br />
      {
        isEnglish
          ? "Hyaluronic acid injections restore joint lubrication, reducing friction and inflammation. As with platelet-rich infiltrations, these are applied without anesthesia to avoid modifying the substance and its effect."
          : "Las infiltraciones de ácido hialurónico devuelven la lubricación de la articulación, reduciendo la fricción y la inflamación. Al igual que las infiltraciones ricas en plaquetas, estas se aplican sin anestesia para evitar modificar la sustancia y su efecto. "
      }
      <br />
      <br />
      {
        isEnglish
          ? "I invite you to read more about this procedure in detail on my blog:"
          : "Te invito a leer más a detalle acerca de este procedimiento en mi blog:"
      }
      <a
        href={isEnglish
          ? "/en/blogs/Infiltraciones-en-la-rodilla-con-acido-hialuronico-para-tratamiento-de-artrosis-de-rodilla/"
          : "/blogs/Infiltraciones-en-la-rodilla-con-acido-hialuronico-para-tratamiento-de-artrosis-de-rodilla/"}
        class="text-white font-bold hover:underline"
      >
        {
          isEnglish
            ? "https://mongeortopedia.com/en/blogs/infiltraciones-en-la-rodilla-con-acido-hialuronico-para-tratamiento-de-artrosis-de-rodilla/"
            : "https://mongeortopedia.com/blogs/infiltraciones-en-la-rodilla-con-acido-hialuronico-para-tratamiento-de-artrosis-de-rodilla/"
        }
      </a>
      <br />
      <br />
      {
        isEnglish
          ? "During your visit with your trusted orthopedic surgeon, multiple aspects are evaluated to diagnose and, above all, recommend the most appropriate treatment. If you are looking to postpone surgery, there is always the option of a multidisciplinary conservative treatment. This includes orthopedic aids such as canes, crutches, walkers, bandages, therapy with a physiotherapist, as well as nutritional assistance that provides the patient with a balanced and nutritious diet. If necessary, a specific diet is recommended to reduce the load on the joints. All this should be accompanied by rigorous follow-up consultations."
          : "Durante tu visita con tu traumatólogo de confianza, se evalúan múltiples aspectos para diagnosticar y sobre todo, recomendar el tratamiento más adecuado. En caso de buscar postergar una cirugía, siempre está la opción de un tratamiento conservador multidisciplinario. Este incluye ayudas ortopédicas como bastones, muletas, andadores, vendajes, terapia con un fisioterapeuta, así como asistencia nutricional que proporcione al paciente una dieta balanceada y nutritiva. Si es necesario, se recomienda una dieta específica para reducir la carga en las articulaciones. Todo esto debe ir acompañado de la realización rigurosa de consultas de seguimiento."
      }
      <br />
      <br />
      {
        isEnglish
          ? "It should be emphasized that this type of infiltration does not cure osteoarthritis, but reduces pain and inflammation sufficiently so that the body can continue its work of healing or cope with it with less discomfort.Each patient is unique, and not necessarily knee pain is a sign of a condition or osteoarthritis and not all patients are candidates. Therefore, a detailed and individualized diagnosis is essential."
          : "Cabe recalcar que este tipo de infiltraciones no curan la osteoartritis, pero disminuyen el dolor y la inflamación lo suficiente para que el cuerpo pueda continuar su trabajo de sanar o sobrellevarla con menos molestias.Cada paciente es único, y no necesariamente el dolor en la rodilla es señal de una afección u osteoartritis y no todos los pacientes son candidatos. Por ello, es fundamental realizar un diagnóstico detallado e individualizado."
      }
    </h3>
  </Observer>

  <ObserverImage client:visible>
    <div class="flex justify-center items-center">
      <Image
        src={Image2}
        alt="Imagen de fractura de tibia y peroné"
        class="fade-up object-cover mb-16"
      />
    </div>
  </ObserverImage>
  <Observer client:visible>
    <h2 class="text-white text-4xl mb-16 font-semibold">
      {
        isEnglish
          ? "If you have more questions, write me and I will gladly help you solve your doubts, I am located in the city of Tijuana and I am at your disposal to work together to find a solution 100% tailored to your needs."
          : "Si tienes más dudas, escríbeme y con gusto te apoyo a resolver tus dudas, me encuentro en la ciudad de Tijuana y estoy a tu disposición para trabajar juntos para hallar una solución 100% a tu medida."
      }
    </h2>
  </Observer>
</article>

<section class="flex justify-center items-center flex-col md:w-[80%] mx-auto">
  <!-- <Comments
    client:visible
    author={author}
    comment={comment}
    business={business}
  /> -->

  <Form client:visible blogs={blogsRutas} blogActual={blogActual} idForm={id} />
</section>
