---
import { Image } from "astro:assets";
import Comments from "@components/blogs/Comment";
import Form from "@components/blogs/CommentForm";
import Image1 from "@public/blog16.webp";
import Image2 from "@public/blog16-2.webp";
import Observer from "@components/blogs/Observer";
import ObserverImage from "@components/blogs/ObserverImage";
let author = "YVLB";
let comment =
  "Excelente atención, tomo el tiempo necesario para explicar detalladamente así como la exploración física. Me sentí realmente atendida y con buen pronóstico de resolución.";
let business = "Paciente";

const blogsRutas = [
  {
    blog: "Fractura-de-tibia-y-Perone",
  },
  {
    blog: "Pseudoartrosis-y-Retraso-de-Consolidacion",
  },
  {
    blog: "Lesion-de-Ligamento-cruzado-anterior",
  },
  {
    blog: "Osteoporosis-Una-condicion-silenciosa-que-afecta-a-la-mitad-de-la-poblacion-mayor",
  },
  {
    blog: "infiltraciones-en-la-rodilla-con-acido-hialuronico-para-tratamiento-de-artrosis-de-rodilla",
  },
  {
    blog: "Tratamiento-conservador-vs-cirugia-Cuando-un-tratamiento-conservador-falla-y-requiere-intervencion-quirurgica-en-hernia-discal-cervical",
  },
  {
    blog: "Porque-se-dice-que-el-cuerpo-rechazo-de-material-Factores-asociados-al-fallo-en-la-osteosintesis-de-fracturas",
  },
  {
    blog: "Juanetes-sintomas-deteccion-y-tipos-de-cirugia-para-eliminarlos",
  },
  {
    blog: "Infiltraciones-de-rodilla-Opciones-y-beneficios-para-la-osteoartritis",
  },
  {
    blog: "Tendinitis-y-tendinosis-causas-diferencias-y-tratamiento",
  },
  {
    blog: "Como-saber-si-es-artritis-o-artrosis",
  },
  {
    blog: "lumbalgia-tipos-factores-de-riesgos-y-tratamientos",
  },
  {
    blog: "fractura-de-humero-proximal-en-adultos-mayores",
  },
  {
    blog: "Es-necesaria-una-segunda-cirugia-para-tratar-la-pseudoartrosis",
  },
  {
    blog: "fracturas-ocultas-diagnostico-tijuana",
  },
  {
    blog: "dolor-de-rodilla-artroscopia-para-tratar-el-desgaste-articular",
  },
];

const blogActual =
  "dolor-de-rodilla-artroscopia-para-tratar-el-desgaste-articular";

const id = 16;
---

<article
  class="prose lg:prose-xl mx-auto py-4 [&>h1]:text-white text-start md:w-[80%] [&>h2]:text-white text-[#9e9e9e]"
>
  <Observer client:visible>
    <h2 class="text-white text-4xl mb-16 font-semibold">
      ¿Dolor de Rodilla?  La Artroscopia Puede Ser Tu Mejor Aliada
    </h2>
  </Observer>

  <Observer client:visible>
    <h3 class="text-xl mb-16">
      La rodilla es una de las articulaciones más complejas, ya que tiene muchas
      estructuras que necesitan trabajar en armonía para estar balanceadas y
      hagan su trabajo de una manera eficiente.
      <br />
      <br />
      Los músculos, ligamentos y tendones van a funcionar de una manera sincrónica
      para que cada rango que des se mantenga balanceados y en su lugar. Cuando hay
      un desbalance o desgaste de estas estructuras, puede haber ciertas molestias
      debido a que se sobrecargan estas partes.
    </h3>
  </Observer>

  <Observer client:visible>
    <h2 class="text-white text-4xl mb-4 font-semibold">
      ¿Qué ocurre en una Rodilla con desgaste?
    </h2>
  </Observer>

  <Observer client:visible>
    <h3 class="text-xl mb-4">
      El cartílago se desgasta y los huesos pueden rozar entre sí, volviéndose
      ásperos e irregulares. Esto puede deberse a:
    </h3>
    <ol class="text-xl list-decimal px-6 space-y-2 mb-8">
      <li>Artrosis degenerativa (desgaste por edad o uso excesivo).</li>
      <li>Traumatismos (fracturas o lesiones deportivas).</li>
      <li>Enfermedades inflamatorias (artritis reumatoide, gota).</li>
    </ol>
  </Observer>

  <ObserverImage client:visible>
    <div class="flex justify-center items-center">
      <Image
        src={Image1}
        alt="Imagen de fractura de tibia y peroné"
        class="object-cover mb-16"
      />
    </div>
  </ObserverImage>

  <Observer client:visible>
    <h2 class="text-white text-4xl mb-8 font-semibold">Síntomas comunes:</h2>
  </Observer>
  <Observer client:visible>
    <h3 class="text-xl mb-16">
      Cuando la superficie articular se deteriora, se hace irregular y empieza a
      manifestarse con dolor, disminución de la movilidad y dificultad para
      caminar. Pueden también aparecer derrames o bloqueos articulares que
      incrementan todavía más el dolor.
    </h3>
  </Observer>

  <Observer client:visible>
    <h2 class="text-white text-4xl mb-8 font-semibold">
      Una solución Mínimamente Invasiva y breve ¿En qué consiste?
    </h2>
  </Observer>

  <Observer client:visible>
    <h3 class="text-xl mb-16">
      Es un procedimiento quirúrgico mínimamente invasivo que permite abordar,
      mediante pequeñas incisiones llamadas portales y un artroscopio, que es
      una camarita milimétrica, que permite reparar daños internos sin necesidad
      de hacer una cirugía abierta, lo que la hace ser una técnica bastante
      breve.
    </h3>
  </Observer>

  <Observer client:visible>
    <h2 class="text-white text-4xl mb-8 font-semibold">
      Proceso quirúrgico de una artroscopia de rodilla
    </h2>
  </Observer>

  <Observer client:visible>
    <h3 class="text-xl mb-16">
      1. Durante esta operación, el paciente usualmente se coloca boca arriba en
      la mesa de intervención con la rodilla flexionada o semiflexionada, con un
      manguito de isquemia alrededor del muslo para compresión y así reducir el
      sangrado.
      <br />
      <br />
      2. Se realizan de dos a 3 incisiones por las que se introduce el artroscopio
      y los instrumentos especializados, lo que le permite examinar la articulación
      con gran detalle. Ahí se repara la zona afectada, después se drena el líquido
      articular, se suturan los portales y se aplica un vendaje estéril.
    </h3>
  </Observer>

  <ObserverImage client:visible>
    <div class="flex justify-center items-center">
      <Image
        src={Image2}
        alt="El DR. Ricardo Monge explica de forma sencilla los principales sintomas de la tendinitis que es un proceso agudo inflamatorio "
        title="El DR. Ricardo Monge explica de forma sencilla los principales sintomas de la tendinitis que es un proceso agudo inflamatorio "
        class="fade-up object-cover mb-16"
      />
    </div>
  </ObserverImage>

  <Observer client:visible>
    <h2 class="text-white text-4xl mb-8 font-semibold">
      Candidatos para artroscopia
    </h2>
  </Observer>
  <Observer client:visible>
    <h3 class="text-xl mb-8">
      Cada caso tiene sus particularidades, sin embargo, se pueden tratar con
      artroscopia:
    </h3>
    <ol class="text-xl list-decimal px-6 space-y-2 mb-16">
      <li>Rotura de meniscos (lesión común en deportistas).</li>
      <li>
        Daño en el cartílago (limpieza o microfracturas para estimular
        regeneración).
      </li>
      <li>
        Reconstrucción de ligamentos cruzados (tras roturas por giros bruscos).
      </li>
      <li>
        Extracción de cuerpos libres (fragmentos de hueso o cartílago que flotan
        en la articulación).
      </li>
    </ol>
  </Observer>

  <Observer client:visible>
    <h2 class="text-white text-4xl mb-8 font-semibold">
      Recuperación Postoperatoria y Rehabilitación
    </h2>
  </Observer>

  <Observer client:visible>
    <h3 class="text-xl mb-8">Primeras 24-48 horas:</h3>
    <ol class="text-xl list-decimal px-6 space-y-2 mb-16">
      <li>Carga parcial con ayuda de muletas (evitar apoyo total).</li>
      <li>Uso de hielo para reducir inflamación.</li>
      <li>Medicación analgésica y antiinflamatoria.</li>
    </ol>
    <h3 class="text-xl mb-8">Primeras Semanas:</h3>
    <ol class="text-xl list-decimal px-6 space-y-2 mb-16">
      <li>Retiro del vendaje y cuidados de las heridas.</li>
      <li>Ejercicios suaves de movilización (flexión/extensión).</li>
      <li>Fisioterapia guiada para recuperar fuerza y flexibilidad.</li>
    </ol>
  </Observer>
  <Observer client:visible>
    <h2 class="text-white text-4xl mb-8 font-semibold">
      Claves para una Buena Recuperación:
    </h2>
  </Observer>

  <Observer client:visible>
    <ol class="text-xl list-decimal px-6 space-y-2 mb-16">
      <li>
        Seguir las indicaciones del fisioterapeuta: Evita cicatrices fibrosas y
        rigidez.
      </li>
      <li>
        La inflamación es una respuesta universal al daño del tejido
        independientemente que este se haya corregido o arreglado, si continua y
        genera dolorr es importante acudir a valoración
      </li>
      <li>
        Paciencia: La recuperación total puede tardar semanas o meses,
        dependiendo de la lesión.
      </li>
    </ol>
  </Observer>

  <Observer client:visible>
    <h3 class="text-2xl mb-4">
      El <strong class="text-white font-bold">éxito</strong> no solo depende de la
      cirugía, sino de un equipo multidisciplinario y un plan de <strong
        class="text-white font-bold">rehabilitación personalizado</strong
      >. Por eso, elegir a un <strong class="text-white font-bold"
        >especialista con experiencia</strong
      >, es clave.
      <br />
      <br />

      Si buscas un <strong class="text-white font-bold"
        >cirujano traumatólogo ortopedista</strong
      > especializado en
      <strong class="text-white font-bold">artroscopia de rodilla</strong> en Tijuana,
      estás a un paso de recuperar tu
      <strong class="text-white font-bold">movilidad</strong> y <strong
        class="text-white font-bold">calidad de vida</strong
      >.
      <br />
      <br />

      La <strong class="text-white font-bold">artroscopia</strong> es la solución
      más avanzada y <strong class="text-white font-bold"
        >mínimamente invasiva</strong
      > para tratar <strong class="text-white font-bold"
        >lesiones de rodilla</strong
      >, con menor tiempo en el quirófano, <strong class="text-white font-bold"
        >recuperación más rápida</strong
      >.
      <br />
      <br />

      Si te gustaría agendar una <strong class="text-white font-bold"
        >consulta de valoración</strong
      > en Tijuana, te invito a mi consultorio <strong
        class="text-white font-bold">Torre Norte 2</strong
      >, a 10 minutos de la línea <strong class="text-white font-bold"
        >San Ysidro- Tijuana</strong
      >.
      <br />
      <br />

      Será un placer poder acompañarte hacia una <strong
        class="text-white font-bold">rodilla sin dolor</strong
      > y una
      <strong class="text-white font-bold"
        >independencia hacia tu movilidad</strong
      >.
    </h3>
  </Observer>
</article>

<section class="flex justify-center items-center flex-col md:w-[80%] mx-auto">
  <!-- <Comments
    client:visible
    author={author}
    comment={comment}
    business={business}
  /> -->

  <Form client:visible blogs={blogsRutas} blogActual={blogActual} idForm={id} />
</section>
