---
import Observer from "@components/blogs/Observer";
import Comments from "@components/blogs/Comment";
import Form from "@components/blogs/CommentForm";

let author = "YVLB";
let comment =
  "Excelente atención, tomo el tiempo necesario para explicar detalladamente así como la exploración física. Me sentí realmente atendida y con buen pronóstico de resolución.";
let business = "Paciente";

const blogsRutas = [
  {
    blog: "Fractura-de-tibia-y-Perone",
  },
  {
    blog: "Pseudoartrosis-y-Retraso-de-Consolidacion",
  },
  {
    blog: "Lesion-de-Ligamento-cruzado-anterior",
  },
  {
    blog: "Osteoporosis-Una-condicion-silenciosa-que-afecta-a-la-mitad-de-la-poblacion-mayor",
  },
  {
    blog: "infiltraciones-en-la-rodilla-con-acido-hialuronico-para-tratamiento-de-artrosis-de-rodilla",
  },
];

const blogActual = "Fractura-de-tibia-y-Perone";

const id = 1;
---

<article
  class="prose lg:prose-xl mx-auto py-4 [&>h1]:text-white text-start md:w-[80%] [&>h2]:text-white text-[#9e9e9e]"
>
  <Observer client:visible>
    <h1 class="text-2xl md:text-5xl text-white font-semibold mb-16 md:mt-32">
      Fractura de tibia y Perone
    </h1>
  </Observer>

  <Observer client:visible>
    <h3 class="animate-fade-up font-semibold text-xl mb-16">
      Una de las fracturas con más incidencias en el mundo, te presento los
      puntos claves que debes conocer sobre este tipo de lesiones
    </h3>
  </Observer>

  <Observer client:visible>
    <h4 class="animate-fade-up text-xl mb-16">
      Cuando te fracturas un hueso, el cuerpo inmediatamente empieza un proceso
      muy complejo. No solo es el hueso lo que se lastima sino todo lo que lo
      rodea, ya que al fracturarse o quebrarse se libera energía o también
      llamada implosión que lastima los tejidos alrededor. Durante la fractura,
      el hueso empieza a sangrar y ese sangrado creará un coágulo que,
      dependiendo de ciertos estímulos, químicos o mecánicos, se convertirá en
      hueso. A este proceso se llama consolidación primaria o secundaria,
      depende de cuál lesión es, cómo tu ortopedista va a solucionar ese
      conflicto.
    </h4>
  </Observer>

  <Observer client:visible>
    <h4 class="animate-fade-up text-xl mb-16">
      El tratamiento es variado, entre los cuales se puede hacer de forma
      conservadora o quirúrgica. Hay tres aspectos fundamentales para que tu
      médico opte por el más conveniente, que son:
    </h4>
  </Observer>

  <Observer client:visible>
    <ul class="animate-fade-up list-decimal mb-16 px-6 text-white">
      <li class="animate-fade-up font-bold text-xl">Tipo de fractura.</li>
      <li class="animate-fade-up font-bold text-xl">
        Condición de salud general.
      </li>
      <li class="animate-fade-up font-bold text-xl">
        Como están los tejidos alrededor de la fractura.
      </li>
    </ul>
  </Observer>

  <Observer client:visible>
    <h3 class="animate-fade-up text-2xl font-bold mb-16 text-white">
      ¿Como se fractura la tibia y el peroné?
    </h3>
  </Observer>

  <Observer client:visible>
    <h4 class="animate-fade-up text-xl mb-16">
      Las fracturas de tibia y el peroné son las fracturas de huesos largos más
      frecuentes que pueden ocurrir por diversos motivos, los más comunes son:
      Por un impacto directo causado por alguna caída, rotación forzada,
      accidentes vehiculares, practicar algún deporte de impacto como futbol
      americano, incluso fútbol y por sobrecarga y desgaste debido a factores
      degenerativos o edad.
    </h4>
  </Observer>

  <Observer client:visible>
    <h3 class="animate-fade-up text-2xl font-bold mb-16 text-white">
      ¿Qué tratamiento es el óptimo para una fractura de tibia y peroné?
    </h3>
  </Observer>

  <Observer client:visible>
    <h4 class="animate-fade-up text-xl mb-16">
      Dependerá si la fractura está cerca de la rodilla, del tobillo o justo en
      el centro, y del estado de salud general del paciente, ya que de esto
      dependerá su abordaje, ahora bien, es importante atender lo antes posible
      para identificar si requiere tratamiento quirúrgico, para evitar fibrosis
      o una complicación mayor y conseguir una recuperación ágil y finalmente
      una reanudación exitosa de sus actividades diarias. 
      <br />
      <br />
      Si la fractura es estable y los fragmentos óseos están alineados, se recomienda
      un tratamiento conservador con inmovilización utilizar férula o yeso para inmovilizar
      la pierna mientras sana la fractura.
      <br />
      <br />
      Si la fractura es severa es decir si esta multifragmentada o esta desplazada
      y los huesos no se alinean será necesario realizar una reducción que consiste
      en la manipulación de los fragmentos óseos para volverlos a su estado original,
      posterior a ello se van a utilizar dispositivos de fijación externa como marcos
      de metal para mantener el hueso en su lugar, estos se colocan fuera del cuerpo
      y se unen a los huesos.
      <br /><br />
      En otros casos será necesario una intervención quirúrgica para corregir la
      fractura mediante placas, tornillos o clavos intramedulares para mantener los
      huesos en su lugar mientras se curan.
    </h4>
  </Observer>

  <Observer client:visible>
    <h3 class="animate-fade-up text-2xl font-bold mb-16 text-white">
      Cuando hablamos de fracturas abiertas de tibia y peroné nos referimos a...
    </h3>
  </Observer>

  <Observer client:visible>
    <h4 class="animate-fade-up text-xl mb-16">
      Que implica una lesión considerable en el hueso y en los tejidos alrededor
      por tanto es urgente atender en la brevedad.  
      <br />
      <br />
      Primero con antibioterapia para tratar cualquier agente patógeno en la herida.
      <br />
      Segundo se debe realizar un desbridamiento que es la remoción del tejido muerto
      o dañado para mejorar el proceso de sanación.
      <br />
      Posteriormente se debe estabilizar pata mejorar el flujo vascular reducir el
      dolor para realizar el cierre de la herida.
    </h4>
  </Observer>

  <Observer client:visible>
    <h3 class="animate-fade-up text-2xl font-bold mb-16 text-white">
      Recuperación y rehabilitación
    </h3>
  </Observer>

  <Observer client:visible>
    <h4 class="animate-fade-up text-xl mb-16">
      Independientemente del método de tratamiento utilizado, la rehabilitación
      es esencial para la recuperación completa. Depende en que semana de
      consolidación es cuando se va a ir permitiendo de forma paulatina realizar
      movimientos, por ejemplo: colocar el dedo de pie al piso, poco a poco
      pisando de forma parcial y posteriormente con todo el peso completo y
      trasladarse, al ser un hueso largo demora es un poco más en sanar,
      factores como fumar pueden alentar o perjudicar el proceso de
      consolidación y cicatrización provocando incluso infecciones.
    </h4>
  </Observer>

  <Observer client:visible>
    <h3 class="animate-fade-up text-2xl font-bold mb-16 text-white">
      Alimentación y hábitos recomendados
    </h3>
  </Observer>

  <Observer client:visible>
    <h4 class="text-xl mb-16 animate-fade-up">
      Durante el proceso de consolidación ósea los tejidos requieren de
      proteínas y minerales por tanto es indispensable tener un régimen
      alimenticio.
      <br />
      <br />
      El consumo de proteínas es fundamental para favorecer la consolidación de los
      huesos después de una fractura. Las proteínas de alta calidad, presentes en
      alimentos como carne pollo y especialmente en pescados ricos en omega 3 son
      esenciales. Estos alimentos no solo aportan proteína si no también calcio y
      nutrientes clave para fortalecer los huesos y acelerar su consolidación.
      <br />
      <br />
      Otros alimentos que aportan un gran valor nutricional son la linaza, nueces
      y huevo que son ricos en ácidos grasos y omega 3. Alimentos como las acelgas,
      espinacas, naranjas limones y soya tienen altas concentraciones de vitaminas
      C y D y calcio.
      <br />
      <br />
      Confía en el proceso de recuperación. Cada fractura de tibia y peroné es única,
      y el tratamiento debe ser 100 % personalizado según tu situación específica.
      La tibia y el peroné son huesos clave para la movilidad, por lo que su recuperación
      adecuada requiere un enfoque especializado. Acude a un médico traumatólogo,
      quien evaluará tu caso de manera integral y diseñará el tratamiento más adecuado
      para tus necesidades, asegurando una recuperación óptima y segura.
      <br />
      <br />
      Me encuentro en Tijuana muy cerca de ti, si tienes alguna consulta no dudes
      en escribir y si te interesa una revisión agenda para comenzar.  Como medico
      ortopédico traumatológico, te acompañaré en este proceso con terapia manual,
      ejercicios y técnicas de movilización junto con un fisioterapeuta para que
      combine ejercicios de fuerza, flexibilidad y movilidad.
    </h4>
  </Observer>
</article>

<section class="flex justify-center items-center flex-col md:w-[80%] mx-auto">
  <!-- <Comments
    client:visible
    author={author}
    comment={comment}
    business={business}
  /> -->

  <Form client:visible blogs={blogsRutas} blogActual={blogActual} idForm={id} />
</section>
