---
import { Image } from "astro:assets";
import Image1 from "@public/blog5-1.webp";
import Image2 from "@public/blog5-2.webp";
import Comments from "@components/blogs/Comment";
import Form from "@components/blogs/CommentForm";
import Observer from "@components/blogs/Observer";
import ObserverImage from "@components/blogs/ObserverImage";

let author = "YVLB";
let comment =
  "Excelente atención, tomo el tiempo necesario para explicar detalladamente así como la exploración física. Me sentí realmente atendida y con buen pronóstico de resolución.";
let business = "Paciente";

const blogsRutas = [
  {
    blog: "Fractura-de-tibia-y-Perone",
  },
  {
    blog: "Pseudoartrosis-y-Retraso-de-Consolidacion",
  },
  {
    blog: "Lesion-de-Ligamento-cruzado-anterior",
  },
  {
    blog: "Osteoporosis-Una-condicion-silenciosa-que-afecta-a-la-mitad-de-la-poblacion-mayor",
  },
  {
    blog: "infiltraciones-en-la-rodilla-con-acido-hialuronico-para-tratamiento-de-artrosis-de-rodilla",
  },
];

const blogActual =
  "infiltraciones-en-la-rodilla-con-acido-hialuronico-para-tratamiento-de-artrosis-de-rodilla";

const id = 5;
---

<article
  class="prose lg:prose-xl mx-auto py-4 [&>h1]:text-white text-start md:w-[80%] [&>h2]:text-white text-[#9e9e9e]"
>
  <Observer client:visible>
    <h1 class="text-2xl md:text-5xl text-white font-semibold mb-16 md:mt-32">
      Infiltraciones en la rodilla con ácido hialurónico para tratamiento de
      artrosis de rodilla
    </h1>
  </Observer>
  <Observer client:visible>
    <h2 class="text-white text-4xl mb-16 font-semibold">
      Profundiza conmigo sobre este procedimiento conservador que ha demostrado
      ser muy eficaz.
    </h2>
  </Observer>
  <Observer client:visible>
    <h4 class="fade-up text-xl mb-24">
      La infiltración es la introducción de un líquido a través de los poros de
      un objeto solido básicamente es una inyección en un lugar específico
      anatómico, donde queremos que realice una acción en específico. En la
      ortopedia utilizamos una gran variedad de infiltraciones para tratar
      patologías donde el común denominador es un tejido que se lastimo y que
      está secretando sustancias que lo inflaman. Lo que se busca hacer es
      disminuir la desinflamación inyectando una sustancia para disminuir el
      dolor para que el cuerpo se pueda recuperar. El Hialuronato de sodio se
      localiza en el líquido articular o sinovial, gracias a este las
      articulaciones se encuentran lubricadas y pueden funcionar ya que
      amortigua y protege los extremos de los huesos reduciendo la fricción. <br
      />
      <br /> Sin embargo, mientras se va desgastando la rodilla este peso molecular
      va disminuyendo, debido a que comienza a tener más actividad de una enzima
      que se llama:Hialuronidasa que deshace el ácido hialuronato, lo que va a provocar
      un desgaste del cartílago articular ya que no tiene ese gel que amortigua y
      lubrica. Hay múltiples sustancias que se pueden utilizar, desde antiinflamatorios
      no esteroideos, hasta los esteroideos, analgésicos y ácido hialurónico, que
      se pueden poner en diferentes partes del cuerpo, pero comúnmente se utiliza
      dentro de las articulaciones. En el caso de los antiinflamatorios esteroideos,
      que es lo que comúnmente se utiliza, no se recomienda hacer más de tres veces
      al año, ya que pueden tener efectos secundarios en el cartílago alrededor o
      en el tendón.
    </h4>
  </Observer>
  <ObserverImage client:visible>
    <div class="flex justify-center items-center">
      <Image
        src={Image1}
        alt="Infiltraciones en la rodilla"
        class="fade-up object-cover py-8"
      />
    </div>
  </ObserverImage>
  <Observer client:visible>
    <h2 class="text-white text-4xl mb-16 font-semibold">
      Pacientes recomendados
    </h2>
  </Observer>
  <Observer client:visible>
    <h4 class="fade-up text-xl mb-24">
      Este tipo de infiltraciones se recomienda para tratar lesiones del
      cartílago en articulaciones de carga como la rodilla en personas: Que
      tienen artrosis de rodilla, tendinitis bursitis Paciente con lesiones en
      meniscos Cuando los medicamentos antinflamatorios o analgésicos no están
      teniendo los resultados esperados para aminorar el dolor.
    </h4>
  </Observer>
  <Observer client:visible>
    <h2 class="text-white text-4xl mb-16 font-semibold">Procedimiento</h2>
  </Observer>
  <Observer client:visible>
    <h4 class="fade-up text-xl mb-24">
      Es un procedimiento bastante breve y ambulatorio, donde el paciente estará
      sentado en un ángulo que permita maniobrar su rodilla, posterior se
      procede a desinfectar la zona, y se coloca el ácido hialurónico de alto
      peso molecular sobre una sola zona de la rodilla, y este líquido va a ser
      distribuido por toda la rodilla. Es un procedimiento sin dolor y se aplica
      una vez cada año.
    </h4>
  </Observer>
  <ObserverImage client:visible>
    <div class="flex justify-center items-center">
      <Image
        src={Image2}
        alt="Infiltraciones en la rodilla"
        class="fade-up object-cover py-8"
      />
    </div>
  </ObserverImage>
  <Observer client:visible>
    <h2 class="text-white text-4xl mb-16 font-semibold">
      Después del procedimiento
    </h2>
  </Observer>
  <Observer client:visible>
    <h4 class="fade-up text-xl mb-24">
      Se recomienda mantener reposo de 48 a 72 horas, evitar movimientos como
      estirar, agacharse durante las primeras 24 horas se recomienda aplicar
      hielo o compresas frías
    </h4>
  </Observer>
  <Observer client:visible>
    <h2 class="text-white text-4xl mb-16 font-semibold">Consideraciones</h2>
  </Observer>
  <Observer client:visible>
    <h4 class="fade-up text-xl mb-24">
      La marca de ácido hialurónico que se utilice sea debe cumplir con los
      pesos moleculares adecuados que se miden en Daltons. Lo ideal sería de 6
      millones , 500mil o 1.5 millones. Otra modalidad de aplicación consiste en
      colocar 3 inyecciones de dos millones. Su funcionalidad y duración depende
      del grado del desgaste y las características propias de la rodilla. Es
      importante dar seguimiento con tu traumatólogo para monitorear los
      avances, así como seguir las indicciones de ejercicios para rodilla. Se
      recomienda llevar una dieta adecuada, evitando el alcohol y fumar. Si
      tienes alguna duda con gusto te apoyo escribe en contacto o en mis redes
      para comenzar tu atención ortopédica.
    </h4>
  </Observer>
</article>

<section class="flex justify-center items-center flex-col md:w-[80%] mx-auto">
  <Comments
    client:visible
    author={author}
    comment={comment}
    business={business}
  />

  <Form client:visible blogs={blogsRutas} blogActual={blogActual} idForm={id} />
</section>
