---
import { Image } from "astro:assets";
import Comments from "@components/blogs/Comment";
import Form from "@components/blogs/CommentForm";
import Image1 from "@public/blog8-1.webp";
import Image2 from "@public/blog8-2.webp";
import Observer from "@components/blogs/Observer";
import ObserverImage from "@components/blogs/ObserverImage";
let author = "YVLB";
let comment =
  "Excelente atención, tomo el tiempo necesario para explicar detalladamente así como la exploración física. Me sentí realmente atendida y con buen pronóstico de resolución.";
let business = "Paciente";

const blogsRutas = [
  {
    blog: "Fractura-de-tibia-y-Perone",
  },
  {
    blog: "Pseudoartrosis-y-Retraso-de-Consolidacion",
  },
  {
    blog: "Lesion-de-Ligamento-cruzado-anterior",
  },
  {
    blog: "Osteoporosis-Una-condicion-silenciosa-que-afecta-a-la-mitad-de-la-poblacion-mayor",
  },
  {
    blog: "infiltraciones-en-la-rodilla-con-acido-hialuronico-para-tratamiento-de-artrosis-de-rodilla",
  },
  {
    blog: "Tratamiento-conservador-vs-cirugia-Cuando-un-tratamiento-conservador-falla-y-requiere-intervencion-quirurgica-en-hernia-discal-cervical",
  },
  {
    blog: "Porque-se-dice-que-el-cuerpo-rechazo-de-material-Factores-asociados-al-fallo-en-la-osteosintesis-de-fracturas",
  },
  {
    blog: "Juanetes-sintomas-deteccion-y-tipos-de-cirugia-para-eliminarlos",
  },
];

const blogActual =
  "Juanetes-sintomas-deteccion-y-tipos-de-cirugia-para-eliminarlos";

const id = 8;
---

<article
  class="prose lg:prose-xl mx-auto py-4 [&>h1]:text-white text-start md:w-[80%] [&>h2]:text-white text-[#9e9e9e]"
>
  <Observer client:visible>
    <h1 class="text-2xl md:text-5xl text-white font-semibold mb-16 md:mt-32">
      Hola, ¿qué tal? Te cuento acerca del hallux valgus (HV), también conocido
      como juanete.
    </h1>
  </Observer>

  <Observer client:visible>
    <h3 class="text-xl mb-16">
      Se trata de una desviación lateral del dedo gordo del pie y una desviación
      medial del primer metatarsiano. Este problema también puede presentarse en
      la base del dedo pequeño del pie.
      <br />
      <br />
      Los juanetes o hallux valgus son un padecimiento bastante común que, a simple
      vista, no se percibe, ya que la mayoría del tiempo utilizamos calzado. Según
      múltiples estudios, los juanetes tienen una prevalencia de hasta el 35% en
      la población general.
    </h3>
  </Observer>

  <Observer client:visible>
    <h2 class="text-white text-4xl mb-16 font-semibold">
      La aparición de juanetes puede deberse a múltiples causas
    </h2>
  </Observer>

  <Observer client:visible>
    <h3 class="text-xl mb-16">
      Se puede dar por numerosas etiologías, ya sea por factores hereditarios,
      biomecánicos, traumáticos y metabólicos.
    </h3>
  </Observer>

  <Observer client:visible>
    <h2 class="text-white text-4xl mb-4 font-semibold">
      Entre los factores biomecánicos participan alteraciones del pie como:
    </h2>
    <ul class="list-decimal mb-8 px-5">
      <li>Gastrocnemio sóleo</li>
      <li>Gastrocnemio</li>
      <li>Pie plano</li>
      <li>Flexión dorsal de la primera falange o hipermovilidad de esta</li>
    </ul>
  </Observer>

  <Observer client:visible>
    <h2 class="text-white text-4xl mb-4 font-semibold">
      Artritis y alteraciones metabólicas:
    </h2>
    <ul class="list-decimal mb-8 px-5">
      <li>Artritis gotosa</li>
      <li>Artritis reumatoide</li>
      <li>Trastornos del tejido conectivo</li>
    </ul>
  </Observer>

  <Observer client:visible>
    <h2 class="text-white text-4xl mb-4 font-semibold">
      Lesiones traumáticas:
    </h2>
    <ul class="list-decimal mb-8 px-5">
      <li>Daño intraarticular</li>
      <li>Dislocaciones</li>
      <li>Deformidad estructural</li>
      <li>Mala alineación de la superficie articular</li>
      <li>Metatarsiano con longitud anormal</li>
      <li>Torsión tibial externa</li>
    </ul>
  </Observer>

  <ObserverImage client:visible>
    <div class="flex justify-center items-center">
      <Image
        src={Image1}
        alt="Imagen de fractura de tibia y peroné"
        class="object-cover mb-16"
      />
    </div>
  </ObserverImage>
  <Observer client:visible>
    <h2 class="text-white text-4xl mb-16 font-semibold">
      Factores hereditarios:
    </h2>
  </Observer>

  <Observer client:visible>
    <h3 class="text-xl mb-16">
      Incluyen alteraciones en la fórmula metatarsiana, presencia de pie plano y
      la hiperlaxitud ligamentaria. En el caso de juanetes juveniles, se han
      demostrado factores hereditarios maternos en un 94% de los casos.
    </h3>
  </Observer>

  <Observer client:visible>
    <h2 class="text-white text-4xl mb-16 font-semibold">Edad:</h2>
  </Observer>

  <Observer client:visible>
    <h3 class="text-xl mb-16">
      Las personas mayores de 60 años tienen más probabilidad de presentar
      juanetes debido a cambios en las posturas, aumento de la presión plantar y
      cambios cinemáticos articulares.
    </h3>
  </Observer>

  <Observer client:visible>
    <h2 class="text-white text-4xl mb-16 font-semibold">
      Calzado inadecuado y carga excesiva:
    </h2>
  </Observer>

  <Observer client:visible>
    <h3 class="text-xl mb-16">
      Los zapatos estrechos o que terminan en punta, así como los de tacón,
      generan mayor presión sobre la zona de la primera articulación
      metatarsofalángica. Si, además, el paciente está constantemente caminando
      o de pie, esto puede agravar la condición.
      <br />
      <br />
      En el caso de las bailarinas de ballet, el trauma repetitivo, donde hay una
      marcha excesiva y un aumento de apoyo, se ha relacionado con una progresión.
    </h3>
  </Observer>

  <Observer client:visible>
    <h2 class="text-white text-4xl mb-16 font-semibold">Síntomas:</h2>
  </Observer>

  <Observer client:visible>
    <h3 class="text-xl mb-16">
      Los síntomas pueden incluir un aumento del dolor con el uso de calzado
      estrecho o al caminar con este por largos periodos, abultamiento en la
      parte exterior del dedo gordo del pie, hinchazón y enrojecimiento
      alrededor del dedo del pie, y callos entre el primer y segundo dedo.
    </h3>
  </Observer>

  <Observer client:visible>
    <h2 class="text-white text-4xl mb-16 font-semibold">
      Complicaciones que pueden generar los juanetes:
    </h2>
  </Observer>

  <Observer client:visible>
    <h3 class="text-xl mb-16">
      El hallux valgus avanza con el paso de las semanas y meses. Es bastante
      común que los pacientes, tras convivir con la deformidad por un tiempo
      prolongado, decidan tratarse cuando esta condición les impide realizar sus
      actividades de forma funcional, lo cual puede generar complicaciones como:
    </h3>
    <ul class="list-decimal mb-8 px-5">
      <li>
        Bursitis: Sucede cuando las bolsas sinoviales de las articulaciones del
        dedo sufren rigidez e hinchazón
      </li>
      <li>
        Dedo en martillo: Cuando un dedo del pie se dobla hacia abajo y
        permanece en posición fija, parecido a una garra
      </li>
      <li>
        Metatarsalgia: Dolor e inflamación en la parte delantera de la planta
        del pie, en la base de los huesos metatarsianos
      </li>
    </ul>
  </Observer>

  <Observer client:visible>
    <h2 class="text-white text-4xl mb-16 font-semibold">Diagnóstico:</h2>
  </Observer>

  <Observer client:visible>
    <h3 class="text-xl mb-16">
      Se lleva a cabo mediante una exploración clínica, donde se evalúa la
      duración de los síntomas del paciente, su cambio de actividad y el tipo de
      calzado que utiliza con frecuencia. Posteriormente, se observa el caminar
      del paciente, se realiza la palpación y se complementa con una radiografía
      simple para evaluar la patología articular y medir la deformidad angular.
      Según el caso, pueden requerirse otras radiografías del pie, como:
    </h3>
    <ul class="mb-8 list-decimal">
      <li>Anteposterior</li>
      <li>Lateral oblicua</li>
      <li>Lateral</li>
      <li>Proyecciones axiales para obsevar los sesamoideos</li>
    </ul>
    <h2 class="text-4xl text-white mb-16 font-bold">
      Tratamiento de juanetes o hallux valgus
    </h2>
  </Observer>

  <Observer client:visible>
    <h2 class="text-white text-4xl mb-16 font-semibold">
      Previo a la cirugía:
    </h2>
  </Observer>

  <Observer client:visible>
    <h3 class="text-xl mb-16">
      Se recomiendan medidas para aminorar el dolor, como el uso de un calzado
      especial:
    </h3>
    <ul class="list-decimal mb-8 px-5">
      <li>
        Tratamiento farmacológico: Administración intraarticular de
        antiinflamatorios esteroideos para controlar la inflamación y disminuir
        el dolor en etapas iniciales, aunque no eliminará el problema
      </li>
      <li>
        Tratamiento sintomático: Separadores y protecciones de silicona pueden
        ofrecer alivio de presión, pero el tratamiento conservador no restaura
        el pie a la normalidad
      </li>
    </ul>
  </Observer>

  <Observer client:visible>
    <h2 class="text-white text-4xl mb-16 font-semibold">Cirugía:</h2>
  </Observer>

  <Observer client:visible>
    <h3 class="text-xl mb-16">
      Es la solución definitiva para eliminar la deformidad y el dolor crónico
      del pie, permitiendo que vuelva a la normalidad. Existen más de 100 tipos
      de cirugía para el hallux valgus, y la técnica quirúrgica depende de la
      cantidad de corrección requerida.
      <br />
      <br />
      Algunos procedimientos pueden incluir: <br />
      <br />

      Remoción parcial de la cabeza del metatarsiano (bunionectomía).
      <br />
      <br />

      Ajuste de los tejidos blandos que rodean la articulación del dedo gordo
      del pie.
      <br />
      <br />

      Osteotomía para reposicionar los huesos.
      <br />
      <br />

      Unión o fijación de la articulación entre el metatarsiano y la parte media
      del pie.
    </h3>
  </Observer>

  <ObserverImage client:visible>
    <div class="flex justify-center items-center">
      <Image
        src={Image2}
        alt="Imagen de fractura de tibia y peroné"
        class="fade-up object-cover mb-16"
      />
    </div>
  </ObserverImage>

  <Observer client:visible>
    <h2 class="text-white text-4xl mb-16 font-semibold">
      Rehabilitación después de la cirugía:
    </h2>
  </Observer>

  <Observer client:visible>
    <h3 class="text-xl mb-16">
      Reposo relativo e inicio de movimientos pasivos continuos.
      <br />
      <br />
      Apoyo del talón con calzado postoperatorio.
      <br />
      <br />

      Elevación del pie y uso de vendaje elástico para mejorar la circulación.
      <br />
      <br />

      Ejercicios de fortalecimiento del flexor propio del primer dedo del pie,
      según indique el especialista.
      <br /><br />
      Reeducación del caminar una vez que se pueda realizar apoyo plantígrado.
    </h3>
  </Observer>

  <Observer client:visible>
    <h2 class="text-white text-4xl mb-16 font-semibold">Recomendaciones:</h2>
  </Observer>

  <Observer client:visible>
    <h3 class="text-xl mb-16">
      Es importante no ignorar ninguna señal o dolor en la zona de los pies,
      especialmente en los dedos. Aunque sea una zona poco visible, es
      indispensable una atención inmediata para prevenir una deformación mayor y
      sus complicaciones.
    </h3>
  </Observer>

  <Observer client:visible>
    <h2 class="text-white text-4xl mb-16 font-semibold">
      Si tienes más preguntas, te invito a agendar una consulta de valoración.
      Mi consultorio está cerca de ti y a tu disposición para apoyarte con tu
      malestar
    </h2>
  </Observer>
</article>

<section class="flex justify-center items-center flex-col md:w-[80%] mx-auto">
  <!-- <Comments
    client:visible
    author={author}
    comment={comment}
    business={business}
  /> -->

  <Form client:visible blogs={blogsRutas} blogActual={blogActual} idForm={id} />
</section>
