---
import { Image } from "astro:assets";
import Comments from "@components/blogs/Comment";
import Form from "@components/blogs/CommentForm";
import Image1 from "@public/Retardo de consolidacion osea el Dr. Monge te platica.webp";
import Image2 from "@public/Estabilidad y alineacion de fragmentos oseos.webp";
import Observer from "@components/blogs/Observer";
import ObserverImage from "@components/blogs/ObserverImage";
import Footer from "./Footer.astro";

let author = "YVLB";
let comment = {
  es: "Excelente atención, tomo el tiempo necesario para explicar detalladamente así como la exploración física. Me sentí realmente atendida y con buen pronóstico de resolución.",
  en: "Excellent care, took the necessary time to explain in detail along with the physical examination. I felt truly cared for with a good resolution prognosis.",
};
let business = {
  es: "Paciente",
  en: "Patient",
};

const blogsRutas = [
  {
    blog: "Fractura-de-tibia-y-Perone",
  },
  {
    blog: "Pseudoartrosis-y-Retraso-de-Consolidacion",
  },
  {
    blog: "Lesion-de-Ligamento-cruzado-anterior",
  },
  {
    blog: "Osteoporosis-Una-condicion-silenciosa-que-afecta-a-la-mitad-de-la-poblacion-mayor",
  },
  {
    blog: "infiltraciones-en-la-rodilla-con-acido-hialuronico-para-tratamiento-de-artrosis-de-rodilla",
  },
  {
    blog: "Tratamiento-conservador-vs-cirugia-Cuando-un-tratamiento-conservador-falla-y-requiere-intervencion-quirurgica-en-hernia-discal-cervical",
  },
  {
    blog: "Porque-se-dice-que-el-cuerpo-rechazo-de-material-Factores-asociados-al-fallo-en-la-osteosintesis-de-fracturas",
  },
  {
    blog: "Juanetes-sintomas-deteccion-y-tipos-de-cirugia-para-eliminarlos",
  },
];

const blogActual =
  "Porque-se-dice-que-el-cuerpo-rechazo-de-material-Factores-asociados-al-fallo-en-la-osteosintesis-de-fracturas";

const id = 7;

const isEnglish = Astro.url.pathname.startsWith("/en/");
---

<article
  class="prose lg:prose-xl mx-auto py-4 [&>h1]:text-white text-start md:w-[80%] [&>h2]:text-white text-[#9e9e9e]"
>
  <Observer client:visible>
    <h1 class="text-2xl md:text-5xl text-white font-semibold mb-16 md:mt-32">
      {
        isEnglish
          ? "Why do we say the body rejected the material? Factors associated with failure in fracture osteosynthesis"
          : "¿Porque se dice que el cuerpo rechazo de material? Factores asociados al fallo en la osteosíntesis de fracturas"
      }
    </h1>
  </Observer>

  <Observer client:visible>
    <h3 class="text-xl mb-24">
      {
        isEnglish ? (
          <>
            <p>
              Osteosynthesis refers to a surgical technique that stabilizes and
              joins bone fragments after a fracture or implant.{" "}
              <>
                <br />
                <br />
              </>
              Patients often say "my body rejected the material" when they
              notice abnormalities like loose plates or screws protruding
              through the skin.
            </p>
            <p>
              However, there are multiple reasons for osteosynthesis failure. In
              most cases, the body hasn't actually rejected the material -
              rather, material fatigue occurs from micro/macro movements causing
              loosening. When implanted, the hardware has considerable stability
              and grip, but factors like postoperative care, weight-bearing
              forces, and premature loading can create stress leading to
              loosening. We call this either implant protrusion (when hardware
              protrudes) or implant fatigue.
            </p>
          </>
        ) : (
          <>
            <p>
              Cuando hablamos de osteosíntesis nos referimos una técnica
              quirúrgica que consiste en estabilizar y unir los fragmentos óseos
              tras una fractura o un implante.
              <>
                <br />
                <br />
              </>
            </p>
            <p>
              A menudo pacientes comentan: "Mi cuerpo rechazo el material" Ya
              que notan como se puede apreciar una anomalía, lo que puede ser
              causado por una placa o tornillo aflojado, esto hace que
              sobresalga en la piel y moleste. Sin embargo, existen múltiples
              razones por la cual puede existir un fallo en la osteosíntesis,
              pero en la gran mayoría de casos, tu cuerpo no ha rechazado el
              material, sino que existió una fatiga del material que con micro o
              macro movimientos empezó aflojarse y soltarse. El material cuando
              se coloca se busca que este con una estabilidad considerablemente
              alta y con buen agarre, factores como los cuidados
              postoperatorios, peso y las fuerza, con las que pasan a través del
              material antes del tiempo estipulado puede generar estrés sobre el
              material que con micro o macro movimientos empezó a aflojarse y
              soltarse A esto lo conocemos como fenómeno de des anclaje cuando
              existe una protrusión del tonillo o placa o bien fatiga del
              implante.
            </p>
          </>
        )
      }
    </h3>
  </Observer>

  <ObserverImage client:visible>
    <div class="flex justify-center items-center">
      <Image
        src={Image1}
        alt={isEnglish
          ? "Bone consolidation delay"
          : "Imagen de fractura de tibia y peroné"}
        class="object-cover mb-24"
      />
    </div>
  </ObserverImage>

  <Observer client:visible>
    <h2 class="text-white text-4xl mb-16 font-semibold">
      {isEnglish ? "Main causes" : "Causas principales"}
    </h2>
  </Observer>

  <Observer client:visible>
    <h3 class="text-xl mb-24">
      {
        isEnglish ? (
          <>
            <ul class="list-disc pl-5">
              <li>Poor fracture reduction</li>
              <li>Lack of postoperative care</li>
              <li>Improper screw/plate/implant placement</li>
              <li>Allergy or infection</li>
            </ul>
            <p>
              As an orthopedic trauma specialist, I emphasize consulting experts
              and strictly following their instructions to avoid complications.
            </p>
          </>
        ) : (
          <>
            <ul class="list-disc pl-5">
              <li>Mala reducción de la fractura</li>
              <li>Falta de cuidados postoperatorios</li>
              <li>Inadecuada colocación del torillo, placa o implante</li>
              <li>Alergia o infección</li>
            </ul>
            <p>
              Como ortopedista traumatólogo hago hincapié en acudir con expertos
              y confiar en sus indicaciones, así como seguirlas al pie de la
              letra para evitar complicaciones.
            </p>
          </>
        )
      }
    </h3>
  </Observer>

  <ObserverImage client:visible>
    <div class="flex justify-center items-center">
      <Image
        src={Image2}
        alt={isEnglish
          ? "Bone fragment stability and alignment"
          : "Imagen de fractura de tibia y peroné"}
        class="fade-up object-cover mb-24"
      />
    </div>
  </ObserverImage>

  <Observer client:visible>
    <h2 class="text-white text-4xl mb-16 font-semibold">
      {
        isEnglish
          ? "How is osteosynthesis material removed?"
          : "¿Como se lleva a cabo una extracción de material de osteosíntesis?"
      }
    </h2>
  </Observer>

  <Observer client:visible>
    <h3 class="text-xl mb-24">
      {
        isEnglish ? (
          <>
            <p>
              <strong>For infection:</strong> Results from contamination
              during/after surgery, healing alterations, or infected hematomas.
              Treatment involves IV antibiotics and prophylactic antibiotics
              before removing infected tissue. Post-op includes wound
              disinfection, drainage to prevent fluid accumulation, and
              antibiotic therapy.
            </p>
            <br />
            <p>
              <strong>For allergy:</strong> Materials like nickel, cobalt and
              chromium in plates/screws can cause allergic contact dermatitis.
            </p>
            <br />
            <p>
              <strong>For fatigue:</strong> The procedure uses the previous
              incision to remove worn/loose components, replacing them with new
              ones. Bone grafts or specialized materials may fill osteolysis
              areas.
            </p>
            <br />
            <p>
              The only true "rejection" occurs with allergic reactions. Other
              cases involve infection, wear/fatigue, or non-union
              (pseudoarthrosis). Attend all follow-ups with your orthopedist and
              report any concerns to ensure proper recovery. Contact me to
              schedule an evaluation.
            </p>
          </>
        ) : (
          <>
            <p>
              <strong>Por infección:</strong> Ocurre como resultado de la
              contaminación durante o después de la intervención quirúrgica, por
              alteraciones de cicatrización, o por hematomas infectados. Durante
              este abordaje se administrará tratamiento antibiótico intravenoso
              y será necesario realizar una profilaxis antibiótica previo a la
              intervención donde se extraerá el tejido infectado, de manera
              breve para evitar aumentar las tasas de infección, ya en la fase
              postoperatoria se volverá a desinfectar la piel alrededor de la
              zona de incisión, evitando la acumulación de líquidos en la herida
              por medio de un sistema de drenaje y se le administra tratamiento
              antibiótico.
            </p>
            <br />
            <p>
              <strong>Alergia:</strong> Debido a materiales con los que están
              hechos los tornillos, placas e implantes usualmente predominan
              materiales como: níquel, cobalto y cromo que pueden producir
              dermatitis alérgica de contacto.
            </p>
            <br />
            <p>
              <strong>Fatiga:</strong> La intervención se realiza a través de la
              incisión previa se retira el componente desgastando o aflojado y
              se sustituye por otro nuevo. Durante el recambio protésico puede
              ser necesaria la utilización de un injerto óseo o un material
              especializado para rellenar las zonas de osteólisis.
            </p>
            <br />
            <p>
              La única forma en la que se puede denominar que tu cuerpo rechazo
              el material es cuando existe una reacción alérgica. Aspectos
              ajenos se les considera como infección, fatiga/desgaste o un fallo
              de consolidación mejor conocida como pseudoartrosis. Es importante
              acudir a las citas de seguimiento con tu ortopedista, compartir
              tus dudas y comentar cualquier inquietud o cambio que percibas
              para evitar inconvenientes que puedan afectar tu recuperación. Si
              te interesa agendar para una cita de valoración, puedes escribirme
              para agendar.
            </p>
          </>
        )
      }
    </h3>
  </Observer>
</article>

<section class="flex justify-center items-center flex-col md:w-[80%] mx-auto">
  <Form client:visible blogs={blogsRutas} blogActual={blogActual} idForm={id} />
</section>
<Footer
  URL={isEnglish}
  PreviousLink={isEnglish
    ? "conservative-treatment-vs-surgery-when-conservative-treatment-fails-and-requires-surgical-intervention-for-cervical-disc-herniation"
    : "Tratamiento-conservador-vs-cirugia-Cuando-un-tratamiento-conservador-falla-y-requiere-intervencion-quirurgica-en-hernia-discal-cervical"}
  PreviousName={isEnglish
    ? "Conservative Treatment vs Surgery"
    : "Tratamiento Conservador vs Cirugía"}
  NextLink={isEnglish
    ? "bunions-symptoms-detection-and-types-of-surgery-to-remove-them"
    : "Juanetes-sintomas-deteccion-y-tipos-de-cirugia-para-eliminarlos"}
  NextName={isEnglish
    ? "Bunions: Symptoms and Treatment"
    : "Juanetes: Síntomas y Tratamiento"}
/>
