---
import Layout from "@layouts/LayoutProcedimiento.astro";
import Doctorialia from "@components/icons/Doctoralia.astro";
import Facebook from "@components/icons/Facebook.astro";
import Instagram from "@components/icons/Instagram.astro";
import Tiktok from "@components/icons/Tiktok.astro";
import Video from "@components/procedimientos/video.astro";
import { slide } from "astro:transitions";
import Content from "@components/procedimientos/content.astro";
import Background from "@components/procedimientos/background.astro";
import Footer from "@components/procedimientos/footer.astro";
import Schema from "@components/procedimientos/schema.astro";
export function getStaticPaths() {
  return [
    { params: { procedimiento: "protesis-total-de-cadera" } },
    { params: { procedimiento: "protesis-total-de-rodilla" } },
    { params: { procedimiento: "hernia-de-disco-lumbar" } },
    { params: { procedimiento: "lesion-por-lca" } },
    { params: { procedimiento: "hernia-discal-cervical" } },
    { params: { procedimiento: "lesiones-en-meniscos" } },
    { params: { procedimiento: "infiltraciones-articular" } },
  ];
}

const { procedimiento } = Astro.params;
const procedimientos = [
  { nombre: "Protesis total de cadera", ruta: "protesis-total-de-cadera" },
  { nombre: "Protesis total de rodilla", ruta: "protesis-total-de-rodilla" },
  { nombre: "Hernia de disco lumbar", ruta: "hernia-de-disco-lumbar" },
  { nombre: "Lesion por LCA", ruta: "lesion-por-lca" },
  { nombre: "Hernia discal cervical", ruta: "hernia-discal-cervical" },
  { nombre: "Lesiones en meniscos", ruta: "lesiones-en-meniscos" },
  { nombre: "Infiltracion articular", ruta: "infiltraciones-articular" },
];

const otrosProcedimientos = procedimientos.filter(
  (p) => p.ruta !== procedimiento
);

let videoId;
let title;
let content;
let background;
let duration;
let uploadDate = "2024-07-09";
let keywords;
if (procedimiento === "protesis-total-de-cadera") {
  videoId = "3OoNbdidyEw";
  title = "Protesis total de cadera";
  duration = "PT1M37S";
  background = "/Hernia-discal-cervical-cirugia-en-Tijuana.png";
  content =
    "Una prótesis total de cadera es, básicamente, el tratamiento final de cualquier desgaste avanzado de la cadera o de una deformidad que causó desgaste. Puede ser por fracturas o una consecuencia de una fractura que dejó mal la articulación y se desgastó, o puede ser el propio desgaste del envejecimiento y los cambios biomecánicos que ocurren en la cadera. <br/> <br/>También puede ser por una enfermedad autoinmune, de esas en las que el propio cuerpo nos ataca o ataca ciertas estructuras, en este caso, el cartílago y la sinovial, como es la artritis reumatoide. <br/> <br/>¿Qué abordaje es el mejor? <br/>En cuanto a la incisión, el abordaje o el corte que te hacen se puede realizar por enfrente, por al lado o por atrás, o sea, anterior, lateral o posterior. <br/> <br/>¿Cuál es el mejor? El que mejor sabe hacer tu ortopedista. Esto dependerá de la experiencia del ortopedista con el tipo de abordaje; así es como les irá mejor a los pacientes. Esto es algo ya estudiado, porque a veces existe esa controversia sobre si es mejor el anterior o el posterior, y actualmente lo que se ha observado es que con los tres abordajes les puede ir bien a los pacientes. Después de ciertas semanas, los resultados se nivelan, y el que mejor sepa hacer tu doctor es el que se debería realizar. <br/> <br/>Si te interesa saber sobre reemplazo de cadera, opiniones o costos, puedes contactarme al: 664 976 3510 o escribirme a: pacientes@mongeortopedia.com";
  keywords =
    "traumatología en Tijuana, traumatólogo, prótesis total de cadera, cirugía de cadera, ortopedia, Tijuana";
} else if (procedimiento === "protesis-total-de-rodilla") {
  videoId = "bnvqhureRxc";
  title = "Protesis total de rodilla";
  duration = "PT3M34S";
  background = "/Protesis-total-de-cadera-en-Tijuana.png";
  content =
    "El reemplazo articular a la rodilla es el tratamiento final para un desgaste de la rodilla. <br/> <br/>Este puede ser acelerado por una fractura antigua o fracturas que evolucionaron de una manera no tan buena. El desgaste propio de la articulación pueden ser por causas biomecánicas o por el mismo envejecimiento, o algunas enfermedades que atacan ciertos elementos de nuestro propio cuerpo, que en este caso son las células de la articulación o la sinovial que hacen que se desgaste un poquito más rápido. <br/><br/><div class='text-white font-bold'>¿Cuándo se recomienda cirugía?</div><br/><br/>Esta se recomienda, dependiendo del paciente. Si ya pasó por todos los pasos de tratamiento que es: terapia física, medicamentos, algunos tipos de infiltraciones y si ya no le está funcionando, la cura es poner una rodilla nueva. <br/><br/>La prótesis de rodilla consta de varios elementos, tres principales en las primarias en las normales, que es el componente femoral, que es básicamente en la última parte del fémur se hacen ciertos cortes del hueso para ponerle metal donde antes había cartílago.<br/><br/><div class='text-white font-bold'>¿Cómo esta compuesta una prótesis total de rodilla?</div><br/><br/>La prótesis de rodilla costa de varios elementos, tres principales en las primarias, que es el componente femoral, que consta en la ultima parte del fémur en hacer ciertos cortes en el hueso para ponerle metal donde antes había cartílago. <br/><br/>El otro que va en medio un plástico especial muy muy resistente, que es el que va a aguantar las cargas a la hora que camines o que realices actividades con tu rodilla. <br/><br/>Hay de muchos tipos hay de muchas formas y esto depende y va dirigido hacia el tipo de deformidad. Si hay lesiones en los ligamentos o alguna otra cosa. <br/><br/>La otra parte es la parte de abajo, el metal que va en la parte de la tibia también puede ser cementado, no cementado. Este también tiene diferentes formas dependiendo del tipo de prótesis. Aparte del tipo de prótesis, hay algo que se debe de considerar mucho cuando se te va a poner este componente y es que tan fuerte está esa base, si está muy débil o el hueso muy osteoporótico o tiene una fractura o hay algo que no lo haga una buena base. <br/><br/>Necesitamos, agarrar más por decirlo así o que tenga un poquito de más soporte de más abajo. Entonces se le agrega algo que se llama vástago, que es básicamente como un tubito, pero que va a distribuir las cargas para que haya menos posibilidad de que se afloje a un corto tiempo. <br/><br/>La herida para poner la prótesis normalmente es la misma que es en medio de la rodilla, pero a la hora de que ya llegamos a los músculos hay diferentes tipos de incisiones que usamos dependiendo de la experiencia y a veces que estamos buscando con el tipo de incisión. La común es una que se llama paramedia, que es básicamente de arriba para abajo pero por dentro de la rodilla. <br/><br/><div class='text-white font-bold'>Tipos de abordaje</div><br/><br/>La herida para poner la prótesis, normalmente es la misma que consiste en hacer un corte en medio de la rodilla, pero a la hora que llegamos a los músculos hay diferentes tipos de incisiones que usamos dependiendo de la experiencia y que estamos buscando con el tipo de incisión. <br/><br/>La más común se llama paramedia que es de arriba para abajo, pero por dentro de la rodilla poder ver bien. Hay otro tipo de incisiones que es para que a lo mejor las primeras semanas te recuperes un poquito más rápido, o se está buscando ver un poquito más y se necesita abrir, pero eso depende también lo que se está buscando. Si es una cirugía de primera vez o primaria o es una revisión de por que se aflojó o se infectó, etcétera pero eso ya es cosa que decide tu médico. <br/><br/>si quieres más información acerca de la prótesis de rodilla o si estás pensando en ponerte una te invito a agendar al <a href='tel:+6649763510' target='_blank' class='text-white font-bold hover:underline'>664 976 3510</a> o escribirme a: <a href='mailto:pacientes@mongeortopedia.com' target='_blank' class='text-white font-bold hover:underline'>pacientes@mongeortopedia.com </a>";
  keywords =
    "traumatología en Tijuana, traumatólogo, prótesis total de rodilla, cirugía de rodilla, ortopedia, Tijuana";
} else if (procedimiento === "hernia-de-disco-lumbar") {
  videoId = "8eHj2y9fdDQ";
  title = "Hernia de disco lumbar";
  duration = "PT1M27S";
  background = "/protesis-total-de-rodilla-en-Tijuana-consulta.png";
  content =
    "Una causa común de dolor de espalda pueden ser las hernias de disco lumbares, pueden ser tanto del puro dolor de espalda o que están acompañados de ciatalgia, que es básicamente el dolor del ciático. Este tipo de dolor tiene dos elementos principales, uno mecánico y uno químico. El mecánico es el hecho de que la hernia está aplastando una estructura, que en este caso es la raíz nerviosa, y causa el dolor. El otro es el químico, es lo que la lesión o la hernia de disco empieza a secretar y esas sustancias que secreta empiezan a irritar todo lo que tiene alrededor, que normalmente es la raíz nerviosa. Para valorar las hernias necesitamos dos tipos de estudio. Uno son los rayos X, porque los rayos X, cuando sí vemos el hueso y no vemos la hernia, vemos otro tipo de lesiones que pudieran lastimarlas.   <br/> <br/>La raíz y la otra es la resonancia magnética donde vemos directamente los discos las raíces qué tan libres están y qué tan grande está la hernia o la lesión del disco la gran mayoría de las hernias de disco se tratan de manera conservadora como es esto terapia infiltraciones medicamentos y cuidados de la columna aproximadamente como el 60 o 70 por ciento de las hernias no se les va a hacer cirugía pero las demás que se portan mal que no les va a bien con el tratamiento conservador o que cumplen con ciertos criterios que ya la hacen quirúrgica de entrada pues son las que vamos a operar. Si tienes más preguntas sobre las hernias de disco te invito a mandar mensaje o a llamarnos para agendar tu cita. ";
  keywords =
    "traumatología en Tijuana, traumatólogo, hernia de disco lumbar, cirugía de columna, ortopedia, Tijuana";
} else if (procedimiento === "lesion-por-lca") {
  videoId = "FujmkEN7L0g";
  title = "Lesión por LCA";
  duration = "PT4M44S";

  background =
    "/Lesiones-en-ligamento-cruzado-anterior-tratamiento-conservador-en-Tijuana.png";
  content =
    "El ligamento cruzado anterior en la rodilla es uno de los ligamentos que se encarga de la estabilidad de la rodilla, o sea, que no se mueva para donde no se debe de mover.<br/> <br/> De hecho, es el estabilizador primario más importante. Lo que hace el cruzado anterior es que evita que la tibia o el hueso de abajo se vaya de una manera excesiva hacia enfrente y que no se subluxe y no se lastime el cartílago ni los meniscos. Cuando se rompe ese cruzado anterior se pierde estabilidad y se puede empezar a dañar la rodilla. <br/> <br/> <div class='text-white font-bold'>Tipos de lesiones</div> <br/> <br/> Hay diferentes tipos de lesiones: hay lesiones parciales, hay unas que solo son unos desgarritos y hay lesiones completas. <br/> <br/> Si es una lesión parcial, es solo un desgarro, pero está funcional, se le puede dar chance con un poquito de terapia. La idea es de que siga funcionando, pero en el caso de que sea una lesión parcial completa y no hay funcionalidad del cruzado, ahí sí se recomienda el reemplazarlo. <br/> <br/> <div class='text-white font-bold'>Cirugía de L.C.A</div> <br/> <br/> La cirugía consiste en que a través de una artroscopia se limpia lo que antes era del cruzado anterior y se pasa un nuevo cruzado, pero en este caso son tendones que posteriormente, después de un rato que está con ciertos estímulos, se va a convertir en ligamento. Esto se hace a través de dos túneles: un túnel en la parte del fémur donde pasamos el ligamento y otro túnel en la parte de la tibia donde se va a agarrar, y le hacemos ciertas pruebas para que ya quede estable. <br/> <br/> <div class='text-white font-bold'>Tipos de injerto</div> <br/> <br/> Es dependiendo también del paciente, porque hay muchos tipos. <br/> <br/> Hay uno que se llama hueso-tendón-hueso que se agarra de la patela o de la rótula del paciente. Hay otro que se llama pata de ganso o de los isquiotibiales, que es de la parte de adentro de la rodilla. Hay del cuádriceps, que es la parte de arriba de la rodilla, entre otros. <br/> <br/> Se puede quitar del propio paciente o se puede hacer un injerto que se le llama cadavérico, que es básicamente un injerto de un donador. <br/> <br/> Tiene sus pros y sus contras escoger uno sobre el otro. El que mejor se integra es el que es propio porque trae células de la persona, se integra más rápido. El problema es que puede llegar a ser algo doloroso. El otro no duele, pero es costoso y tarda un poquito más en integrarse. <br/> <br/> Dependiendo de la persona, hay unos que les puede interesar o convenir más injerto propio y hay otras personas que les va a ir mejor o se van a sentir mejor con un injerto cadavérico. Pero eso depende de cada quien. <br/> <br/> Hay veces que dependiendo del tamaño de injerto que se sacó propio, el paciente no tiene el volumen ideal que normalmente buscamos, que es arriba de ocho milímetros de grosor del ligamento para que tenga una buena función, pero si a veces está muy flaquito o está muy débil, hacemos un híbrido o una combinación de los dos para poder cumplir con este tamaño, porque al final de cuentas lo que va a importar aquí es el tamaño. <br/> <br/> <div class='text-white font-bold'>Consideraciones previo a cirugía</div> <br/> <br/> Hay otras cosas en la rodilla que pueden influenciar la evolución de tu recuperación. Si hay una lesión de menisco, el tipo de lesión de menisco, si hay otra lesión en alguno de los otros ligamentos, si tu rodilla, por ejemplo, está angulada o muy angulada, puede ser un factor determinante para que te falle tu cruzado anterior. <br/> <br/> Si ya hubo una lesión de cruzado anterior previa y se te hizo una cirugía y es una cirugía de revisión, ver si se va a hacer en un tiempo, en dos tiempos, si se tiene que agregar el injerto de hueso, entre muchas otras cosas. No es nomás llegar y reemplazar el ligamento en el mejor de los casos, pues sí, este va a ser tu caso, pero si no, se tiene que individualizar mucho al paciente para que te pueda funcionar y pueda durar ese cruzado y no haya necesidad de hacer una revisión. <br/> <br/> Si tienes más dudas acerca de este tema, que es bastante amplio, puedes mandar un mensaje a hablar para poner una cita, o puedes poner un mensajito o comentario abajo. Nos llega por correo y te contestamos lo antes posible.";
  keywords =
    "traumatología en Tijuana, traumatólogo, lesión por LCA, ligamento cruzado anterior, cirugía de rodilla, ortopedia, Tijuana";
} else if (procedimiento === "hernia-discal-cervical") {
  videoId = "fAecL4F1QO4";
  title = "Hernia discal cervical";
  duration = "PT3M14S";

  background = "/Hernia-de-disco-lumbar-cirugia-y-tratamiento-en-Tijuana.png";
  content =
    "<div class='text-white font-bold'>¿Qué es una hernia discal cervical?</div> <br>Las hernias de discos cervicales son básicamente una lesión en el disco intervertebral o la almohada que está entre hueso y hueso en tu columna vertebral. Son algo especiales porque aparte de proteger el peso que pasa a través del cuello, también nos protegen los movimientos y nos da cierta estabilidad.  <br> <br>Básicamente, una hernia de disco es el disco está protegido alrededor de un tejido fibroso muy duro que se llama anillo fibroso y protege adentro un gel que es 70% agua. Ese gel tiene la característica de que entre más lo aplastamos, más duro se pone y más aguanta las cargas. Pero a veces esa capa protectora se rompe y se hace un chichón, como cuando le pegas a una llanta de carro muy fuerte y eso es una hernia de disco.<br> <br> El problema de esas hernia de disco es de que atrás de donde está esa almohadilla pasan unos cables. Uno de esos cables se llaman raíces nerviosas o son los nervios. Eso es lo que nos pasa información del cerebro a la columna y hasta donde esté conectado. <br> <br>El problema a la hora de que aplasto la raíz es de que me va a pasar el dolor hasta donde pase esa almohadilla donde pasan unos cables. Uno de esos cables se llaman raíces nerviosas o nervios que nos pasan información del cerebro a la columna y hasta donde esté conectado. El problema a la hora de que aplasto la raíz es de que me va a pasar el dolor hasta donde pase. O puede ser dolor o puede ser falta de la sensibilidad, o puede ser falta de la fuerza, porque no están actuando los músculos como deberían de actuar, porque se le está pinchando ese cable de información, por decirlo así.<br> <br><div class='text-white font-bold'>¿Cúando operar las cervicales?</div><br> El 60% aproximadamente de todas las hernia de disco se trata de una manera conservadora, pero cuando falla este tratamiento conservador o cumple ciertas características que la hacen un tipo de urgencia, por decirlo así, como es el dolor intratable o la pérdida de función motora o de movimiento muy importante, ya se hace algo quirúrgico. Lo que se hace es quitar la hernia y se tiene que reemplazar por algo. <br> <br><div class='text-white font-bold'>¿Cúales son los tipos de cirugía?</div><br>  Una de ellas es poner una cajita en vez del disco, hay unos que se pone la cajita sola y hay otros que ponen la cajita y una placa enfrente para fusionar. La idea es reemplazar el trabajo que estaba haciendo el disco y después de que queden pegadas estas partes de la de la columna cervical, hay otro tipo de cirugía pero este es solo en pacientes muy seleccionados y es poner una prótesis de disco. Esto es básicamente reemplazar lo que hace el disco.<br> Normalmente no se hace para muchos niveles y tiene que ser muy seleccionado el paciente en cuanto no debe de haber nada de desgaste. Normalmente es un paciente joven ,no debe de haber nada de inestabilidad, o sea que se mueve para donde no se debería de mover la columna.<br> <br><div class='text-white font-bold'> ¿Se pierde movilidad tras una cirugía?</div><br> La verdad de las cosas es que no es mucha, A tal punto que el paciente o tú te vas a adaptar a ese movimiento.<br> <br> Si estás buscando más información acerca de las cirugías para la hernia cervical, te invito a mandar mensaje o poner cita abajo están los datos para comunicarte con nosotros o nos puedes poner también mensaje a través de correo también abajo el final de la página.";
  keywords =
    "traumatología en Tijuana, traumatólogo, hernia discal cervical, cirugía de cuello, ortopedia, Tijuana";
} else if (procedimiento === "lesiones-en-meniscos") {
  videoId = "s5M7VUuY4js";
  title = "Lesiones en meniscos";
  duration = "PT3M55S";

  background = "/Lesiones-en-meniscos-tratamiento-conservador-en-Tijuana.png";
  content =
    "<div class='text-white font-bold'>¿Qué son los meniscos?</div> <br> Son unas almohadillas que básicamente su función es darnos un algo de estabilidad en la rodilla, pero más que nada es proteger al cartílago de las fuerzas que pasan a través de la rodilla. <br><br> Un ejemplo que le pongo a los pacientes es el que menisco lo que hace es como si agarraras una piedra y la tiras en un lago. Así como se ven esas ondas o esas olitas que se van expandiendo hacia los lados. Eso es exactamente lo mismo que hace el menisco a la hora que nosotros caminamos, corremos, brincamos y pasa la fuerza de una manera armónica. <br><br> <div class='text-white font-bold'>¿Cómo se lesionan?</div> <br> Pueden lastimarse de muchas maneras, en deportes puede haber lesiones degenerativas, que por la misma edad, un mal movimiento atrapa un menisco y lo puede romper. <br><br> <div class='text-white font-bold'>Tipos de abordaje</div> <br> Hay tratamientos no quirúrgicos y quirúrgicos. <br><br> Los quirúrgicos dependen mucho de una: si no hay un síntoma mecánico en la rodilla. <br><br> ¿Qué significa esto? <br> Que si se desgarró el menisco y ese desgarro hace que ese pedacito se atora en la rodilla cuando nosotros lo movemos, el paciente sufre de repente un dolor muy fuerte y se bloquea la rodilla. Ese es un bloqueo mecánico o un bloqueo articular y eso es una indicación quirúrgica. <br><br> La otra son ciertas lesiones que hacen que esté inestable ese menisco y que ponga en peligro la sobrevida de la rodilla. Un menisco que se arranca, por ejemplo de la parte de atrás o de la raíz, básicamente es como si no tuvieras un menisco. Entonces, si no nos apuramos en repararla se va a desgastar un poquito más rápido y el problema es que llega un punto en el que no vale la pena realizar una reparación de menisco porque no va a tener el mismo resultado y el desgaste pues ya avanzó un poquito. <br><br> <div class='text-white font-bold'>Tipos de cirugía</div> <br> Dentro de las cirugías para los meniscos hay dos grandes grupos: <br><br> Uno: hacer la reparación dependiendo de la lesión o las lesiones. Es el tipo de reparación que se hace, ya sea con anclas, con suturas especiales, entre otras cosas. La idea es restablecer de nuevo el menisco. <br><br> La otra es la remodelación o la meniscectomía, ya sea parcial o completa, que es básicamente quitar parte del menisco que está enfermo y dejarlo así. Tiene sus pros y sus contras. <br><br> En las dos siempre tratamos de preservar el menisco si lo podemos salvar y reparar, que bueno, pero llega un punto donde también se tiene que considerar en todos los pacientes el tiempo que lleva con la lesión, si hay desgaste asociado o si hay alguna otra cosa que ya no haría lo ideal repararlo. Entonces se hace la remodelación. <br><br> <div class='text-white font-bold'>Recuperación</div> <br> La recuperación para los dos es muy distinta. <br><br> Una reparación de menisco es básicamente como si tuvieras casi fracturada la rodilla. Hay ciertos cuidados que se tienen que tomar al no pisar, ciertos movimientos que están restringidos por a veces hasta cuatro semanas y después poco a poquito empezar terapia física y esperar a que pegue o que se cicatrice ese menisco. <br><br> En el caso de una remodelación de menisco o una meniscectomía, ahí normalmente se hace el corte, se esperan un par de días o una semana de estar cuidando los pasos, se puede caminar luego luego, pero la recuperación es bastante rápida. <br><br> En caso de que tengas dudas acerca de la cirugía para las lesiones de los meniscos, te invito a poner cita. Mandar un mensaje o nos puedes mandar un correo abajo en la página y te contestamos lo más pronto posible. <br>";
  keywords =
    "traumatología en Tijuana, traumatólogo, lesiones en meniscos, cirugía de rodilla, ortopedia, Tijuana";
} else if (procedimiento === "infiltraciones-articular") {
  videoId = "4ExmTZNFOzA";
  title = "¿Qué es una infiltración?";
  duration = "PT3M30S"; // Puedes ajustar la duración exacta si lo deseas
  background = "/infiltracion-articular-por-el-doctor-monge.webp";
  content = `Una infiltración es poner una sustancia o medicamento en un área en específico, normalmente la que escuchamos mucho es dentro de articulaciones, la rodilla, la cadera, la columna, pero en realidad se puede poner en todas las partes del cuerpo para ciertas cosas.<br/><br/>

Infiltraciones con corticoides:<br/><br/>

Una de ellas es el antiinflamatorio esteroideo que es la vieja confiable. Es un antiinflamatorio que básicamente todos los tipos de infiltraciones en las pruebas y en los estudios se tiene que comparar contra el esteroide antiinflamatorio y le tienen que ganar en cuanto efecto y cuanto tiempo, o que sea comparable para sea un poquito válido que el empezar a usarlo.<br/><br/>

Es el más barato y el efecto es un poquito más rápido que los otros. Se pone con anestésico normalmente le damos unas dos semanas para ver el efecto completo. Lo que se fue, se fue, lo que se quedó se quedó y a partir de ahí vemos que tanto tiempo le va a durar. A muchos pacientes les dura mucho tiempo y les va muy bien que esto obviamente lo combinamos con otro tipo de cosas para que también agarre más por ejemplo: terapia física, medicamentos, etcétera o algunos pacientes no les va tan bien. Eso nos habla a veces de la gravedad o qué tanto está avanzado el problema y lamentablemente si no les va bien o no les dura mucho tiempo quiere decir que quizás haya necesidad de pensar en algunas otras cosas.<br/><br/>

Infiltración con PRP:<br/><br/>

El plasma rico en plaquetas es básicamente para ponerlo de una manera sencilla, es sacarle sangre al paciente se procesa o se centrifuga y se saca una parte de donde vinen las plaquetas y estas se reintroducen.<br/><br/>

La idea de ponerlos otra vez, es lo que les digo a los pacientes, es lo más cercano a algo, natural, que va a tener el paciente para bajar inflamación y para bajar el dolor. No regenera , no hace magia, no va a hacer de nuevo cartílago o muchas de estas cosas que a veces se usa para pada vender la idea de ponerlo. si funciona muy bien cuando se hace bien, baja mucho la inflamación baja mucho el dolor y tiene algunas propiedades que pudiera ayudar también en la reparación de algunas cosas, pero no va a regenerar.<br/><br/>

Se ha visto una tendencia que dura un poco más el plasma rico en plaquetas que el esteroide inflamatorio el único problema es de que se recomienda que sea 2 a 3 veces lo que se infiltra.<br/><br/>

Los tiempos entre cada infiltración varía, pero la idea es de que si decide hacerlo que se haga bien y la otra es de el costo, es un poquito más elevado que el esteroide.<br/><br/>

Infiltración con Ácido Hialurónico:<br/><br/>

El ácido hialurónico es una sustancia que la rodilla o el cartílago crea por sí mismo. Ayuda un poquito con la lubricación y con la nutrición del cartílago y el impacto de fuerzas y el cómo se manejan todas las células en la biomecánica de la rodilla.<br/><br/>

Es una sustancia que se pone que es como un tipo gel que básicamente va a sustituir el ácido hialurónico que ya no hay en la rodilla ayuda un poquito con la lubricación, ayuda un poquito con el volumen y ayuda un poquito para dar nutrición a ese cartílago. Hay unas presentaciones o yo en lo particular lo mezclo también con antiinflamatorio para tener un poquito de los dos mundos, pero se puede poner también por sí solo.<br/><br/>

Muchas de las presentaciones vienen por tres dosis por separado o una que es una dosis completa de seis mililitros. La dosis por separado son dos mililitros cada una y se puede optar por poner cada cierto tiempo hasta completar las tres. Yo en lo particular a mí no me gusta aplicar al paciente tres veces, entonces se puede poner las tres es una misma sesión y va a tener el mismo efecto que haber comprado el que es un poquito más caro. Lo que se busca con esto también bajar inflamación bajar dolor.<br/><br/>

Los tiempos son un poquito más debatibles que los otros dos, porque también depende mucho de la gravedad y sí esa rodilla es óptimo, el poder ponerle ácido hialurónico<br/><br/>

¿Cuándo se pone? cuando hay desgaste, no por una lesión de meniscos o por un dolor X de la rodilla, se va a poner ácido hialurónico porque no es la indicación.<br/><br/>

¿Cuándo se pone?<br/><br/>

Dependiendo de lo que se está buscando hay que considerar siempre todos los pacientes la gravedad del desgaste si en realidad les conviene alguno de ese tipo de infiltraciones y pues obviamente los costos. La idea es disminuir el dolor, disminuir inflamación lo suficiente para que puedan hacer terapia física y sus actividades diarias sin molestias. Va a llegar un momento donde estas infiltraciones empiezan a fallar, no van a ser tan efectivas conforme vaya avanzando el problema del desgaste.`;

  keywords =
    "traumatología en Tijuana, infiltraciones, PRP, ácido hialurónico, corticoides, dolor articular, ortopedia, Tijuana";
}

const URL = Astro.url.pathname.startsWith("/en/");
---

<Layout
  title={`Dr. Ricardo Monge - ${title}`}
  description={`Consulta sobre ${title} en Tijuana. Conoce los tratamientos y procedimientos especializados realizados por el Dr. Ricardo Monge, experto en ortopedia y traumatología en Tijuana.`}
  keywords={`${keywords}`}
  videoTitle={`${title}`}
  videoDescription={`${content}`}
  videoId={`${videoId}`}
  uploadDate={`${uploadDate}`}
  duration={`${duration}`}
>
  <main>
    <div
      class="fixed flex flex-col items-center justify-center h-screen gap-4 px-14 z-20"
    >
      <div class="border-r border-gray-200 h-48 lg:block hidden z-10"></div>
      <a
        href="https://www.facebook.com/drmonge.ortho/"
        target="_blank"
        class="lg:block hidden mb-2"
      >
        <Facebook class="cursor-pointer" />
      </a>
      <a
        href="https://www.tiktok.com/@elmongedelaortopedia"
        target="_blank"
        class="lg:block hidden mb-2"
      >
        <Tiktok class="cursor-pointer" />
      </a>
      <a
        href="https://www.instagram.com/drmonge.ortho/"
        target="_blank"
        class="lg:block hidden mb-2"
      >
        <Instagram class="cursor-pointer" />
      </a>
      <a
        href="https://www.doctoralia.com.mx/ricardo-luis-monge-romero/ortopedista-traumatologo/tijuana"
        target="_blank"
        class="lg:block hidden mb-2"
      >
        <Doctorialia class="cursor-pointer" />
      </a>
      <div class="border-r border-gray-200 h-48 lg:block hidden z-10"></div>
    </div>
    <section
      transition:animate={slide({
        duration: "0.8s",
      })}
    >
      <Background background={background} />
      <Video videoId={videoId} />
      <Content title={title} content={content} />
      <hr />
      <Footer otrosProcedimientos={otrosProcedimientos} URL={URL} />
    </section>
  </main>
</Layout>

<style>
  main {
    color: white;
    overflow-y: auto;
    height: 100vh;
    position: relative;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scrollbar-width: none;
    overflow-x: hidden;
  }
</style>
