---
import Layout from "@layouts/LayoutProcedimiento.astro";
import Doctorialia from "@components/icons/Doctoralia.astro";
import Facebook from "@components/icons/Facebook.astro";
import Instagram from "@components/icons/Instagram.astro";
import Tiktok from "@components/icons/Tiktok.astro";
import Video from "@components/procedimientos/video.astro";
import { slide } from "astro:transitions";
import Content from "@components/procedimientos/content.astro";
import Background from "@components/procedimientos/background.astro";
import Footer from "@components/procedimientos/footer.astro";
import Schema from "@components/procedimientos/schema.astro";
export function getStaticPaths() {
  return [
    { params: { procedure: "total-hip-prosthesis" } },
    { params: { procedure: "total-knee-prosthesis" } },
    { params: { procedure: "herniated-lumbar-disc" } },
    { params: { procedure: "acl-injury" } },
    { params: { procedure: "cervical-disc-herniation" } },
    { params: { procedure: "meniscus-injuries" } },
    { params: { procedure: "articular-infiltrations" } },
  ];
}

const procedure = [
  { nombre: "Total hip prosthesis", ruta: "total-hip-prosthesis" },
  { nombre: "Total knee prosthesis", ruta: "total-knee-prosthesis" },
  { nombre: "Herniated lumbar disc", ruta: "herniated-lumbar-disc" },
  { nombre: "ACL injury", ruta: "acl-injury" },
  { nombre: "Cervical disc herniation", ruta: "cervical-disc-herniation" },
  { nombre: "Meniscus injuries", ruta: "meniscus-injuries" },
  { nombre: "Articular infiltrations", ruta: "articular-infiltrations" },
];
const { procedure: procedureParam } = Astro.params;
const otrosProcedimientos = procedure.filter((p) => p.ruta !== procedureParam);

let videoId;
let title;
let content;
let background;
let duration;
let uploadDate = "2024-07-09";
let keywords;
if (procedureParam === "total-hip-prosthesis") {
  videoId = "3OoNbdidyEw";
  title = "Total hip prosthesis";
  duration = "PT1M37S";
  background = "/Hernia-discal-cervical-cirugia-en-Tijuana.png";
  content =
    "A total hip replacement is basically the final treatment for any advanced wear and tear of the hip or a deformity that caused wear and tear. It can be from fractures or a consequence of a fracture that left the joint badly worn out, or it can be the wear and tear of aging itself and the biomechanical changes that occur in the hip. <br/> <br/>It can also be due to an autoimmune disease, one of those in which the body itself attacks us or attacks certain structures, in this case, the cartilage and synovium, such as rheumatoid arthritis. <br/> <br/>What is the best approach? <br/>In terms of the incision, the approach or the cut you make can be made from the front, from the side or from the back, that is, anterior, lateral or posterior. <br/> <br/>Which one is the best? The one your orthopedist does best. This will depend on the orthopedist's experience with the type of approach; that is how patients will do best. This is something that has already been studied, because sometimes there is this controversy as to whether the anterior or the posterior is better, and what has been observed is that patients can do well with all three approaches. After a few weeks, the results level out, and the one that your doctor knows best is the one that should be performed. <br/> <br/>If you are interested in hip replacement, opinions or costs, you can contact me at: 664 976 3510 or write me at: pacientes@mongeortopedia.com";
  keywords =
    "traumatology, traumatologist, total hip prosthesis, orthopedic surgery, hip replacement, Tijuana";
} else if (procedureParam === "total-knee-prosthesis") {
  videoId = "bnvqhureRxc";
  title = "Total knee prosthesis";
  duration = "PT3M34S";
  background = "/Protesis-total-de-cadera-en-Tijuana.png";
  content =
    "Knee joint replacement is the final treatment for knee wear and tear. <br/> <br/>This can be accelerated by an old fracture or fractures that did not heal properly. The natural wear and tear of the joint can be due to biomechanical causes, aging, or certain diseases that attack components of our own body—in this case, the cells of the joint or the synovium, causing it to wear out a little faster. <br/> <br/><div class='text-white font-bold'>When is surgery recommended?</div><br/> <br/>It is recommended depending on the patient. If they have already gone through all the treatment steps—physical therapy, medications, some types of injections—and if nothing is working anymore, the solution is to get a new knee.<br/> <br/>A knee prosthesis consists of several elements, three main ones in standard primary replacements: the femoral component, which involves making certain cuts in the bone at the end of the femur to place metal where there was once cartilage.<br/> <br/><div class='text-white font-bold'>How is a total knee prosthesis composed?</div><br/> <br/>The knee prosthesis consists of several elements, three main ones in primary replacements: the femoral component, which involves making certain cuts in the bone at the end of the femur to place metal where there was once cartilage.<br/> <br/>Another part is a special, highly durable plastic in the middle, which will bear the load when you walk or perform activities with your knee.<br/> <br/>There are many types and designs, and this depends on and is tailored to the type of deformity, whether there are ligament injuries or other issues.<br/> <br/>The other part is the lower section, the metal piece that goes on the tibia, which can be cemented or uncemented. This also comes in different shapes depending on the type of prosthesis. Beyond the type of prosthesis, something that must be carefully considered when placing this component is how strong the base is—whether it’s too weak, if the bone is osteoporotic, if there’s a fracture, or if something else makes it an unstable foundation.<br/> <br/>We may need to secure it further, so to speak, or give it a little more support from below. For this, something called a stem is added, which is essentially like a small tube that helps distribute the load, reducing the chances of it loosening prematurely.<br/> <br/>The incision for placing the prosthesis is usually made in the middle of the knee, but once we reach the muscles, there are different types of incisions used depending on the surgeon’s experience and the goals of the procedure. The most common is called a parapatellar approach, which is basically a vertical cut on the inner side of the knee.<br/> <br/><div class='text-white font-bold'>Types of surgical approaches</div><br/> <br/>The incision for placing the prosthesis typically involves a cut in the middle of the knee, but once we reach the muscles, different types of incisions are used depending on the surgeon’s experience and the goals of the procedure.<br/> <br/>The most common is called the parapatellar approach, which runs vertically along the inner side of the knee for better visibility. There are other types of incisions that may allow for slightly faster recovery in the first few weeks or provide better visibility if needed, but this depends on the specific case. Whether it’s a first-time (primary) surgery or a revision due to loosening, infection, etc., that’s something your doctor will decide.<br/> <br/>If you’d like more information about knee replacement or are considering getting one, I invite you to schedule an appointment at <a href='tel:+6649763510' target='_blank' class='text-white font-bold hover:underline'>664 976 3510</a> or email me at: <a href='mailto:pacientes@mongeortopedia.com' target='_blank' class='text-white font-bold hover:underline'>pacientes@mongeortopedia.com</a>.";
  keywords =
    "traumatology, traumatologist, total knee prosthesis, knee surgery, orthopedic specialist, Tijuana";
} else if (procedureParam === "herniated-lumbar-disc") {
  videoId = "8eHj2y9fdDQ";
  title = "Herniated lumbar disc";
  duration = "PT1M27S";

  background = "/protesis-total-de-rodilla-en-Tijuana-consulta.png";

  content =
    "A common cause of back pain can be lumbar disc herniations, it can be either pure back pain or it can be accompanied by sciatica, which is basically sciatic pain. This type of pain has two main elements, one mechanical and one chemical. The mechanical one is the fact that the hernia is crushing a structure, which in this case is the nerve root, and causing the pain. The other one is the chemical one, it is what the lesion or the herniated disc starts to secrete and those substances that it secretes start to irritate everything around it, which is usually the nerve root. To assess herniations we need two types of studies. One is X-rays, because X-rays, when we do see the bone and we do not see the herniation, we see other types of lesions that could hurt them.   <br/> <br/>The other is magnetic resonance imaging where we see directly the discs, the roots, how free they are and how big the hernia or the disc lesion is. The great majority of herniated discs are treated conservatively, such as infiltration therapy, medications and spinal care, approximately 60 to 70 percent of herniated discs will not undergo surgery, but the others that behave badly and do not do well with conservative treatment or that meet certain criteria that make them surgical from the start, are the ones that we will operate on. If you have more questions about herniated discs I invite you to send us a message or call us to schedule your appointment. ";
  keywords =
    "traumatology, traumatologist, herniated lumbar disc, back pain treatment, spine surgery, Tijuana";
} else if (procedureParam === "acl-injury") {
  videoId = "jOZHKQQUgCk";
  title = "ACL injury";
  duration = "PT1M07S";

  background =
    "/Lesiones-en-ligamento-cruzado-anterior-tratamiento-conservador-en-Tijuana.png";
  content =
    "For your knee to function properly, it depends on many structures that will provide stability. Among tendons, ligaments, the same form of the bones, the menisci, there are some structures that are called crossed ligaments, one anterior and one posterior, that is to say one that goes in front and one that goes behind. The anterior cruciate ligament is one of the most important structures is that it gives more stability to the knee. It provides almost 80-85% of stability as a primary stabilizer. What the anterior cruciate helps is so that the tibia does not go towards front and does not rotate of more, for putting it this way. A rupture of this ligament is going to cause instability in your knee, which is going to hurt the meniscus and cartilage and cause early wear and tear.   <br/> <br/>Although some people can do a conservative treatment depending on the injury, the great majority needs a reconstruction because it is necessary to return that function, that ligament so that that knee continues being stable and to prevent the early wear and tear.  <br/> <br/>If you have any questions, any doubts, do not hesitate to call us or send us a message so we can help you. ";
  keywords =
    "traumatology, traumatologist, ACL injury, knee ligament surgery, orthopedic care, Tijuana";
} else if (procedureParam === "cervical-disc-herniation") {
  videoId = "fAecL4F1QO4";
  title = "Cervical disc hernia";
  duration = "PT3M14S";

  background = "/Hernia-de-disco-lumbar-cirugia-y-tratamiento-en-Tijuana.png";
  content =
    "<div class='text-white font-bold'>What is a cervical disc hernia?</div> <br>Cervical disc hernias are basically an injury to the intervertebral disc or the cushion that sits between bone and bone in your spinal column. They are somewhat special because apart from protecting the weight that passes through the neck, they also protect our movements and give us certain stability.  <br> <br>Basically, a disc hernia is when the disc is protected around a very hard fibrous tissue called the fibrous ring and protects inside a gel that is 70% water. This gel has the characteristic that the more we compress it, the harder it gets and the more it can withstand loads. But sometimes that protective layer breaks and forms a bulge, like when you hit a car tire very hard - that's a disc hernia.<br> <br> The problem with these disc hernias is that behind where that cushion is located, some cables pass through. One of those cables are called nerve roots or nerves. These pass information from the brain to the spine and to wherever they're connected. <br> <br>The problem when I compress the root is that it will cause pain wherever that nerve passes. It can be pain or it can be loss of sensation, or it can be loss of strength, because the muscles are not acting as they should, because that information cable is being pinched, so to speak.<br> <br><div class='text-white font-bold'>When to operate on cervicals?</div><br> Approximately 60% of all disc hernias are treated conservatively, but when this conservative treatment fails or meets certain characteristics that make it a type of emergency, so to speak, such as intractable pain or very significant loss of motor function or movement, then surgery is performed. What is done is to remove the hernia and it has to be replaced with something. <br> <br><div class='text-white font-bold'>What are the types of surgery?</div><br>  One of them is to put a little box instead of the disc, there are some where just the box is placed and others where the box and a plate in front are placed to fuse. The idea is to replace the work that the disc was doing and after these parts of the cervical spine are fused together, there is another type of surgery but this is only for very selected patients and that is to put a disc prosthesis. This basically replaces what the disc does.<br> Normally it's not done for many levels and the patient has to be very carefully selected in that there should be no wear at all. Normally it's a young patient, there should be no instability at all, meaning the spine shouldn't move where it's not supposed to move.<br> <br><div class='text-white font-bold'> Is mobility lost after surgery?</div><br> The truth is that it's not much. To the point that the patient or you will adapt to that movement.<br> <br> If you are looking for more information about surgeries for cervical hernia, I invite you to send a message or make an appointment - the contact information is below to communicate with us or you can also send us a message through email, also at the bottom of the page.";
  keywords =
    "traumatology, traumatologist, cervical disc herniation, neck pain treatment, spine surgery, Tijuana";
} else if (procedureParam === "meniscus-injuries") {
  videoId = "s5M7VUuY4js";
  title = "Meniscus injuries";
  duration = "PT3M55S";

  background = "/Lesiones-en-meniscos-tratamiento-conservador-en-Tijuana.png";
  content =
    "<div class='text-white font-bold'>What are menisci?</div> <br> They are cushions whose main function is to give us some stability in the knee, but above all, to protect the cartilage from the forces that go through the joint. <br><br> An example I usually give patients is that the meniscus works like when you throw a stone into a lake. Just as you see those waves spreading outwards, that is exactly what the meniscus does when we walk, run, or jump—it distributes the force in a harmonic way. <br><br> <div class='text-white font-bold'>How do they get injured?</div> <br> They can be injured in many ways. In sports, there can be degenerative injuries that come with age, or a bad movement can trap and tear the meniscus. <br><br> <div class='text-white font-bold'>Types of approach</div> <br> There are non-surgical and surgical treatments. <br><br> Surgical treatment depends largely on whether there is a mechanical symptom in the knee. <br><br> What does this mean? <br> If the meniscus is torn and that fragment gets stuck in the knee when we move it, the patient suddenly suffers from severe pain and the knee locks. This is called a mechanical or articular lock and is a surgical indication. <br><br> Another case is certain injuries that make the meniscus unstable and put the survival of the knee at risk. For example, when the meniscus tears from the back or from the root, it is basically as if you had no meniscus. If it is not repaired in time, the knee wears down more quickly. The problem is that at some point, repairing the meniscus is no longer worthwhile because the result will not be the same and the wear has already progressed. <br><br> <div class='text-white font-bold'>Types of surgery</div> <br> When it comes to meniscus surgery, there are two main groups: <br><br> One: repair, depending on the type of injury or injuries. This repair can be done with anchors, special sutures, among other techniques. The goal is to restore the meniscus. <br><br> The other option is remodeling or meniscectomy, whether partial or complete, which basically means removing the diseased part of the meniscus and leaving it that way. Both options have their pros and cons. <br><br> In both cases, we always try to preserve the meniscus. If it can be saved and repaired, that’s the best option. But there comes a point when, depending on the duration of the injury, the associated wear, or other factors, repairing it may no longer be ideal. At that point, remodeling is performed. <br><br> <div class='text-white font-bold'>Recovery</div> <br> Recovery is very different for the two procedures. <br><br> A meniscus repair is almost like having a fracture in the knee. Certain precautions must be taken: no weight-bearing, avoiding specific movements for up to four weeks, and then gradually starting physical therapy while waiting for the meniscus to heal or scar. <br><br> In the case of a remodeling or meniscectomy, the cut is made, and after a few days or about a week of being cautious, the patient can usually walk right away. Recovery is generally much faster. <br><br> If you have questions about surgery for meniscus injuries, I invite you to schedule an appointment. You can send us a message or an email at the bottom of the page, and we will get back to you as soon as possible. <br>";
  keywords =
    "traumatology, traumatologist, meniscus injuries, knee treatment, orthopedic surgery, Tijuana";
} else if (procedureParam === "articular-infiltrations") {
  videoId = "4ExmTZNFOzA";
  title = "What is infiltration therapy?";
  duration = "PT3M30S";
  background = "/infiltracion-articular-por-el-doctor-monge.webp";
  content = `An infiltration is the injection of a substance or medication into a specific area. Normally, the ones we hear about most are inside joints — the knee, the hip, the spine — but in reality, it can be done in all parts of the body for certain purposes.<br/><br/>

Infiltrations with corticosteroids:<br/><br/>

One of them is the steroid anti-inflammatory, which is the tried and true option. It is an anti-inflammatory that basically all types of infiltrations in tests and studies must be compared against in terms of effect and duration, or be comparable enough to be considered somewhat valid to start using it.<br/><br/>

It is the cheapest and its effect is a little faster than others. It is injected with anesthetic and we usually wait about two weeks to see the full effect. What goes away, goes away; what remains, remains — and from there we see how long it will last. For many patients, it lasts a long time and works very well. Obviously, we combine this with other treatments to improve the effect, for example: physical therapy, medications, etc. For some patients, it doesn’t work as well. That sometimes tells us about the severity or how advanced the problem is, and unfortunately, if it doesn’t work well or doesn’t last long, it means that perhaps other options need to be considered.<br/><br/>

Infiltration with PRP:<br/><br/>

Platelet-rich plasma, simply put, involves drawing blood from the patient, processing or centrifuging it, and extracting the part that contains the platelets, which are then reintroduced.<br/><br/>

The idea of reinjecting it, as I tell patients, is that it is the closest thing to something natural the patient can have to reduce inflammation and pain. It does not regenerate, it’s not magic, it will not create new cartilage or many of the things that are sometimes used to sell the idea of injecting it. It works very well when done properly, significantly reducing inflammation and pain, and it has some properties that might help in repairing certain tissues, but it will not regenerate.<br/><br/>

It has been observed that platelet-rich plasma tends to last a little longer than steroid anti-inflammatory injections. The only downside is that it is recommended to be infiltrated 2 to 3 times.<br/><br/>

The timing between each infiltration varies, but the idea is that if you decide to do it, it should be done properly. The cost is also a bit higher than steroids.<br/><br/>

Infiltration with Hyaluronic Acid:<br/><br/>

Hyaluronic acid is a substance that the knee or cartilage produces by itself. It helps somewhat with lubrication and nutrition of the cartilage, the impact of forces, and how all the cells in the knee’s biomechanics are managed.<br/><br/>

It is a substance injected as a gel-like material that basically replaces the hyaluronic acid no longer present in the knee. It helps somewhat with lubrication, volume, and provides some nutrition to the cartilage. Some formulations, or at least those I personally use, combine it with an anti-inflammatory to have the benefits of both, but it can also be injected alone.<br/><br/>

Many presentations come as three separate doses or one complete dose of six milliliters. The separate doses are two milliliters each and can be administered at intervals until the three doses are completed. Personally, I don’t like to give the patient three separate injections, so all three can be given in a single session with the same effect as buying the more expensive single dose. The goal is also to reduce inflammation and pain.<br/><br/>

The timing for hyaluronic acid is more debatable than for the other two because it depends heavily on the severity and whether the knee is in an optimal condition for hyaluronic acid injection.<br/><br/>

When is it used?  
It is used when there is wear and tear, not for meniscus injuries or certain knee pains, since that is not the indication for hyaluronic acid.<br/><br/>

When to use it?<br/><br/>

Depending on what is being sought, all patients must consider the severity of the wear and whether any of these types of infiltrations are appropriate — and, of course, the costs. The idea is to reduce pain and inflammation enough so that the patient can undergo physical therapy and carry out daily activities without discomfort. There will come a time when these infiltrations start to fail and become less effective as the wear problem progresses.`;
  keywords =
    "orthopedics, infiltration therapy, PRP, hyaluronic acid, corticosteroids, joint pain, orthopedist, Tijuana";
}

const URL = Astro.url.pathname.startsWith("/en/");
---

<Layout
  title={`Dr. Ricardo Monge - ${title}`}
  description={`Consultation for ${title} in Tijuana. Learn about treatments, procedures, and expert care by Dr. Ricardo Monge.`}
  keywords={`${keywords}`}
  videoTitle={`${title}`}
  videoDescription={`${content}`}
  videoId={`${videoId}`}
  uploadDate={`${uploadDate}`}
  duration={`${duration}`}
/>

<main>
  <div
    class="fixed flex flex-col items-center justify-center h-screen gap-4 px-14 z-20"
  >
    <div class="border-r border-gray-200 h-48 lg:block hidden z-10"></div>
    <a
      href="https://www.facebook.com/drmonge.ortho/?locale=ms_MY"
      target="_blank"
      class="lg:block hidden mb-2"
    >
      <Facebook class="cursor-pointer" />
    </a>
    <a
      href="https://www.tiktok.com/@elmongedelaortopedia"
      target="_blank"
      class="lg:block hidden mb-2"
    >
      <Tiktok class="cursor-pointer" />
    </a>
    <a
      href="https://www.instagram.com/drmonge.ortho/?hl=es"
      target="_blank"
      class="lg:block hidden mb-2"
    >
      <Instagram class="cursor-pointer" />
    </a>
    <a
      href="https://www.doctoralia.com.mx/ricardo-luis-monge-romero/ortopedista-traumatologo/tijuana"
      target="_blank"
      class="lg:block hidden mb-2"
    >
      <Doctorialia class="cursor-pointer" />
    </a>
    <div class="border-r border-gray-200 h-48 lg:block hidden z-10"></div>
  </div>
  <section
    transition:animate={slide({
      duration: "0.8s",
    })}
  >
    <Background background={background} />
    <Video videoId={videoId} />
    <Content title={title} content={content} />
    <hr />
    <Footer otrosProcedimientos={otrosProcedimientos} URL={URL} />
  </section>
</main>

<style>
  main {
    color: white;
    overflow-y: auto;
    height: 100vh;
    position: relative;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scrollbar-width: none;
    overflow-x: hidden;
  }
</style>
