---
import Footer from "@components/fichas/Footer.astro";
import FichaPDF from "@components/fichas/FichaPDF";
import MenuFicha from "@components/fichas/MenuFicha";
import Layout from "@layouts/LayoutFicha.astro";
import { slide } from "astro:transitions";
export function getStaticPaths() {
  return [
    { params: { part: "recommendations-for-healthy-spine" } },
    {
      params: {
        part: "total-hip-replacement-postoperative-instructions",
      },
    },
    {
      params: {
        part: "total-knee-replacement-postoperative-instructions",
      },
    },
    {
      params: {
        part: "knee-arthroscopy-postoperative-instructions",
      },
    },
    { params: { part: "general-preoperative-recommendations" } },
  ];
}

const fichasData = {
  "recommendations-for-healthy-spine": {
    title: "Dr Monge | Recommendations for a healthy spine",
    description: "Technical sheet description.",
    keywords: "technical-sheet, doctor, monge",
    bannerTitle: "March 8, 2025",
    bannerDate: "Recommendations for a healthy spine",
  },
  "total-hip-replacement-postoperative-instructions": {
    title: "Dr Monge | Postoperative instructions for total hip replacement",
    description: "Technical sheet description.",
    keywords: "technical-sheet, doctor, monge",
    bannerTitle: "March 27, 2025",
    bannerDate: "Postoperative instructions for total hip replacement",
  },
  "total-knee-replacement-postoperative-instructions": {
    title: "Dr Monge | Postoperative instructions for total knee replacement",
    description: "Technical sheet description.",
    keywords: "technical-sheet, doctor, monge",
    bannerTitle: "April 1, 2025",
    bannerDate: "Postoperative instructions for total knee replacement",
  },
  "knee-arthroscopy-postoperative-instructions": {
    title: "Dr Monge | Postoperative instructions for knee arthroscopy",
    description: "Technical sheet description.",
    keywords: "technical-sheet, doctor, monge",
    bannerTitle: "April 8, 2025",
    bannerDate: "Postoperative instructions for knee arthroscopy",
  },
  "general-preoperative-recommendations": {
    title: "Dr Monge | General preoperative recommendations",
    description: "Technical sheet description.",
    keywords: "technical-sheet, doctor, monge",
    bannerTitle: "April 14, 2025",
    bannerDate: "General preoperative recommendations",
  },
};

const { part } = Astro.params;
const fichaData = fichasData[part as keyof typeof fichasData];
const year = new Date().getFullYear();

const URL = Astro.url.pathname.startsWith("/en/");
const parts = [
  {
    nombre: "Recommendations for a healthy spine",
    ruta: "recommendations-for-healthy-spine",
  },
  {
    nombre: "Postoperative instructions for total hip replacement",
    ruta: "total-hip-replacement-postoperative-instructions",
  },
  {
    nombre: "Postoperative instructions for total knee replacement",
    ruta: "total-knee-replacement-postoperative-instructions",
  },
  {
    nombre: "Postoperative instructions for knee arthroscopy",
    ruta: "knee-arthroscopy-postoperative-instructions",
  },
  {
    nombre: "General preoperative recommendations",
    ruta: "general-preoperative-recommendations",
  },
];

const otrosFichas = parts.filter((p) => p.ruta !== part);
---

<Layout
  title={fichaData.title}
  description={fichaData.description}
  keywords={fichaData.keywords}
>
  <div
    class="text-white relative"
    transition:animate={slide({
      duration: "0.8s",
    })}
  >
    {
      part === "recommendations-for-healthy-spine" && (
        <>
          <section class="bg-[url(/banner-ficha-mobile.webp)] md:bg-[url(/banner-ficha.webp)] bg-cover bg-no-repeat h-[700px] relative">
            <div class="absolute inset-0 bg-black bg-opacity-30" />

            <div class="absolute left-4 md:left-16 bottom-32">
              <p class="md:text-6xl text-3xl mb-4 font-semibold">
                {fichaData.bannerDate}
              </p>
              <h1 class="text-2xl font-bold ">{fichaData.bannerTitle}</h1>
            </div>
          </section>
          <section class="md:px-16 border-white border-t-4 border-b-4 py-8">
            <FichaPDF
              title="1. Recommendations for a Healthy Vertebral Spine.pdf"
              pdf="/Recomendaciones-para-una-Columna-Vertebral-Sana.pdf"
              client:only="react"
            />
          </section>
          <Footer otrosFichas={otrosFichas} URL={URL} />
        </>
      )
    }
    {
      part === "total-hip-replacement-postoperative-instructions" && (
        <>
          <section class="bg-[url(/banner-ficha2-mobile.webp)] md:bg-[url(/banner-ficha2.webp)] bg-cover bg-no-repeat h-[700px] relative">
            <div class="absolute inset-0 bg-black bg-opacity-30" />

            <div class="absolute left-4 md:left-16 bottom-32">
              <p class="md:text-6xl text-3xl mb-4 font-semibold">
                {fichaData.bannerDate}
              </p>{" "}
              <h1 class="text-2xl font-bold mb-4">{fichaData.bannerTitle}</h1>
            </div>
          </section>
          <section class="md:px-16 border-white border-t-4 border-b-4 py-8">
            <FichaPDF
              title="2. Postoperative instructions for total hip replacement.pdf"
              pdf="/Instrucciones-postoperatorias-de-reemplazo-total-de-cadera.pdf"
              client:only="react"
            />
          </section>
          <Footer otrosFichas={otrosFichas} URL={URL} />
        </>
      )
    }
    {
      part === "total-knee-replacement-postoperative-instructions" && (
        <>
          <section class="bg-[url(/banner-ficha3-mobile.webp)] md:bg-[url(/banner-ficha3.webp)] bg-cover bg-no-repeat h-[700px] relative">
            <div class="absolute inset-0 bg-black bg-opacity-30" />

            <div class="absolute left-4 md:left-16 bottom-32">
              <p class="md:text-6xl text-3xl mb-4 font-semibold">
                {fichaData.bannerDate}
              </p>{" "}
              <h1 class="text-2xl font-bold mb-4">{fichaData.bannerTitle}</h1>
            </div>
          </section>
          <section class="md:px-16 border-white border-t-4 border-b-4 py-8">
            <FichaPDF
              title="3. Total knee replacement postoperative instructions.pdf"
              pdf="/Instrucciones-Postoperatorias-para-paciente-de-reemplazo-total-de-rodilla.pdf"
              client:only="react"
            />
          </section>
          <Footer otrosFichas={otrosFichas} URL={URL} />
        </>
      )
    }
    {
      part === "knee-arthroscopy-postoperative-instructions" && (
        <>
          <section class="bg-[url(/banner-ficha4-mobile.webp)] md:bg-[url(/banner-ficha4.webp)] bg-cover bg-no-repeat h-[700px] relative">
            <div class="absolute inset-0 bg-black bg-opacity-30" />

            <div class="absolute left-4 md:left-16 bottom-32">
              <p class="md:text-6xl text-3xl mb-4 font-semibold">
                {fichaData.bannerDate}
              </p>{" "}
              <h1 class="text-2xl font-bold mb-4">{fichaData.bannerTitle}</h1>
            </div>
          </section>
          <section class="md:px-16 border-white border-t-4 border-b-4 py-8">
            <FichaPDF
              title="4. Knee astroscopy postoperative instructions.pdf"
              pdf="/instrucciones-postoperatorias-para-paciente-artroscopia-de-rodilla.pdf"
              client:only="react"
            />
          </section>
          <Footer otrosFichas={otrosFichas} URL={URL} />
        </>
      )
    }
    {
      part === "general-preoperative-recommendations" && (
        <>
          <section class="bg-[url(/banner-ficha5-mobile.webp)] md:bg-[url(/banner-ficha5.webp)] bg-cover bg-no-repeat h-[700px] relative">
            <div class="absolute inset-0 bg-black bg-opacity-30" />

            <div class="absolute left-4 md:left-16 bottom-32">
              <p class="md:text-6xl text-3xl mb-4 font-semibold">
                {fichaData.bannerDate}
              </p>{" "}
              <h1 class="text-2xl font-bold mb-4">{fichaData.bannerTitle}</h1>
            </div>
          </section>
          <section class="md:px-16 border-white border-t-4 border-b-4 py-8">
            <FichaPDF
              title="5. General preoperative recommendations.pdf"
              pdf="/documentos-de-preparacion.pdf"
              client:only="react"
            />
          </section>
          <Footer otrosFichas={otrosFichas} URL={URL} />
        </>
      )
    }
    <MenuFicha client:only="react" />
  </div>
</Layout>
