---
const { URL } = Astro.props;

const Information_es = [
  {
    icon: "/ficha1.webp",
    title: "Recomendaciones para una columna sana",
    text: "En este documento encontrarás ejercicios y recomendaciones ilustradas de higiene de columna.",
    link: "/fichas/recomendaciones-para-una-columna-sana/",
  },
  {
    icon: "/ficha2.webp",
    title: "Guía postoperatorias de Reemplazo total de cadera",
    text: "En este documento podrás encontrar pautas y recomendaciones necesarias para tu recuperación.",
    link: "/fichas/instrucciones-postoperatorias-de-reemplazo-total-de-cadera/",
  },
  {
    icon: "/ficha3.webp",
    title: "Guía postoperatorias de Reemplazo total de rodilla",
    text: "Te comparto cuidados y recomendaciones para una reincorporación exitosa en tus actividades diarias.",
    link: "/fichas/instrucciones-postoperatorias-de-reemplazo-total-de-rodilla/",
  },
  {
    icon: "/ficha4.webp",
    title: "Guía postoperatorias de artroscopia de rodilla",
    text: "En este documento te resumo los cuidados y consejos clave para una recuperación exitosa.",
    link: "/fichas/instrucciones-postoperatorias-de-artroscopia-de-rodilla/",
  },
  {
    icon: "/ficha5.webp",
    title: "Recomendaciones generales preoperatorias",
    text: "Te presento puntos claves para que puedas conocer los pasos previos a tu intervención.",
    link: "/fichas/recomendaciones-generales-preoperatorias/",
  },
];

const Information_en = [
  {
    icon: "/ficha1.webp",
    title: "Recommendations for a healthy spine",
    text: "This document contains illustrated spine hygiene exercises and recommendations.",
    link: "/fichas/recomendaciones-para-una-columna-sana/",
  },
  {
    icon: "/ficha2.webp",
    title: "Postoperative Guide for Total Hip Replacement",
    text: "This document provides necessary guidelines and recommendations for your recovery.",
    link: "/fichas/instrucciones-postoperatorias-de-reemplazo-total-de-cadera/",
  },
  {
    icon: "/ficha3.webp",
    title: "Postoperative Guide for Total Knee Replacement",
    text: "Here you'll find care instructions and recommendations for a successful return to daily activities.",
    link: "/fichas/instrucciones-postoperatorias-de-reemplazo-total-de-rodilla/",
  },
  {
    icon: "/ficha4.webp",
    title: "Postoperative Guide for Knee Arthroscopy",
    text: "This document summarizes key care tips and advice for a successful recovery.",
    link: "/fichas/instrucciones-postoperatorias-de-artroscopia-de-rodilla/",
  },
  {
    icon: "/ficha5.webp",
    title: "General Preoperative Recommendations",
    text: "This guide outlines key steps to prepare for your upcoming procedure.",
    link: "/fichas/recomendaciones-generales-preoperatorias/",
  },
];
---

<div
  class="h-screen flex md:justify-center md:items-start flex-col w-[80%] mx-auto"
>
  <h1 class="font-medium text-[21px] md:text-[42px] mt-16 md:mt-0">
    {
      URL
        ? "Ortho tips and guides to download"
        : "Orto tips y guías para descargar"
    }
  </h1>
  <p class="font-bold text-[14px] md:text-[16px] text-[#969596] mb-8">
    {
      URL
        ? "Available files. View them online or download them to your mobile."
        : "Archivos disponibles. Visualízalos en línea o descárgalos a tu móvil."
    }
  </p>
  <div class="w-full relative">
    <div
      class="bg-black text-white py-16 px-8 w-[90%] md:max-h-[550px] max-h-[480px] scrollbar-blue overflow-y-auto"
    >
      {
        (URL ? Information_en : Information_es).map((item, index) => (
          <>
            {/* Fila completa para cada elemento */}
            <div class="grid grid-cols-1 md:grid-cols-3 gap-8 items-center">
              {/* Primera columna: Imagen */}
              <div class="flex justify-center">
                <img
                  src={item.icon}
                  alt={item.title}
                  title={item.title}
                  class="w-32 h-32"
                />
              </div>
              {/* Segunda columna: PDF y título */}
              <div class="flex flex-col items-start">
                <p class="text-xl text-[#969596] mb-2">PDF</p>
                <a
                  href={item.link}
                  class="text-white cursor-pointer hover:text-[#005692] font-bold text-2xl"
                >
                  {item.title}
                </a>
              </div>
              {/* Tercera columna: Texto */}
              <div>
                <h3 class="text-lg text-[#969596]">{item.text}</h3>
                <div class="py-4 md:hidden block">
                  <a class="mb-8 bg-blue-500 px-4 py-2" href={item.link}>
                    {URL ? "View Technical Sheet" : "Ver Ficha Técnica"}
                  </a>
                </div>
              </div>
            </div>
            {/* Línea divisora después de cada fila */}
            {index + 1 !== (URL ? Information_en : Information_es).length && (
              <hr class="my-4 border-t border-[#969596]" />
            )}
          </>
        ))
      }
    </div>
  </div>
</div>

<style>
  .scrollbar-blue::-webkit-scrollbar {
    width: 10px;
  }

  .scrollbar-blue::-webkit-scrollbar-track {
    background: #1a1a1a;
    border-radius: 10px;
  }

  .scrollbar-blue::-webkit-scrollbar-thumb {
    background: #005692;
    border-radius: 10px;
  }

  .scrollbar-blue::-webkit-scrollbar-thumb:hover {
    background: #003d66;
  }
</style>
