---
import Navbar from "../components/Navbar.astro";
import { ViewTransitions } from "astro:transitions";

interface Props {
  title: string;
  description: string;
  keywords: string;
}

import "@fontsource-variable/inter";

const { title, description, keywords } = Astro.props;

const canonicalUrl = Astro.url.href.endsWith("/")
  ? Astro.url.href
  : Astro.url.href + "/";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="https://mongeortopedia.com/preview.png" />
    <meta name="generator" content={Astro.generator} />
    <meta name="keywords" content={keywords} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="canonical" href={canonicalUrl} />
    <meta name="author" content="Doctor Monge" />
    <meta name="publisher" content="Ecommetrica" />
    <meta name="robots" content="index, follow" />
    <meta property="og:url" content="https://mongeortopedia.com/" />
    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content="Dr. Ricardo Monge especialista en traumatología en Tijuana"
    />
    <meta
      property="og:description"
      content="Recibe la atención en ortopedia con el Dr. Ricardo Monge especializado en lesiones musculoesqueléticas en rodillas, cadera y columna en Tijuana."
    />
    <meta property="og:image" content="https://mongeortopedia.com/og.jpg" />
    <script
      type="text/partytown"
      is:inline
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-ML4B63MEC1"></script>
    <script is:inline type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        window.dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-ML4B63MEC1");
    </script>
    <script type="text/partytown">
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-56JJJJZZ");
    </script>
    <script
      type="text/partytown"
      async
      src="https://www.googletagmanager.com/gtag/js?id=AW-11309383024"></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "AW-11309383024");
    </script>
    <script type="text/partytown">
      !(function (f, b, e, v, n, t, s) {
        if (f.fbq) return;
        n = f.fbq = function () {
          n.callMethod
            ? n.callMethod.apply(n, arguments)
            : n.queue.push(arguments);
        };

        if (!f._fbq) f._fbq = n;
        n.push = n;
        n.loaded = !0;
        n.version = "2.0";

        n.queue = [];
        t = b.createElement(e);
        t.async = !0;

        t.src = v;
        s = b.getElementsByTagName(e)[0];

        s.parentNode.insertBefore(t, s);
      })(
        window,
        document,
        "script",

        "https://connect.facebook.net/en_US/fbevents.js"
      );

      fbq("init", "487515010536352");

      fbq("track", "PageView");
    </script>
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "LocalBusiness",
        "name": "Dr Ricardo Monge",
        "url": "https://mongeortopedia.com/",
        "specialty": "Traumatólogo ortopedista",
        "medicalSpecialty": "Orthopedics",
        "description": "Soy traumatólogo ortopedista, especialista en lesiones articulares, reemplazo de cadera, rodilla, patologías de hombro y cirugía de columna en Tijuana B.C.",
        "telephone": "+52 664 976 3510",
        "email": "pacientes@mongeortopedia.com",
        "address": {
          "@type": "PostalAddress",
          "streetAddress": "Fray Servando Teresa de Mier 1351-Interior 809-810, Zona Urbana Rio Tijuana",
          "addressLocality": "Tijuana",
          "addressRegion": "Baja California",
          "postalCode": "22010",
          "addressCountry": "MX"
        },
        "openingHours": "Mo-Fr 10:00-18:00",
        "sameAs": [
          "https://www.facebook.com/drmonge.ortho",
          "https://www.instagram.com/drmonge.ortho",
          "https://www.tiktok.com/@elmongedelaortopedia",
          "https://www.doctoralia.com.mx/ricardo-luis-monge-romero/ortopedista-traumatologo/tijuana"
        ],
        "knowsLanguage": ["es", "en"],
        "paymentAccepted": "Efectivo, Tarjeta",
        "hasMap": "https://maps.app.goo.gl/32KM4WsuAu5csZgG6",
        "wheelchairAccessible": true,
        "hasOfferCatalog": {
          "@type": "OfferCatalog",
          "name": "Servicios de Ortopedia",
          "itemListElement": [
            {
              "@type": "Offer",
              "itemOffered": {
                "@type": "Service",
                "name": "Artroplastia de la cadera con prótesis total"
              }
            },
            {
              "@type": "Offer",
              "itemOffered": {
                "@type": "Service",
                "name": "Artroplastia rodilla con prótesis total"
              }
            },
            {
              "@type": "Offer",
              "itemOffered": {
                "@type": "Service",
                "name": "Artroscopia de rodilla"
              }
            },
            {
              "@type": "Offer",
              "itemOffered": {
                "@type": "Service",
                "name": "Cirugía de hernia discal cervical"
              }
            },
            {
              "@type": "Offer",
              "itemOffered": {
                "@type": "Service",
                "name": "Cirugía de lesiones en ligamentos y meniscos"
              }
            },
            {
              "@type": "Offer",
              "itemOffered": {
                "@type": "Service",
                "name": "Hernia de disco lumbar"
              }
            },
            {
              "@type": "Offer",
              "itemOffered": {
                "@type": "Service",
                "name": "Manejo del dolor en columna y cirugía de columna"
              }
            },
            {
              "@type": "Offer",
              "itemOffered": {
                "@type": "Service",
                "name": "Reconstrucción ligamentos cruzados de rodilla por artroscopia"
              }
            },
            {
              "@type": "Offer",
              "itemOffered": {
                "@type": "Service",
                "name": "Reducción ortopédica e inmovilización de fracturas y/o luxaciones"
              }
            }
          ]
        },
        "alumniOf": [
          {
            "@type": "EducationalOrganization",
            "name": "Universidad Xochicalco",
            "url": "https://www.xochicalco.edu.mx"
          },
          {
            "@type": "EducationalOrganization",
            "name": "Universidad Nacional Autónoma de México",
            "url": "https://www.unam.mx"
          }
        ],
        "award": {
          "@type": "Award",
          "name": "4to. Lugar Nacional FEMECOT 2022",
          "description": "Realicé Investigación de Incidencia de lesión del ligamento nucal en esguince cervical valorado por ultrasonido en el Hospital General del Estado de Sonora para mi certificación como médico especialista en traumatología y ortopedia",
          "dateReceived": "2022"
        },
        "aggregateRating": {
          "@type": "AggregateRating",
          "ratingValue": "5",
          "reviewCount": "9",
          "bestRating": "5",
          "worstRating": "1"
        },
        "review": [
          {
            "@type": "Review",
            "datePublished": "2023-01-15",
            "reviewBody": "Definitivamente una de las mejores consultas a las que hemos asistido...",
            "author": { "@type": "Person", "name": "Surplus EAC" },
            "reviewRating": {
              "@type": "Rating",
              "ratingValue": "5",
              "bestRating": "5"
            }
          },
          {
            "@type": "Review",
            "datePublished": "2023-02-20",
            "reviewBody": "El Dr. Ricardo Monge Romero ofrece una atención al cliente excepcional...",
            "author": { "@type": "Person", "name": "Mario Ortiz" },
            "reviewRating": {
              "@type": "Rating",
              "ratingValue": "5",
              "bestRating": "5"
            }
          },
          {
            "@type": "Review",
            "datePublished": "2023-03-10",
            "reviewBody": "Nos gustó mucho su trato y el tratamiento que nos dio...",
            "author": { "@type": "Person", "name": "Alejandra Monraz" },
            "reviewRating": {
              "@type": "Rating",
              "ratingValue": "5",
              "bestRating": "5"
            }
          },
          {
            "@type": "Review",
            "reviewBody": "Un doctor al que le importan al 100% sus pacientes...",
            "author": { "@type": "Person", "name": "Adrian Pliego" },
            "reviewRating": {
              "@type": "Rating",
              "ratingValue": "5",
              "bestRating": "5"
            }
          },
          {
            "@type": "Review",
            "reviewBody": "Excelente doctor, explica todo muy bien y es muy atento...",
            "author": { "@type": "Person", "name": "Denisse Limon" },
            "reviewRating": {
              "@type": "Rating",
              "ratingValue": "5",
              "bestRating": "5"
            }
          },
          {
            "@type": "Review",
            "reviewBody": "Excelente Dr, muy profesional, te brinda la mejor atención...",
            "author": { "@type": "Person", "name": "MICHELLE MORENO" },
            "reviewRating": {
              "@type": "Rating",
              "ratingValue": "5",
              "bestRating": "5"
            }
          },
          {
            "@type": "Review",
            "reviewBody": "Excelente el trato del Dr. Monge!...",
            "author": { "@type": "Person", "name": "Perla Rob" },
            "reviewRating": {
              "@type": "Rating",
              "ratingValue": "5",
              "bestRating": "5"
            }
          },
          {
            "@type": "Review",
            "reviewBody": "Excelente traumatólogo, su servicio es excelente...",
            "author": { "@type": "Person", "name": "Ramon Dominguez" },
            "reviewRating": {
              "@type": "Rating",
              "ratingValue": "5",
              "bestRating": "5"
            }
          },
          {
            "@type": "Review",
            "reviewBody": "Excelente Dr. Un gran ser humano...",
            "author": { "@type": "Person", "name": "Denise Gmz" },
            "reviewRating": {
              "@type": "Rating",
              "ratingValue": "5",
              "bestRating": "5"
            }
          }
        ]
      }
    </script>

    <ViewTransitions />
  </head>
  <body>
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-56JJJJZZ"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >
    <noscript
      ><img
        height="1"
        width="1"
        style="display:none"
        src="https://www.facebook.com/tr?id=487515010536352&ev=PageView&noscript=1"
      /></noscript
    >
    <Navbar />
    <slot />
    <style is:global>
      html {
        background-color: #161616;
      }
      body {
        font-family: "Inter Variable", sans-serif;
      }
    </style>
  </body>
</html>
